<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>채팅 서비스</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</head>
<body>


<label for="roomName" class="label label-default"></label>
<label id="roomName" class="form-inline" style="font-size: 30px;"></label>
<hr style="width: 95%;margin: 0 auto; color: black;border: 1px solid;">

<div id="chatroom" style="height: 550px;position: relative;overflow-y: scroll;padding: 10px;">
    <div class="receiverId" ></div>
</div>


<hr style="width: 99%;margin: 0 auto; color: black;border: 1px solid;">
<div style="margin-bottom: 20px;text-align: center;position: fixed;width: 100%;bottom: 0;">
    <div >

        <input type="text" id="message" style="height: 60px;width: 65%;" placeholder="내용을 입력하세요" autocomplete="off">

        <input type="button" id="send" style="    height: 60px;    width: 20%;" value="전송"/>

    </div>
</div>

</body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


<script>


    let today = new Date();

    let year = today.getFullYear(); // 년도
    let month = today.getMonth() + 1;  // 월
    let date = today.getDate();  // 날짜
    let day = today.getDay();  // 요일
    let hours = today.getHours(); // 시
    let minutes = today.getMinutes();  // 분

    let time = `${month}월${date}일 ${hours}:${minutes}`


    //로그인한 세션
    const v = sessionStorage.getItem("mineSession");
    //방이름
    const vv = sessionStorage.getItem("namev");
    //상대방이름
    const vvv = sessionStorage.getItem("innerText");

    let receiverIdP = document.querySelector('.receiverId')
    let senderIdP = document.querySelector('.senderId')


    let chatdata = "";
    $.ajax({
        url: `/messageList/${v}/${vvv}`,
        dataType: "json",
        type: "get",
        async: false,
        success: function (data) {
            chatdata = data

        },
        error: function () {
            alert("실패");
        }
    });

    //방이름 append
    removesession()

    function removesession() {
        //얘는 변수 바꿔도댐
        const nametd = document.getElementById('roomName');
        document.getElementById('roomName').append(vv);
        let receiverName = nametd.innerText
        let matchname = receiverName.match(v)
        let finl = receiverName.replace(matchname, '');
        nametd.innerText = finl
    }


    chatdata?.map((c) => {

        let chatTime = c.chatTime;
        let message = c.message;
        let receiverId = c.receiverId;
        let senderId = c.senderId;


        //채팅출력
        v === senderId ? receiverIdP.innerHTML += `
         <div style="width:99%">
            <div style="text-align: right;    margin-top: 20px;">
        <span style="line-height: 40px;    display: inline-block;    border: 1px solid;    border-radius: 10px;    padding: 0px 5px;    height: 45px;     font-size: 17px;" ><span style="font-size: 10px;">${time}</span> &nbsp;&nbsp;&nbsp; ${message}</span> <br/>
        </div></div>` :
            receiverIdP.innerHTML += `
            <div style="text-align:left; margin-top: 10px;
             border: 1px solid black;width: 45%;padding: 5px; border-radius: 10px;
             ">
            <span style="font-size: 17px;font-weight: bold ">${senderId}</span> <br/>
            <span style="font-size: 17px;">${message}</span>&nbsp;&nbsp;&nbsp;<span style="font-size:10px;">${time}</span>

            </div>`


        // <div class="senderidid" style="border: 1px solid black;width: 80%;padding: 5px; border-radius: 10px;"><span style="font-size:15px; font-weight: 600">${senderId} : ${message}</span>    <span style="font-size:10px">${chatTime} </span>  </div></br>
        // `:


    })


    let webSocket;
    let nickname = v
    let roomId = vv;





    $(document).ready(function () {
        connect();

        document.getElementById('chatroom').scrollTop = document.getElementById('chatroom').scrollHeight;
        window.resizeTo(500, 800);
    })


    document.getElementById("send").addEventListener("click", function () {
        send(v, vvv);
    })

    function connect() {
        webSocket = new WebSocket("ws://localhost:7777/chat");
        webSocket.onopen = onOpen;
        webSocket.onclose = onClose;
        webSocket.onmessage = onMessage;


    }

    function disconnect() {
        webSocket.send(JSON.stringify({chatRoomId: roomId, type: 'LEAVE', writer: nickname}));
        webSocket.close();
    }

    function send() {



        msg = document.getElementById("message").value;
        webSocket.send(JSON.stringify({
            chatRoomId: roomId,
            type: 'CHAT',
            writer: nickname,
            message: msg,
            chatTime: time,

        }));


        document.getElementById("message").value = "";



        let data = {
            message: msg,
            roomName: roomId,
            chatTime: time

        }





        let JSONData = JSON.stringify(data)
        $.ajax({
            type: "POST",
            url: `/chatSave/${v}/${vvv}`,
            data: JSONData,

            contentType: "application/json",
            success: function () {


            },
            error: function (err) {
                alert("실패")
                console.log(err)
                console.log(this.url);
            }

        })


    }

    function onOpen() {
        webSocket.send(JSON.stringify({chatRoomId: roomId, type: 'ENTER', writer: nickname}));


    }



    function onMessage(e) {
        console.log(e)
        let data = e.data;

        let dates = JSON.parse(data)

        chatroom = document.getElementById("chatroom");
        dates.search(nickname)?
        chatroom.innerHTML +=`
            <div style="text-align:left; margin-top: 10px;
             border: 1px solid black;width: 45%;padding: 5px; border-radius: 10px;
             ">

            <span style="font-size: 17px;">${dates}</span>

            </div>`:
            chatroom.innerHTML += `
         <div style="width:99%">
            <div style="text-align: right;    margin-top: 20px;">
        <span style="line-height: 40px;    display: inline-block;    border: 1px solid;    border-radius: 10px;    padding: 0px 5px;    height: 45px;     font-size: 17px;" > ${dates}</span> <br/>
        </div></div>`

        document.getElementById('chatroom').scrollTop = document.getElementById('chatroom').scrollHeight;


    }

    function onClose(e) {

        disconnect();
    }
</script>
</html>