<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>workSpace-main</title>
    <link rel="stylesheet" href="../../static/css/mainPage.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css"/>
<!--    <script src="../../static/js/mainPage.js"></script>-->
</head>
<body>
<header id="header"></header>
    <section class="container">
        <div class="arrow prev">&lt;</div>
        <div class="banner">
            <div class="img image1">
                <img src="../../static/images/top-main-img-3.png">
            </div>
            <div class="img image2">
                <img src="../../static/images/top-main-img-4.png">
            </div>
        </div>
        <div class="bannerM">
            <div class="imgM image1">
                <img src="../../static/images/M-top-main-img-3.png">
            </div>
            <div class="imgM image2">
                <img src="../../static/images/M-top-main-img-4.png">
            </div>
        </div>
        <div class="arrow next">&gt;</div>
        <div class="btns">
            <li class="dot selected" value="2" role="button" tabindex="0" aria-label="slide item 1"></li>
            <li class="dot " value="2" role="button" tabindex="0" aria-label="slide item 2"></li>
        </div>
    </section>

<!--모달-->

<!--<button id="popup_open_btn" class="modalBtn">로그인</button>-->

<!--<div class="modalWindow">-->
<!--<div id="my_modal">-->
<!--    <a class="modal_close_btn"><img src="../../static/images/free-icon-font-cross-3917759.png" class="xIcon"></a>-->
<!--    <p class="snsLoginP">로그인</p>-->
<!--    <div class="snsWrap">-->
<!--        <button class="kakao_button">카카오 계정으로 로그인</button>-->
<!--        <button class="face_button">페이스북 계정으로 로그인</button>-->
<!--        <button class="google_button">구글 계정으로 로그인</button>-->
<!--    </div>-->
<!--    <div class="turnJoinWrap">-->
<!--        <button class="turnJoin">회원 가입하기</button>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->

<!--<button id="popup_open_btn2" class="modalBtn">회원가입</button>-->

<!--<div class="modalWindow">-->
<!--<div id="my_modal2">-->
<!--    <a class="modal_close_btn"><img src="../../static/images/free-icon-font-cross-3917759.png" class="xIcon"></a>-->
<!--    <p class="snsLoginP">회원가입</p>-->
<!--    <div class="snsWrap">-->
<!--        <button class="kakao_button2">카카오 계정으로 회원가입</button>-->
<!--        <button class="face_button2">페이스북 계정으로 회원가입</button>-->
<!--        <button class="google_button2">구글 계정으로 회원가입</button>-->
<!--    </div>-->
<!--    <div class="joinPromise">-->
<!--        <p class="firstPMaybe">소셜 로그인으로 가입 시<a href="#" class="firstA"> 이용약관,</a><a href="#" class="secondA"> 개인정보처리방침,</a><a-->
<!--            href="#" class="thirdA"> 전자금융거래약관</a>에 동의함으로 처리됩니다.</p>-->
<!--    </div>-->
<!--    <div class="turnLoginWrap">-->
<!--        <button class="turnLogin">로그인 하기</button>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->

<!--<button id="popup_open_btn3" class="modalBtn">로그아웃</button>-->

<!--<div class="modalWindow">-->
<!--    <div id="my_modal3">-->
<!--        <a class="modal_close_btn"><img src="../../static/images/free-icon-font-cross-3917759.png" class="xIcon2"></a>-->
<!--        <div class="letter">-->
<!--            <p class="completeP">로그아웃이 완료되었습니다.</p>-->
<!--            <button class="complete">확인</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

    <section>
        <div class="firstWrapper">
        <h3><span class="bigTxt">새로운 프로젝트/스터디</span></h3>
            <div class="projectGridView">
                <div class="projectGridWrap1">
                    <div class="projectTopInfo">
                        <div class="topInfo">
                            <div class="box-wrap">
                                <div class="box red">
                                    <span>NEW</span>
                                </div>
                                <div class="box black">
                                    <span>사이드프로젝트</span>
                                </div>
                            </div>
                            <div class="favorite"></div>
                        </div>
                        <div class="projectImg">
                            <img src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_05.png">
                        </div>
                    </div>
                    <div class="projectMiddleInfo">
                        <p class="category">소셜네트워크</p>
                        <p class="categoryText">[서울] 매칭앱 사이드 프로젝트</p>
                    </div>
                    <div class="projectBottomInfo">
                        <div class="middleWrap">
                            <div class="left">
                                <div class="heart">
                                    <img src="https://letspl.me/assets/images/ic-favorite-empty-white.svg">
                                    <span class="heartCount">0</span>
                                </div>
                            </div>
                            <div class="right">
                                <div>
                                    <span>89</span>
                                    <span> (-)</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottomWrap">
                            <div class="recruit">
                                <div class="recruitStatus">
                                    <span>모집완료</span>
                                    <span>
                                    0/1
                                </span>
                                    <div>
                                        <img src="https://letspl.me/assets/images/ic-arrow-up.svg">
                                    </div>
                                </div>
                                <div class="recruitModel">
                                    <ul>
                                        <li>
                                            <span>UI/UX기획</span>
                                            <span>1명</span>
                                        </li>
                                        <li>
                                            <span>웹 프론트엔드</span>
                                            <span>2명</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projectGridWrap2">
                    <div class="projectTopInfo">
                        <div class="topInfo">
                            <div class="box-wrap">
                                <div class="box red">
                                    <span>NEW</span>
                                </div>
                                <div class="box black">
                                    <span>사이드프로젝트</span>
                                </div>
                            </div>
                            <div class="favorite"></div>
                        </div>
                        <div class="projectImg">
                            <img src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_05.png">
                        </div>
                    </div>
                    <div class="projectMiddleInfo">
                        <p class="category">소셜네트워크</p>
                        <p class="categoryText">[서울] 매칭앱 사이드 프로젝트</p>
                    </div>
                    <div class="projectBottomInfo">
                        <div class="middleWrap">
                            <div class="left">
                                <div class="heart">
                                    <img src="https://letspl.me/assets/images/ic-favorite-empty-white.svg">
                                    <span class="heartCount">0</span>
                                </div>
                            </div>
                            <div class="right">
                                <div>
                                    <span>89</span>
                                    <span> (-)</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottomWrap">
                            <div class="recruit">
                                <div class="recruitStatus">
                                    <span>모집완료</span>
                                    <span>
                                    0/1
                                </span>
                                    <div>
                                        <img src="https://letspl.me/assets/images/ic-arrow-up.svg">
                                    </div>
                                </div>
                                <div class="recruitModel">
                                    <ul>
                                        <li>
                                            <span>UI/UX기획</span>
                                            <span>1명</span>
                                        </li>
                                        <li>
                                            <span>웹 프론트엔드</span>
                                            <span>2명</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projectGridWrap3">
                    <div class="projectTopInfo">
                        <div class="topInfo">
                            <div class="box-wrap">
                                <div class="box red">
                                    <span>NEW</span>
                                </div>
                                <div class="box black">
                                    <span>사이드프로젝트</span>
                                </div>
                            </div>
                            <div class="favorite"></div>
                        </div>
                        <div class="projectImg">
                            <img src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_05.png">
                        </div>
                    </div>
                    <div class="projectMiddleInfo">
                        <p class="category">소셜네트워크</p>
                        <p class="categoryText">[서울] 매칭앱 사이드 프로젝트</p>
                    </div>
                    <div class="projectBottomInfo">
                        <div class="middleWrap">
                            <div class="left">
                                <div class="heart">
                                    <img src="https://letspl.me/assets/images/ic-favorite-empty-white.svg">
                                    <span class="heartCount">0</span>
                                </div>
                            </div>
                            <div class="right">
                                <div>
                                    <span>89</span>
                                    <span> (-)</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottomWrap">
                            <div class="recruit">
                                <div class="recruitStatus">
                                    <span>모집완료</span>
                                    <span>
                                    0/1
                                </span>
                                    <div>
                                        <img src="https://letspl.me/assets/images/ic-arrow-up.svg">
                                    </div>
                                </div>
                                <div class="recruitModel">
                                    <ul>
                                        <li>
                                            <span>UI/UX기획</span>
                                            <span>1명</span>
                                        </li>
                                        <li>
                                            <span>웹 프론트엔드</span>
                                            <span>2명</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projectGridWrap4">
                    <div class="projectTopInfo">
                        <div class="topInfo">
                            <div class="box-wrap">
                                <div class="box red">
                                    <span>NEW</span>
                                </div>
                                <div class="box black">
                                    <span>사이드프로젝트</span>
                                </div>
                            </div>
                            <div class="favorite"></div>
                        </div>
                        <div class="projectImg">
                            <img src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_05.png">
                        </div>
                    </div>
                    <div class="projectMiddleInfo">
                        <p class="category">소셜네트워크</p>
                        <p class="categoryText">[서울] 매칭앱 사이드 프로젝트</p>
                    </div>
                    <div class="projectBottomInfo">
                        <div class="middleWrap">
                            <div class="left">
                                <div class="heart">
                                    <img src="https://letspl.me/assets/images/ic-favorite-empty-white.svg">
                                    <span class="heartCount">0</span>
                                </div>
                            </div>
                            <div class="right">
                                <div>
                                    <span>89</span>
                                    <span> (-)</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottomWrap">
                            <div class="recruit">
                                <div class="recruitStatus">
                                    <span>모집완료</span>
                                    <span>
                                    0/1
                                </span>
                                    <div>
                                        <img src="https://letspl.me/assets/images/ic-arrow-up.svg">
                                    </div>
                                </div>
                                <div class="recruitModel">
                                    <ul>
                                        <li>
                                            <span>UI/UX기획</span>
                                            <span>1명</span>
                                        </li>
                                        <li>
                                            <span>웹 프론트엔드</span>
                                            <span>2명</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </section>

    <section>
        <div class="secondWrapper">
            <h3><span class="bigTxt">핫한 스토리</span></h3>
            <div class="featuredContents">
                <a class="featuredGrid1" href="">
                    <div class="featuredTop">
                        <img src="../../static/images/썸네일0.png">
                        <div class="featuredGridHead">
                            <span>운영자 선정</span>
                        </div>
                    </div>
                    <div class="featuredBottom">
                        <div class="featuredTitWrap">
                            <p class="featuredTit">Dior과 Prada의 NFT 프로젝트</p>
                            <p class="featuredCategory">상아에요</p>
                        </div>
                        <div class="featuredFooter">
                            <p class="featureViewDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/eye.png">
                                <span class="featuredFooterTxt">440</span>
                            </p>
                            <p class="featureRpyDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/msg.png">
                                <span class="featuredFooterTxt">0</span>
                            </p>
                            <p class="featureLikeDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/likeup.png">
                                <span class="featuredFooterTxt">5</span>
                            </p>
                        </div>
                    </div>
                </a>

                <!-- 두번째 그리드 -->
                <a class="featuredGrid2" href="">
                    <div class="featuredTop">
                        <img src="../../static/images/썸네일1.png">
                        <div class="featuredGridHead">
                            <span>인기 폭발중</span>
                        </div>
                    </div>
                    <div class="featuredBottom">
                        <div class="featuredTitWrap">
                            <p class="featuredTit">가치살자 함께살자</p>
                            <p class="featuredCategory">상아쓰</p>
                        </div>
                        <div class="featuredFooter">
                            <p class="featureViewDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/eye.png">
                                <span class="featuredFooterTxt">1234</span>
                            </p>
                            <p class="featureRpyDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/msg.png">
                                <span class="featuredFooterTxt">0</span>
                            </p>
                            <p class="featureLikeDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/likeup.png">
                                <span class="featuredFooterTxt">5</span>
                            </p>
                        </div>
                    </div>
                </a>
                <!-- 3번째 그리드 -->
                <a class="featuredGrid3" href="">
                    <div class="featuredTop">
                        <img src="../../static/images/썸네일2.png">
                        <div class="featuredGridHead">
                            <span>운영자 선정</span>
                        </div>
                    </div>
                    <div class="featuredBottom">
                        <div class="featuredTitWrap">
                            <p class="featuredTit">워크스페이스</p>
                            <p class="featuredCategory">한동석</p>
                        </div>
                        <div class="featuredFooter">
                            <p class="featureViewDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/eye.png">
                                <span class="featuredFooterTxt">77</span>
                            </p>
                            <p class="featureRpyDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/msg.png">
                                <span class="featuredFooterTxt">0</span>
                            </p>
                            <p class="featureLikeDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/likeup.png">
                                <span class="featuredFooterTxt">5</span>
                            </p>
                        </div>
                    </div>
                </a>
                <!-- 4번째 그리드 -->
                <a class="featuredGrid4" href="">
                    <div class="featuredTop">
                        <img src="../../static/images/썸네일3.png">
                        <div class="featuredGridHead">
                            <span>운영자 선정</span>
                        </div>
                    </div>
                    <div class="featuredBottom">
                        <div class="featuredTitWrap">
                            <p class="featuredTit">우리 함께 힘들어요</p>
                            <p class="featuredCategory">우울상아</p>
                        </div>
                        <div class="featuredFooter">
                            <p class="featureViewDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/eye.png">
                                <span class="featuredFooterTxt">40</span>
                            </p>
                            <p class="featureRpyDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/msg.png">
                                <span class="featuredFooterTxt">7</span>
                            </p>
                            <p class="featureLikeDiv" style="margin-right: 16px !important;">
                                <img class="featureImg" src="../../static/images/likeup.png">
                                <span class="featuredFooterTxt">7</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="banner2">
            <div class="image3">
                <p class="igTxt">워크스페이스가 처음이신가요?</p>
                <p class="smTxt">스토리로 가볍게 적응해보세요</p>
                <button class="storyGo">스토리 가기</button>
            </div>
        </div>
    </section>

<section>
    <div class="thirdWrapper">
        <h3><span class="bigTxt">같이 해요</span></h3>
        <div class="userGridTool">
            <ul class="userGridList">
                <li class="userGrid1">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid2">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid3">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid4">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid5">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid6">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid7">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid8">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>
<header id="footer"></header>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const btns = document.querySelectorAll("button.btn");
    const lis = document.querySelectorAll("li.dot");
    const littleBtns = document.querySelectorAll("li.dot");
    const banner = document.querySelector("div.banner");
    const bannerM = document.querySelector("div.bannerM");
    const arrows = document.querySelectorAll("div.arrow");
    let count = 0;

    // btns.forEach(function(value, index, ar){
    //     ar[index].addEventListener("click", function(){
    //         count = index;
    //         banner.style.transform = "translate(-" + count * 100 + "vw)";
    //     })
    // });
    lis.forEach(function(value,index,ar){
        ar[index].addEventListener("click", function(){
            count = index;
            banner.style.transform = "translate(-" + count * 100 + "vw)";
            bannerM.style.transform = "translate(-" + count * 414 + "px)";
            $("li.dot").removeClass("selected");
            $($("li.dot").get(count)).addClass("selected");
        })
    })

    arrows.forEach((arrow) => {
        arrow.addEventListener("click", function () {
            let arrowType = arrow.classList[1];
            if(arrowType == 'prev' && count != 0){
                count--;
            }else if(arrowType == 'next' && count != lis.length -1){
                count++;
            }else{
                if(count == lis.length -1){
                    count = 0;
                }else{
                    count = lis.length -1;
                }
            }
            $("li.dot").removeClass("selected");
            $($("li.dot").get(count)).addClass("selected");
            banner.style.transform = "translate(-" + count * 100 + "vw)";
            bannerM.style.transform = "translate(-" + count * 414 + "px)";
        });
    });

    setInterval(function(){
        count++;
        count = count == 2 ? 0 : count;
        banner.style.transform = "translate(-" + count * 100 + "vw)";
        bannerM.style.transform = "translate(-" + count * 414 + "px)";
        $("li.dot").removeClass("selected");
        $($("li.dot").get(count)).addClass("selected");
    }, 3000);

    // setInterval(function(){
    //     count++;
    //     count = count == 2 ? 0 : count;
    //     bannerM.style.transform = "translate(-" + count * 414 + "px)";
    //     $("li.dot").removeClass("selected");
    //     $($("li.dot").get(count)).addClass("selected");
    // }, 3000);

    $(document).ready(function(){
        $("#header").load('../../templates/fix/header.html');
    });

    $(document).ready(function(){
        $("#footer").load('../../templates/fix/footer.html');
    });

    // 모달

    // $('.modalBtn').each(function(i, btn){
    //     $(btn).on("click", function(){
    //         $($(".modalWindow").get(i)).show();
    //     });
    // });
    //
    // $('.modal_close_btn').each(function(i, btn){
    //     $(btn).on("click", function(){
    //         $($(".modalWindow").get(i)).hide();
    //     });
    // });

    $('.complete').each(function(i, btn){
        $(btn).on("click", function(){
            $($(".modalWindow").get(i)).hide();
        });
    });

</script>
</html>