<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>workSpace-join2</title>
    <link rel="stylesheet" href="/css/join2.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
</head>
<body>
<!--<header id="header"></header>-->
<header id="header"></header>
<!-- 모달 -->
<div class="modalWindow">
    <div id="my_modalPage">
        <div class="divImage">
            <img src="/images/pokjuk.png" class="pokjukPng">
            <img src="/images/pokjuk2.png" class="pokjukPng2">
        </div>
        <p class="snsLoginP">회원가입이 완료되었습니다.</p>
        <div class="turnJoinWrap">
            <button class="modal_close_btn">확인</button>
        </div>
    </div>
</div>

<section>
    <div class="joinWrapper">
        <div class="h3Good">
        <h3>
            <span class="smTxt">관심분야/장소/시간 설정</span>
            <span class="bigTxt">지금 완료시, 렛플력 200을 획득합니다.</span>
        </h3>
    </div>
        <div class="form">
            <ul class="firstSignForm">
                <li class="secondLi">
                    <label>선호 장소</label>
                    <div class="settingWrapper2">
                        <select class="twoSelect">
                            <option value="01">온라인/오프라인 모두 가능</option>
                            <option selected value="02">온라인만 가능</option>
                            <option value="03">오프라인만 가능</option>
                        </select>
                        <select class="twoSelect">
                            <option selected value="0201">서울특별시</option>
                            <option value="0202">경기도</option>
                            <option value="0203">부산광역시</option>
                            <option value="0204">인천광역시</option>
                            <option value="0205">대구광역시</option>
                            <option value="0206">경상남도</option>
                            <option value="0207">경상북도</option>
                            <option value="0208">대전광역시</option>
                            <option value="0209">충청남도</option>
                            <option value="0210">충청북도</option>
                            <option value="0211">전라남도</option>
                            <option value="0212">전라북도</option>
                            <option value="0213">광주광역시</option>
                            <option value="0214">강원도</option>
                            <option value="0215">울산광역시</option>
                            <option value="0216">제주특별자치도</option>
                            <option value="0217">세종특별자치시</option>
                        </select>
                    </div>
                </li>
                <li class="thirdLi">
                    <label>선호 시간대</label>
                    <div class="settingWrapper2">
                        <select class="twoSelect">
                            <option value="0301">주중/주말 모두가능</option>
                            <option selected value="0302">주중만 가능</option>
                            <option value="0303">주말만 가능</option>
                        </select>
                        <select class="twoSelect">
                            <option selected value="0401">상관없음</option>
                            <option value="0402">오전 위주</option>
                            <option value="0403">오후 위주</option>
                            <option value="0404">저녁 위주</option>
                        </select>
                    </div>
                </li>
                <li class="firstLi">
                    <label>관심 분야<br>(최대 5개)</label>
                    <div class="searchTagWrapper2">
                        <div id="labelTag">
                            <div id="interestWrap">
                                <p>O2O</p>
                                <p>공유서비스</p>
                                <p>데이팅서비스</p>
                                <p>여행</p>
                                <p>소셜네트워크</p>
                                <p>뷰티/패션</p>
                                <p>이커머스</p>
                                <p>엔터테인먼트</p>
                                <p>게임</p>
                                <p>헬스/스포츠</p>
                                <p>뉴스/정보</p>
                                <p>유틸</p>
                                <p>금융</p>
                                <p>부동산/인테리어</p>
                                <p>종교</p>
                                <p>우주/외계인</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="joinCompleteWrapper">
                <button class="joinComplete">나중에</button>
                <button class="joinComplete">완료</button>
            </div>
        </div>
    </div>
</section>
<header id="footer"></header>
<!--<header id="footer"></header>-->
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/join2.js"></script>
<script>
    $(document).ready(function(){
        $("#header").load('../../templates/fix/header.html');
    });
    $(document).ready(function(){
        $("#footer").load('../../templates/fix/footer.html');
    });
</script>
</html>