<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>workSpace-join2</title>
    <link rel="stylesheet" href="../../static/css/join2.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!--<header id="header"></header>-->

<!-- 모달 -->
<div class="modalWindow">
    <div id="my_modal">
        <div class="divImage">
            <img src="../../static/images/pokjuk.png" class="pokjukPng">
            <img src="../../static/images/pokjuk2.png" class="pokjukPng2">
        </div>
        <p class="snsLoginP">회원가입이 완료되었습니다.</p>
        <div class="turnJoinWrap">
            <button class="modal_close_btn">확인</button>
        </div>
    </div>
</div>

<section>
    <div class="joinWrapper">
        <div class="h3Good">
        <h3>
            <span class="smTxt">관심분야/장소/시간 설정</span>
            <span class="bigTxt">지금 완료시, 렛플력 200을 획득합니다.</span>
        </h3>
    </div>
        <div class="form">
            <ul class="firstSignForm">
                <li class="firstLi">
                    <label>내 관심분야</label>
                    <div class="settingWrapper2">
                        <select class="oneSelect">
                            <option value="01">O2O</option>
                            <option value="02">공유서비스</option>
                            <option value="03">데이팅서비스</option>
                            <option value="04">여행</option>
                            <option value="05">소셜네트워크</option>
                            <option value="06">뷰티/패션</option>
                            <option value="07">이커머스</option>
                            <option value="08">엔터테인먼트</option>
                            <option value="09">게임</option>
                            <option value="10">헬스/스포츠</option>
                            <option value="11">뉴스/정보</option>
                            <option value="12">유틸</option>
                            <option value="13">금융</option>
                            <option value="14">부동산/인테리어</option>
                            <option value="15">종교</option>
                            <option value="15">우주/외계인</option>
                        </select>
                    </div>
                </li>
                <li class="secondLi">
                    <label>선호 장소</label>
                    <div class="settingWrapper2">
                        <select class="twoSelect">
                            <option value="01">온라인/오프라인 모두 가능</option>
                            <option selected value="02">온라인만 가능</option>
                            <option value="03">오프라인만 가능</option>
                        </select>
                        <select class="twoSelect">
                            <option selected value="0201">서울특별시</option>
                            <option value="0202">경기도</option>
                            <option value="0203">부산광역시</option>
                            <option value="0204">인천광역시</option>
                            <option value="0205">대구광역시</option>
                            <option value="0206">경상남도</option>
                            <option value="0207">경상북도</option>
                            <option value="0208">대전광역시</option>
                            <option value="0209">충청남도</option>
                            <option value="0210">충청북도</option>
                            <option value="0211">전라남도</option>
                            <option value="0212">전라북도</option>
                            <option value="0213">광주광역시</option>
                            <option value="0214">강원도</option>
                            <option value="0215">울산광역시</option>
                            <option value="0216">제주특별자치도</option>
                            <option value="0217">세종특별자치시</option>
                        </select>
                    </div>
                </li>
                <li class="thirdLi">
                    <label>선호 시간대</label>
                    <div class="settingWrapper2">
                        <select class="twoSelect">
                            <option value="0301">주중/주말 모두가능</option>
                            <option selected value="0302">주중만 가능</option>
                            <option value="0303">주말만 가능</option>
                        </select>
                        <select class="twoSelect">
                            <option selected value="0401">상관없음</option>
                            <option value="0402">오전 위주</option>
                            <option value="0403">오후 위주</option>
                            <option value="0404">저녁 위주</option>
                        </select>
                    </div>
                </li>
            </ul>
            <div class="joinCompleteWrapper">
                <button class="joinComplete">나중에</button>
                <button class="joinComplete">완료</button>
            </div>
        </div>
    </div>
</section>
<!--<header id="footer"></header>-->
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $("#header").load('../../templates/fix/header.html');
    });

    $(document).ready(function(){
        $("#footer").load('../../templates/fix/footer.html');
    });

    $(document).ready(function(){
        $(".modalWindow").show();
    });

    $('.modal_close_btn').each(function(i, btn){
        $(btn).on("click", function(){
            $($(".modalWindow").get(i)).hide();
        });
    });
</script>
</html>