<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>workSpace-login</title>
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/login.css.css" type="text/css"/>
</head>
<body>
<header id="header"></header>
    <button id="show">팝업열기</button>

    <div class="background">
        <div class="window">
            <div class="popup">
                <button id="close">팝업닫기</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function show(){
            document.querySelector(".background").className = "background show";
        }

        function close(){
            document.querySelector(".background").className = "background";
        }

        document.querySelector("#show").addEventListener("click", show);
        document.querySelector("#close").addEventListener("click", close);
    </script>
</body>
</html>