<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>workSpace-main</title>
    <link rel="stylesheet" href="../../static/css/mainPage.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css"/>
<!--    <script src="../../static/js/mainPage.js"></script>-->
</head>
<body>
<header id="header"></header>
    <section class="container">
        <div class="arrow prev">&lt;</div>
        <div class="banner">
            <div class="img image1">
                <img src="../../static/images/top-main-img-3.png">
            </div>
            <div class="img image2">
                <img src="../../static/images/top-main-img-4.png">
            </div>
<!--            <div class="img">-->
<!--                <img src="">-->
<!--            </div>-->
<!--            <div class="img">-->
<!--                <img src="">-->
<!--            </div>-->
        </div>
        <div class="arrow next">&gt;</div>
        <div class="btns">
            <button class="btn">1</button>
            <button class="btn">2</button>
        </div>
    </section>



    <section>
        <div class="firstWrapper">
        <h3><span class="bigTxt">새로운 프로젝트/스터디</span></h3>
            <div class="projectGridView">
                <div class="projectGridWrap">
                    <div class="projectTopInfo">
                        <div class="topInfo">
                            <div class="box-wrap">
                                <div class="box red">
                                    <span>NEW</span>
                                </div>
                                <div class="box black">
                                    <span>사이드프로젝트</span>
                                </div>
                            </div>
                            <div class="favorite"></div>
                        </div>
                        <div class="projectImg">
                            <img src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_05.png">
                        </div>
                    </div>
                    <div class="projectMiddleInfo">
                        <p class="category">소셜네트워크</p>
                        <p class="categoryText">[서울] 매칭앱 사이드 프로젝트</p>
                    </div>
                    <div class="projectBottomInfo">
                        <div class="middleWrap">
                            <div class="left">
                                <div class="heart">
                                    <img src="https://letspl.me/assets/images/ic-favorite-empty-white.svg">
                                    <span class="heartCount">0</span>
                                </div>
                            </div>
                            <div class="right">
                                <div>
                                    <span>89</span>
                                    <span> (-)</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottomWrap">
                            <div class="recruit">
                                <div class="recruitStatus">
                                    <span>모집완료</span>
                                    <span>
                                    0/1
                                </span>
                                    <div>
                                        <img src="https://letspl.me/assets/images/ic-arrow-up.svg">
                                    </div>
                                </div>
                                <div class="recruitModel">
                                    <ul>
                                        <li>
                                            <span>UI/UX기획</span>
                                            <span>1명</span>
                                        </li>
                                        <li>
                                            <span>웹 프론트엔드</span>
                                            <span>2명</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projectGridWrap">
                    <div class="projectTopInfo">
                        <div class="topInfo">
                            <div class="box-wrap">
                                <div class="box red">
                                    <span>NEW</span>
                                </div>
                                <div class="box black">
                                    <span>사이드프로젝트</span>
                                </div>
                            </div>
                            <div class="favorite"></div>
                        </div>
                        <div class="projectImg">
                            <img src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_05.png">
                        </div>
                    </div>
                    <div class="projectMiddleInfo">
                        <p class="category">소셜네트워크</p>
                        <p class="categoryText">[서울] 매칭앱 사이드 프로젝트</p>
                    </div>
                    <div class="projectBottomInfo">
                        <div class="middleWrap">
                            <div class="left">
                                <div class="heart">
                                    <img src="https://letspl.me/assets/images/ic-favorite-empty-white.svg">
                                    <span class="heartCount">0</span>
                                </div>
                            </div>
                            <div class="right">
                                <div>
                                    <span>89</span>
                                    <span> (-)</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottomWrap">
                            <div class="recruit">
                                <div class="recruitStatus">
                                    <span>모집완료</span>
                                    <span>
                                    0/1
                                </span>
                                    <div>
                                        <img src="https://letspl.me/assets/images/ic-arrow-up.svg">
                                    </div>
                                </div>
                                <div class="recruitModel">
                                    <ul>
                                        <li>
                                            <span>UI/UX기획</span>
                                            <span>1명</span>
                                        </li>
                                        <li>
                                            <span>웹 프론트엔드</span>
                                            <span>2명</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projectGridWrap">
                    <div class="projectTopInfo">
                        <div class="topInfo">
                            <div class="box-wrap">
                                <div class="box red">
                                    <span>NEW</span>
                                </div>
                                <div class="box black">
                                    <span>사이드프로젝트</span>
                                </div>
                            </div>
                            <div class="favorite"></div>
                        </div>
                        <div class="projectImg">
                            <img src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_05.png">
                        </div>
                    </div>
                    <div class="projectMiddleInfo">
                        <p class="category">소셜네트워크</p>
                        <p class="categoryText">[서울] 매칭앱 사이드 프로젝트</p>
                    </div>
                    <div class="projectBottomInfo">
                        <div class="middleWrap">
                            <div class="left">
                                <div class="heart">
                                    <img src="https://letspl.me/assets/images/ic-favorite-empty-white.svg">
                                    <span class="heartCount">0</span>
                                </div>
                            </div>
                            <div class="right">
                                <div>
                                    <span>89</span>
                                    <span> (-)</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottomWrap">
                            <div class="recruit">
                                <div class="recruitStatus">
                                    <span>모집완료</span>
                                    <span>
                                    0/1
                                </span>
                                    <div>
                                        <img src="https://letspl.me/assets/images/ic-arrow-up.svg">
                                    </div>
                                </div>
                                <div class="recruitModel">
                                    <ul>
                                        <li>
                                            <span>UI/UX기획</span>
                                            <span>1명</span>
                                        </li>
                                        <li>
                                            <span>웹 프론트엔드</span>
                                            <span>2명</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projectGridWrap">
                    <div class="projectTopInfo">
                        <div class="topInfo">
                            <div class="box-wrap">
                                <div class="box red">
                                    <span>NEW</span>
                                </div>
                                <div class="box black">
                                    <span>사이드프로젝트</span>
                                </div>
                            </div>
                            <div class="favorite"></div>
                        </div>
                        <div class="projectImg">
                            <img src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_05.png">
                        </div>
                    </div>
                    <div class="projectMiddleInfo">
                        <p class="category">소셜네트워크</p>
                        <p class="categoryText">[서울] 매칭앱 사이드 프로젝트</p>
                    </div>
                    <div class="projectBottomInfo">
                        <div class="middleWrap">
                            <div class="left">
                                <div class="heart">
                                    <img src="https://letspl.me/assets/images/ic-favorite-empty-white.svg">
                                    <span class="heartCount">0</span>
                                </div>
                            </div>
                            <div class="right">
                                <div>
                                    <span>89</span>
                                    <span> (-)</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottomWrap">
                            <div class="recruit">
                                <div class="recruitStatus">
                                    <span>모집완료</span>
                                    <span>
                                    0/1
                                </span>
                                    <div>
                                        <img src="https://letspl.me/assets/images/ic-arrow-up.svg">
                                    </div>
                                </div>
                                <div class="recruitModel">
                                    <ul>
                                        <li>
                                            <span>UI/UX기획</span>
                                            <span>1명</span>
                                        </li>
                                        <li>
                                            <span>웹 프론트엔드</span>
                                            <span>2명</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </section>

    <section>
        <div class="secondWrapper">
            <h3><span class="bigTxt">핫한 스토리</span></h3>
        </div>
    </section>

    <section>
        <div class="banner2">
            <div class="image3">
                <p class="igTxt">워크스페이스가 처음이신가요?</p>
                <p class="smTxt">스토리로 가볍게 적응해보세요</p>
                <button class="storyGo">스토리 가기</button>
            </div>
        </div>
    </section>

<section>
    <div class="thirdWrapper">
        <h3><span class="bigTxt">같이 해요</span></h3>
        <div class="userGridTool">
            <ul class="userGridList">
                <li class="userGrid">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
                <li class="userGrid">
                    <img src="../../static/images/letspler_new_mark.png" class="red2">

                    <div class="userGridtop">
                        <div class="userIn" style="display: flex;">
                            <div class="userGridimg">
                                <img src="../../static/images/여.png" style="width: 50px; object-fit: cover;">
                            </div>
                            <a class="like"></a>
                        </div>

                        <div class="usertool">
                            <div class="user1">
                                <div class="userLvIcon">
                                    <img  class="lvIcon" src="../../static/images/level_6.png">
                                </div>
                                <div class="userGridName">
                                    <p class="ugname">박상아</p>
                                </div>
                                <div class="usercheckIcon">
                                    <img class="checkIcon" src="../../static/images/ic-certi-red.png">
                                </div>
                            </div>
                            <div class="userInn">
                                <div class="bitandheart">
                                    <div class="bitdiv">
                                        <div class="bitimg">
                                            <img src="../../static/images/BBBB.png" class="bitIcon">
                                        </div>
                                        <div class="bittag">
                                            <p class="bitptag">3</p>
                                        </div>
                                    </div>
                                    <div class="heartdiv">
                                        <div class="heartimg">
                                            <img src="../../static/images/ico_like.png"
                                                 class="heartIcon"></div>
                                        <div class="hearttag">
                                            <p class="heartptag">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="userinfo">
                        <div class="bon"><span class="info">[본캐]UI/UX기획</span><span class="num">중수</span></div>
                        <div class="boo"><span class="info">[부캐]게임기획</span><span
                                class="num">초보</span></div>
                    </div>

                    <div class="usertag">
                        <ul class="ulusertag">
                            <li class="liusertag">#IT</li>
                            <li class="liusertag">#UIUX</li>
                            <li class="liusertag">#프론트</li>
                            <li class="liusertag">#디자인</li>
                            <li class="liusertag">#기획</li>
                        </ul>
                        <p class="join">진행중인 모임이 없습니다.</p>
                    </div>
                    <div class="userGridbottom">
                        <img class="btimg" src="../../static/images/BBBB.png">
                        <p class="btchat">BIt Chat</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const btns = document.querySelectorAll("button.btn");
    const banner = document.querySelector("div.banner");
    const arrows = document.querySelectorAll("div.arrow");
    var count = 0;

    // btns.forEach(function(value, index, ar){
    //     ar[index].addEventListener("click", function(){
    //         banner.style.transform = "translate(-" + index * 100 + "vw)";
    //     })
    // });

    btns.forEach(function(value, index, ar){
        ar[index].addEventListener("click", function(){
            count = index;
            banner.style.transform = "translate(-" + count * 100 + "vw)";
        })
    });

    arrows.forEach((arrow) => {
        arrow.addEventListener("click", function () {
            let arrowType = arrow.classList[1];
            if(arrowType == 'prev' && count != 0){
                count--;
            }else if(arrowType == 'next' && count != btns.length -1){
                count++;
            }else{
                if(count == btns.length -1){
                    count = 0;
                }else{
                    count = btns.length -1;
                }
            }
            banner.style.transform = "translate(-" + count * 100 + "vw)";
        });
    });

    setInterval(function(){
        count++;
        count = count == 2 ? 0 : count;
        banner.style.transform = "translate(-" + count * 100 + "vw)";
    }, 3000);

    $(document).ready(function(){
        $("#header").load('../../templates/fix/header.html');
    });
</script>
</html>