<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/chat.css" type="text/css">
    <link rel="stylesheet" href="/css/faq.css" type="text/css">
</head>
<body>
<th:block th:insert="/fix/header.html :: headFragment"/>

<div id="container">
    <section id="fix">
        <div id="title">
            <p class="fontColor">workspace</p>
            <h3>자주하는 질문</h3>
        </div>
        <ul id="nav" class="flex">
            <li class="navBorder"><a href="0" id="goInfo" class="nav">가입/로그인(4)</a></li>
            <li class="navBorder"><a href="1" id="goPro" class="nav">회원(8)</a></li>
            <li class="navBorder"><a href="2" id="goStory" class="nav">프로젝트(11)</a></li>
            <li class="navBorder"><a href="3" id="goLike" class="nav">결제/포인트(6)</a></li>
            <li class="navBorder"><a href="4" id="goAlert" class="nav">기타(5)</a></li>
        </ul>
    </section>

    <!--    가입/로그인-->
    <section id="join" class="faqSection">
        <div class="faqTitle">
            <h3>가입/로그인 전체(4)</h3>
        </div>
        <div class="divTable">
            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            가입 로그인
                        </span>
                        <p class="contentTxt">
                            이메일이 꼭 인증이 되어야 하나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>워크스페이스내 중요한 사항에 대해서 이메일을 통해 공지하고 있습니다.
이메일 인증은 반드시 해주셔야 가입이 가능합니다</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            가입 로그인
                        </span>
                        <p class="contentTxt">
                            비회원으로 이용이 가능한가요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>비회원으로 검색을 하거나 조회 정도의 제한적인 기능은 이용이 가능하십니다.
다만 참여나 개설 등은 회원가입후 가능합니다</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            가입 로그인
                        </span>
                        <p class="contentTxt">
                            SNS 비밀번호를 잊어버려서 가입/로그인을 할 수 없습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled >워크스페이스에서는 SNS 계정과 비밀번호를 저장하고 있지 않습니다.
불편하시겠지만, 각 SNS를 통해서 문의바랍니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            가입 로그인
                        </span>
                        <p class="contentTxt">
                            개인정보가 안전하게 정보가 보호되고 있나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled disabled>워크스페이스에서는 민감정보(이메일,전화번호 및 기타정보)등을 모두 암호화하여 처리하고 있습니다.
안심하셔도 됩니다.</textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--    회원-->
    <section id="user" class="faqSection">
        <div class="faqTitle">
            <h3>회원(8)</h3>
        </div>
        <div class="divTable">
            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            회원
                        </span>
                        <p class="contentTxt">
                            이메일이 꼭 인증이 되어야 하나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled disabled>탈퇴 철회는 탈퇴신청 후 30일이내까지 가능합니다.
가입시에 기재하신 이메일을 통해 help@letspl.me로 탈퇴 철회에 대한 내용을 보내주시면,
이메일과 맞는 아이디를 확인하여 탈퇴신청을 철회해드리니 이점 참고 부탁 드립니다.

30일이후로는 개인정보 관련 데이터가 모두 삭제된 상태여서, 계정복원이 불가능합니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                           회원
                        </span>
                        <p class="contentTxt">
                            계정정지가 되었다고 뜹니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>모니터링 결과 비정상적인 활동이 있는 경우 1개월간 계정을 정지합니다.
이 경우 문의하기를 통해서 질의를 하시면 보다 빠르게 문제 해결이 가능합니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                           회원
                        </span>
                        <p class="contentTxt">
                            본인 인증이 꼭 되어야 하나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>본인 인증없이 서비스 이용가능합니다.
다만 원활한 커뮤니케이션을 위해서 프로젝트 생성 및 지원시에는 휴대폰인증(실명인증)이 반드시 필요한 점 양해바랍니다</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            회원
                        </span>
                        <p class="contentTxt">
                            홍보성 이메일 수신 거부하고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>홍보성 이메일의 수신거부는,
마이페이지의 홍보성 이메일 수신 "거부" 설정을 통해 가능합니다.
다만 프로젝트를 구독 하신경우에는 홍보성 메일의 수신이 활성화되니 이 점 참고해주세요</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            회원
                        </span>
                        <p class="contentTxt">
                            회원정보수정은 어디서 하나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>회원 정보는 마이페이지의 회원정보에서 수정이 가능합니다</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            회원
                        </span>
                        <p class="contentTxt">
                            탈퇴를 하면 개인정보를 어떻게 처리하나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>탈퇴 후에 30일간 계정정보를 보관 후 삭제 처리를 합니다.
30일이 지나기 전까지 탈퇴철회가 가능합니다</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            회원
                        </span>
                        <p class="contentTxt">
                            서비스를 탈퇴는 어떻게 하나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>로그인 후 마이페이지에서 회원탈퇴를 신청하실 수 있습니다.
SNS 통한 가입고객은 SNS내에서 연동해제를 별도로 하셔야 합니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            회원
                        </span>
                        <p class="contentTxt">
                            서비스 탈퇴 조건이 어떻게 되나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>서비스 탈퇴시에 , 현재 모임의 리더인 경우, 리더를 승계하셔야 탈퇴가 처리됩니다.
프로젝트 참여자의 경우, 탈퇴 시 모든 프로젝트에서 탈퇴 처리가 됩니다.
환불이 가능한 포인트가 남아있을 경우에는, 환불 이후 탈퇴가 가능합니다.</textarea>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!--    프로젝트-->
    <section id="project" class="faqSection">
        <div class="faqTitle">
            <h3>프로젝트 전체(11)</h3>
        </div>
        <div class="divTable">
            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트를 완료하면 어떻게 되나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>프로젝트를 완료단계로 변경하면 ,
메인페이지에서 별도 섹션으로 홍보해 드립니다.
완료후부터 프로젝트 구독자들에게 메일을 보내서 참여를 독려할 수 있습니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트 작업물의 권한이 궁금합니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>프로젝트에 나가시더라도 작업물은 프로젝트에 귀속됩니다.
프로젝트에 이 점 감안하셔서 지원하시기 바랍니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트 리더자리를 승계하고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>프로젝트 승계버튼을 통하여
현재 프로젝트 참여자에게 승계가 가능하며,
참여자가 수락시에 승계가 됩니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트가 폐쇄절차가 궁금합니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>프로젝트 리더만이 프로젝트 포기를 통하여, 프로젝트 폐쇄가 가능합니다.
프로젝트 상세페이지 > 관리 > 프로젝트 관리 하단에 프로젝트 포기 버튼을 참고해주세요
폐쇄시에는 기존 멤버들을 모두 방출하셔야 가능합니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트를 나가고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>프로젝트를 나가시는 경우는
마이페이지> 내 프로젝트 에서 프로젝트 나가기를 눌러주시면  됩니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트 참여인원을 늘리고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>워크스페이스의 프로젝트의 참여인원은 본인제외 10명으로 제한되어있습니다.
10명 이내라면, 프로젝트 관리에서 모집 추가를 하시면 됩니다.
프로젝트의 완성을 위해 최대한 적은 인원으로 구성하시는 것이 좋습니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트에 참여하고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>프로젝트의 참여여부는 프로젝트의 리더가 판단합니다.
사유와 함께 지원하기를 누르시면,
프로젝트 리더가 확인하여 승인 시 프로젝트에 참여가 가능합니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트를 홍보하고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>프로젝트의 참여나 오픈 홍보는 라운지/스토리를 활용해서 하실 수 있습니다.
홍보 목적의 글을 올리시더라도 프로젝트와 관련이 있다면 별도로 계정을 정지하지 않습니다.
워크스페이스을 통한 프로젝트가 아니더라도, 홍보가 가능하니 참고 부탁 드립니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트 모집을 종료하고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>프로젝트의 역할이 모두 확정되어야지 인원모집이 마감됩니다.
프로젝트 > 관리에서 역할을 모두 확정해주세요</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트를 개설하고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>프로젝트 시작하기 버튼을 통해서 , 프로젝트를 만들 수 있습니다.
필수적인 정보를 입력하시면 프로젝트 인원모집이 가능하고,
모집인원은 프로젝트>관리에서 확인하실 수 있습니다.
프로젝트의 생성개수에 제한은 없습니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            프로젝트
                        </span>
                        <p class="contentTxt">
                            프로젝트 리더를 방출하고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>현재 프로젝트 리더의 방출 기능은 제공하고 있지 않습니다.
프로젝트 리더의 자발적인 승계를 통해서만 리더 변경이 가능합니다.</textarea>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!--    결제/포인트-->
    <section id="point" class="faqSection">
        <div class="faqTitle">
            <h3>결제/포인트 전체(6)</h3>
        </div>
        <div class="divTable">
            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            결제/포인트
                        </span>
                        <p class="contentTxt">
                            가상계좌 결제완료 후, 포인트 지급이 되지 않습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>가상계좌 입금 시에는, 가상계좌 서비스 제공자로부터 입금확인데이터를 받는데 5분정도 소요되어
최종 포인트는 5 분뒤 부여됩니다. 이점 참고 부탁 드립니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            결제/포인트
                        </span>
                        <p class="contentTxt">
                            포인트는 환원율은 어떻게 결정되나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>포인트의 환원율은 워크스코어과 레벨에 따라 결정됩니다.
서비스내에서 많은 활동에 참여하실 수록 워크스코어이 누적됩니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            결제/포인트
                        </span>
                        <p class="contentTxt">
                            받은 포인트를 환전받고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>채팅 등을 통하여 남에게 받은 포인트는 환전이나 환불 대상이 아닙니다.
대신 기프티콘 몰(예정)에서 기프티콘을 구입하거나 다른 유저와의 채팅에서 사용하실 수 있습니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            결제/포인트
                        </span>
                        <p class="contentTxt">
                            남은 포인트를 환불받고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>결제 후 포인트를 사용하였을 경우, 문의하기를 통해 환불이 가능합니다. 다만 환불 수수료(남은 금액의 10%+입금수수료 1,000)이 공제 후에 입금이 가능합니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            결제/포인트
                        </span>
                        <p class="contentTxt">
                            결제 취소를 하고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>결제 취소는 결제 후 일주일 내에 문의하기를 통해 취소가 가능합니다.
포인트를 사용하지 않은 상태에서 일주일이 넘어가는 경우는, 본인명의의 통장으로 수수료(결제금액의 10%+ 1,000)를 공제 후 환불됩니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            결제/포인트
                        </span>
                        <p class="contentTxt">
                            포인트를 충전하고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>비트 포인트의 충전은 포인트몰에서 가능합니다.
(https://workspace.me/point_mall)</textarea>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!--    기타-->
    <section id="etc" class="faqSection">
        <div class="faqTitle">
            <h3>기타 전체(5)</h3>
        </div>
        <div class="divTable">
            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            기타
                        </span>
                        <p class="contentTxt">
                            프로젝트 멤버간에 채팅을 하고 싶습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>프로젝트 그룹간의 채팅- "그룹챗"을 사용하시면 됩니다.
프로젝트 상세 > 관리 > 멤버관리에서 멤버별 "닉네임"을 누르시면 그룹챗 초대 메뉴를 사용하실 수 있습니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            기타
                        </span>
                        <p class="contentTxt">
                            채팅이 갑자기 종료되었습니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>1:1 채팅은 최대 7일동안 유지됩니다.
7일이 지나면 자동으로 폭파되니 이점 인지 부탁 드립니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            기타
                        </span>
                        <p class="contentTxt">
                            채팅 상대방의 태도가 무례합니다.
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>채팅이 완료된 뒤에 , 각자를 리뷰하실 수 있는 평가가 제공됩니다.
상대방의 평점을 신중하게 평가해주십시오</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            기타
                        </span>
                        <p class="contentTxt">
                            상대방이 채팅에 응답하지 않으면 어떻게 되나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>지불하신 포인트는, 채팅이 원활하게 이루어졌는지에 따라서, 지급이 됩니다.
상대방이 한마디도 응답 하지 않았다면 100% 지불됩니다.</textarea>
                    </div>
                </div>
            </div>

            <div class="tableRow">
                <div>
                    <div class="tableCell flex">
                        <span class="categoryTxt">
                            기타
                        </span>
                        <p class="contentTxt">
                            채팅은 어떻게 시작할 수 있나요?
                        </p>
                        <span><img src="/images/open.png" class="open"></span>
                    </div>
                    <div class="close">
                        <textarea disabled>채팅은 회원의 프로필에서 채팅하기를 누르시면 자동으로 초대가 됩니다.
 다만 회원이 지정한 포인트를 지불해야지 채팅이 시작되니, 이점 유의해주세요</textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<th:block th:insert="/fix/chat.html :: sideFragment"/>
<th:block th:insert="/fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/faq.js"></script>
<script src="/js/chat.js"></script>
</html>