<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/chat.css" type="text/css">
    <link rel="stylesheet" href="/css/notice.css" type="text/css">
</head>
<body>
<th:block th:insert="/fix/header.html :: headFragment"/>

<section class="notice">
    <div class="noticeTitle">
        <h2>
            <span class="smallTxt">LET's know</span>
            <span class="bigTxt">공지사항</span>
        </h2>
    </div>
    <div class="noticeList">
        <table>
            <thead>
                <tr>
                    <th class="title">제목</th>
                    <th class="date">작성일</th>
                </tr>
            </thead>
            <tbody th:if="${noticeVOs != null}">
                <tr th:each="notice:${noticeVOs.getContent()}">
                    <td>
                        <p th:text="${notice.getNoticeTitle()}">프로젝트/스터디 검수 및 노출 조건안내 (2022.03.26 업데이트~)</p>
                    </td>
                    <td>
                        <p th:text="${#dates.format(notice.getNoticeTitle(), 'yyyy.MM.dd')}"></p>
                    </td>
                </tr>
<!--                <tr>-->
<!--                    <td>-->
<!--                        <p>렛플 모바일 어플리케이션이 출시되었습니다.</p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p>21.12.28 </p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <p>프로젝트 검수조건 안내(2021년 12월)</p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p>21.12.10 </p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <p>렛플 프로젝트 게시 시 , 연결 게시 사이트 안내 (2021년 12월)</p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p>21.05.23 </p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <p>[신규 기능] 렛플 - 스토리 오픈</p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p>21.03.28 </p>-->
<!--                    </td>-->
<!--                </tr>-->
            </tbody>
        </table>
        <div class="pagingAndBtn">
            <span>
                <!-- 페이징 -->
                    <ul class="c_PagingList" >
                        <!-- 이전 -->
                        <li th:if="${pageableDTO.hasPrev}"><a th:href="@{/notice/noticeList(page=${pageableDTO.startPage -2 })}" class="btn_paging prev">&lt;&lt;</a></li>
                        <li th:if="${pageableDTO.pageNumber > 1}"><a th:href="@{/notice/noticeList(page=${pageableDTO.previous})}" class="btn_paging prev">&lt;</a></li>

                        <th:block th:each="num:${#numbers.sequence(pageableDTO.startPage,pageableDTO.endPage)}">
                            <li th:if="${pageableDTO.pageNumber== num}" th:text="${num}"></li>
                            <li th:unless="${pageableDTO.pageNumber == num}"><a th:text="${num}" th:href="@{/notice/noticeList(page=${num - 1})}" class="active"></a></li>
                        </th:block>

                        <!-- 다음 -->
                        <li th:if="${pageableDTO.pageNumber < pageableDTO.realEnd}"><a class="btn_paging next" th:href="@{/notice/noticeList(page=${pageableDTO.next})}">&gt;</a></li>
                        <li th:if="${pageableDTO.hasNext}"><a th:href="@{/notice/noticeList(page=${pageableDTO.endPage})}" class="btn_paging next">&gt;&gt;</a></li>
                    </ul>
                <!-- 페이징 종료-->

            </span>
        </div>
    </div>
</section>

<th:block th:insert="/fix/chat.html :: sideFragment"/>
<th:block th:insert="/fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/header.js"></script>
<script src="/js/chat.js"></script>
</html>