<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>lounge</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/chat.css" type="text/css">
    <link rel="stylesheet" href="/css/lounge.css" type="text/css"/>
</head>
<body>
<th:block th:insert="/fix/header.html :: headFragment"/>
<!-- 작성 모달 -->
<div class="modalStory4 modals">
    <div id="modalStory4Page">
        <a class="modalStoryCloseBtn4"><img src="/images/free-icon-font-cross-3917759.png" class="xIcons4 xBtns"></a>
        <div class="storyLetter4">
            <p class="completePStory4">작성되었습니다.</p>
            <button class="mdBtnStoryBtn4 xBtns">확인</button>
        </div>
    </div>
</div>
<!-- 수정 모달 -->
<div class="modalStory5 modals">
    <div id="modalStory5Page">
        <a class="modalStoryCloseBtn5"><img src="/images/free-icon-font-cross-3917759.png" class="xIcons5 xBtns"></a>
        <div class="storyLetter5">
            <p class="completePStory5">수정되었습니다.</p>
            <button class="mdBtnStoryBtn5 xBtns">확인</button>
        </div>
    </div>
</div>
<!-- 삭제 모달 -->
<div class="modalStory6 modals">
    <div id="modalStory6Page">
        <a class="modalStoryCloseBtn6"><img src="/images/free-icon-font-cross-3917759.png" class="xIcons6 xBtns"></a>
        <div class="storyLetter6">
            <p class="completePStory6">삭제되었습니다.</p>
            <button class="mdBtnStoryBtn6 xBtns">확인</button>
        </div>
    </div>
</div>
<div class="modalWrapOpen">
    <div class="commonModal"><p class="modalTit">로그인이 필요한 기능입니다</p>
        <button class="closeBtn"><img src="/images/free-icon-font-cross-3917759.png" alt="close"></button>
        <div class="commonModalContent"><p>로그인을 하시겠습니까?</p></div>
        <div class="btnWrap doubleBtnWrap">
            <button class="btn whiteBtn">아니오</button>
            <button class="btn redBtn">예</button>
        </div>
    </div>
</div>
<div class="lounge">
    <section class="loungeSection">
        <div class="loungeTop">
            <div class="talkTit">
                <span class="talkTit1">WORK'S PEOPLE</span>
                <span class="talkTit2">TALK</span>
            </div>
        </div>
        <div class="loungeWrap">
            <div class="loungeTool">
                <div class="loungeInput">
                    <div class="loungeInputWrap">
                        <textarea placeholder="가볍게 이야기를 시작해보세요." maxlength="1000" rows="6"
                                  class="loungeTextArea"></textarea>
                    </div>
                    <div class="loungeBtn">
                        <button class="loungeBtn1" th:if="${session.userNum != null}">등록</button>
                        <button class="loungeBtn2" th:unless="${session.userNum != null}">등록</button>
                    </div>
                </div>
                <div class="inputText">

                </div>
                <!--라운지 랭킹-->
                <div class="loungeLank">
                    <!--라운지 좋아요 랭킹-->
                    <div class="loungeLikeLank">
                        <p class="lankTit">TALK 랭킹</p>
                        <span class="likeTit">좋아요를 많이 받은 워크피플</span>
                        <ul class="likeList">
                            <th:block th:each="user, i:${userLikeNickNames}">
                                <li class="likeListLi">
                                    <span class="number" th:text="${i.count}"></span>
                                    <span class="upDown up"></span>
                                    <div class="profileWraps">
                                        <img class="profileImg" src="/images/여.png">
                                    </div>
                                    <a>
                                        <p class="proName" th:text="${user}"></p>
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                    <!--라운지 댓글 랭킹-->
                    <div class="loungeReplyLank">
                        <span class="replyTit">댓글이 많이 달린 워크피플</span>
                        <ul class="replyList">
                            <th:block th:each="user, i:${userReplyNickNames}">
                                <li class="replyListLi">
                                    <span class="number" th:text="${i.count}"></span>
                                    <span class="upDown up"></span>
                                    <div class="profileWraps">
                                        <img class="profileImg" src="/images/여.png">
                                    </div>
                                    <a>
                                        <p class="proName" th:text="${user}"></p>
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- </div> -->

</div>
<input type="hidden" name="loungeVOs" th:value="${loungeVOs}">
<th:block th:insert="/fix/chat.html :: sideFragment"/>
<th:block th:insert="/fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    let userNum = [[${session.userNum}]]
    let userVOs = [[${userVOs}]]
    let loungeVOs = [[${loungeVOs}]]
    let loungeLikesNum = [[${loungeLikesNum}]]
    let loungeRepliesNum = [[${loungeRepliesNum}]]
    let loungeUserNickNames = [[${loungeUserNickNames}]]
</script>
<script src="/js/header.js"></script>
<script src="/js/chat.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/js/loungeModule.js"></script>
<script src="/js/lounge.js"></script>

</html>