<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/chat.css" type="text/css">
    <link rel="stylesheet" href="/css/payment.css" type="text/css"/>
    <title>충전하기</title>
    <style>    

    </style>
</head>
<body>
<th:block th:insert="/fix/header.html :: headFragment"/>

    <section class="payment">
        <div class="paymentTitle">
            <h2>
                <span class="smallTxt">LET's be rich</span>
                <span class="bigTxt">비트 포인트 충전</span>
            </h2>
        </div>
        <div class="adWrap">
            <p>더 많은 워크피플을 만나고 싶나요?</p>
            <span>비트를 이용해 이야기 해보는건 어떨까요?</span>
            <span>※ 대화 완료 후, 상대방에게 포인트가 지급됩니다.</span>
        </div>
        <div class="paymentStep">
            <p class="stepNumber">
                <span>1단계.</span>
                "결제 금액을 선택해주세요."
            </p>
            <div class="chargeTable">
                <table>
                    <thead>
                        <tr>
                            <th>선택</th>
                            <th>금액</th>
                            <th>상품 상세</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        <tr>
                            <td>
                                <label class="checkBox">
                                    <input type="radio" name="price" value="10000">
                                    <span class="checkmark"></span>                                    
                                </label>
                            </td>
                            <td>10,000원</td>
                            <td>10 비트포인트 + 300 워크스코어</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkBox">
                                    <input type="radio" name="price" value="20000">
                                    <span class="checkmark"></span>                                    
                                </label>
                            </td>
                            <td>20,000원</td>
                            <td>22 비트포인트 + 600 워크스코어</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkBox">
                                    <input type="radio" name="price" value="50000">
                                    <span class="checkmark"></span>                                    
                                </label>
                            </td>
                            <td>50,000원</td>
                            <td>56 비트포인트 + 2,000 워크스코어</td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkBox">
                                    <input type="radio" name="price" value="100000">
                                    <span class="checkmark"></span>                                    
                                </label>
                            </td>
                            <td>100,000원</td>
                            <td>115 비트포인트 + 5,000 워크스코어</td>
                        </tr>
                    </tbody>
                </table>
                <div id="message"></div>
            </div>
        </div>
        <div class="paymentStep">
            <p class="stepNumber">
                <span>2단계.</span>
                "결제 방법을 선택해주세요."
            </p>
            <div class="normalPayment paymentMethod">
                <p>일반 결제</p>
                <div>
                    <button id="check_module">신용카드</button>
                    <button>휴대폰결제</button>
                    <button>가상계좌</button>
                    <button>계좌이체</button>
                </div>
            </div>
            <div class="easyPayment paymentMethod">
                <p>간편 결제</p>
                <div>
                    <button class="kakao"></button>
                </div>
            </div>
        </div>
    </section>

<th:block th:insert="/fix/chat.html :: sideFragment"/>
    <th:block th:insert="/fix/footer.html :: footerFragment"/>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script src="/js/header.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/payment.js"></script>
<script>
    $("#check_module").click(function(){
        var IMP = window.IMP;
        IMP.init('imp07124966');
        IMP.request_pay({
            pg: 'inicis',
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: "bit Coin",
            amount: 10,
            buyer_email: "thdwnsgud79@naver.com",
            buyer_name: "송준형",
            buyer_tel: "010-8958-7712",
            buyer_addr: "서울특별시 강남구 개포동",
            buyer_postcode: "06330",
            m_redirect_url: 'http://localhost:7777/user/payment'
        }, function(rsp){
            console.log(rsp);
            if(rsp.success){
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
            } else{
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
        });
    });
</script>
</html>