<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>공지사항-내용</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/noticeDetail.css" type="text/css">

</head>
<body>
<!--헤더-->

<header id="header"></header>

<section class="notice">
    <div class="noticeTitle">
        <h2>
            <span class="smallTxt">NOTICE</span>
            <span class="bigTxt">공지사항</span>
        </h2>
    </div>
    <div class="noticeViewWrap">
        <div class="noticeViewTop">
            <div class="noticeTitleWriter">
                <div class="left">
                    <p>제목</p>
                </div>
                <div class="right">
                    <p>프로젝트/스터디 검수 및 노출 조건안내 (2022.03.26 업데이트~)</p>
                </div>
            </div>
        </div>
        <div class="noticeViewContents">
            <div>
                내용부분입니다.
            </div>
        </div>
        <div class="btnWrap">
            <button class="primaryBtn writer">수정하기</button>
            <button class="primaryBtn writer">삭제하기</button>
            <button class="whiteBtn">목록으로</button>
        </div>
        <div class="beforeNextFeedWrap">
            <div class="FeedRow">
                <div class="left">
                    <p>이전글</p>
                </div>
                <div class="right">
                    <a href="#">렛플 모바일 어플리케이션이 출시되었습니다.</a>
                </div>
            </div>
            <div class="FeedRow">
                <div class="left">
                    <p>다음글</p>
                </div>
                <div class="right">
                    <a href="#">다음글이 없습니다</a>
                </div>
            </div>
        </div>
    </div>
</section>


<footer id="foot"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#header").load('../../templates/fix/header.html');
        $("#foot").load('../../templates/fix/footer.html');
    })


</script>
</html>