<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/noticeRegister.css" type="text/css">
</head>
<header id="header"></header>

<section class="notice">
    <div class="noticeTitle">
        <h2>
            <span class="smallTxt">NOTICE</span>
            <span class="bigTxt">공지사항</span>
        </h2>
    </div>
    <div class="noticeViewWrap">
        <div class="noticeViewTop">
            <div class="noticeTitleWriter">
                <div class="left">
                    <p>제목</p>
                </div>
                <div class="right">
                    <input type="text" placeholder="제목을 입력해주세요.">
                </div>
            </div>
            <div class="noticeTitleWriter">
                <div class="left" id="attach">
                    <p>첨부파일</p>
                </div>
                <div class="right" style="display: flex">
                    <label for="uploadFile">
                        <img src="https://letspl.me/assets/images/ic-camera-alt-24-px.png" alt="">
                    </label>
                    <input type="file" name="uploadFile" id="uploadFile" style="display: none">
                    <div class="field">
                        <div class="uploadResult">
                            <ul id="thumbNailWrap">
                                <li>
                                    <a>
                                        <img src="/images/스토리배너1.png">
                                    </a>
                                    <span>x</span>
                                </li>
                                <li>
                                    <a>
                                        <img src="c/images/썸네일2.png">
                                    </a>
                                    <span>x</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="noticeViewContents">
            <textarea name="content" id="content" onkeydown="resize(this)" onkeyup="resize(this)" cols="30" rows="10" placeholder="내용을 입력해주세요"></textarea>
        </div>
        <div class="btnWrap">
            <button class="primaryBtn">작성완료</button>
            <button class="whiteBtn">작성취소</button>
        </div>
    </div>
</section>


<footer id="foot"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#header").load('../../templates/fix/header.html');
        $("#foot").load('../../templates/fix/footer.html');
    })
    function resize(obj) {
        obj.style.height = "375px";
        obj.style.height = (12+obj.scrollHeight)+"px";
    }

</script>
</html>