<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>storylist</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/chat.css" type="text/css">
    <link rel="stylesheet" href="/css/storylist.css" type="text/css" />
</head>
<th:block th:insert="/fix/header.html :: headFragment"/>
<input type="hidden" id="sessionId" th:value="${session.userNum}">

<body>
    <section class="storySection">
        <!-- 스토리 제목 부분 -->
        <div class="storyTopTit">
            <h2>
                <span class="storySmTxt">Work'S read</span>
                <span class="storyBgTxt">스토리</span>
            </h2>
        </div>
<!-- 전체  부분 -->
        <div class="storyContentsWrap">
            <!-- Featured Stroy -->
            <div class="featuredStroy">
                <h3>아직 안보셨나요? Featured Story</h3>
                <div class="featuredContents">

                    <a class="featuredGrid" th:each="topList:${topStoryList}" th:href="@{/story/storyDetail(storyNum=${topList.getStoryNum()})}" target="_blank">
                        <div class="featuredTop">
                            <img th:src="@{/story/displayTh(storyImgPath=${topList.getStoryImgPath()}, storyImgUuid=${topList.getStoryImgUuid()}, storyImgName=${topList.getStoryImgName()})}">
                        </div>
                        <div class="featuredBottom">
                            <div class="featuredTitWrap">
                                <p class="featuredTit" th:text="${topList.getStoryTitle()}"></p>
                                <p class="featuredCategory" th:text="${topList.getUserVO().getUserNickName()}"></p>
                            </div>
                            <div class="featuredFooter">
                                <p class="featureViewDiv" style="margin-right: 16px !important;">
                                    <img class="featureImg" src="/images/eye.png">
                                    <span class="featuredFooterTxt" th:text="${topList.getStoryReadCount}"></span>
                                </p>
                                    <p class="featureRpyDiv" style="margin-right: 16px !important;">
                                    <img class="featureImg" src="/images/msg.png">
                                    <span class="featuredFooterTxt" th:text="${topList.getReplies().size()}"></span>
                                    </p>
                                     <p class="featureLikeDiv" style="margin-right: 16px !important;">
                                        <img class="featureImg" src="/images/likeup.png">
                                        <span class="featuredFooterTxt" th:text="${topList.getLikes().size()}"></span>
                                     </p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="line"></div>
            <!-- 시리즈1 -->
            <div class="series" th:each="lists:${randomList}" th:if="${lists[0]?.getUserVO.getUserNickName()}">
                <h3 th:text="|&quot${lists[0].getUserVO().getUserNickName()}&quot 님의 스토리|"></h3>
                <div class="seriesScroll">
                    <ul class="seriesUl">

                        <li class="seriesLi" th:each="list:${lists}">
                            <a th:href="@{/story/storyDetail(storyNum=${list.getStoryNum()})}" target="_blank">
                                <div class="seriesImg">
                                    <img th:src="@{/story/displayTh(storyImgPath=${list.getStoryImgPath()}, storyImgUuid=${list.getStoryImgUuid()}, storyImgName=${list.getStoryImgName()})}">
                                </div>
                                <span class="storySubTit" th:text="${list.getStoryTitle()}"></span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="line"></div>
            </div>

            <div class="line"></div>

            <!-- 스토리 타임라인 -->
            <div class="storyTimeLine">
                <h3>스토리 타임라인</h3>
                <div class="stroyTimeLineWrap">
                    <!-- 스토리 검색부분 -->
                    <div class="storySearch">
                        <select class="storyPart">
                            <option value="선택">유형 선택</option>
                            <option value="정보">정보</option>
                            <option value="노하우">노하우</option>
                            <option value="테스터 모집">테스터 모집</option>
                            <option value="이벤트">이벤트</option>
                            <option value="출시&업데이트">출시/업데이트</option>
                        </select>
                        <div class="storySearchCheck">
                            <label class="storyCheckBox">
                                <input type="checkbox" name="storyCheck" value="false" checked>
                                <span class="checkTxt">구독만</span>
                            </label>
                        </div>
                    </div>

                    <!-- 스토리 타임라인 부분 -->
                    <ul class="storyTimeUl">

                        <li class="storyTimeLi" th:each="allStory:${allStoryList}">
                            <div class="storyTimeLineLeft">
                                <a th:href="@{/story/storyDetail(storyNum=${allStory.getStoryNum()})}" target="_blank">
                                <div class="storyTimeLineImg">
                                    <img th:src="@{/story/displayTh(storyImgPath=${allStory.getStoryImgPath()}, storyImgUuid=${allStory.getStoryImgUuid()}, storyImgName=${allStory.getStoryImgName()})}">
                                </div>
                                </a>
                                <a th:href="@{/story/storyDetail(storyNum=${allStory.getStoryNum()})}">
                                <div class="storyTimeLineContents">
                                    <div class="timeLineTitWrap">
                                        <span class="timeLintCategory" th:text="${allStory.getUserVO().getUserNickName()}"></span>
                                        <p class="timeLineTit" th:text="|[${allStory.getStoryPart}] ${allStory.getStoryTitle()}"|>[출시/업데이트] 워크스페이스 업데이트 완료</p>
                                    </div>
                                    <div class="timeLineTxt" th:utext="${allStory.getStoryContent()}">
                                    </div>
                                    <div class="timeLineTagWrap">
                                        <th:block th:each="tag:${allStory.getTags()}">
                                            <span th:text="|#${tag.getTagName()}|"></span>
                                        </th:block>
                            </div>
                        </div>
                                </a>
                    </div>
                    <div class="storyTimeLineRight">
                        <div class="TimeLineStatusWrap">
                            <p class="storyTimeLineStatusDiv" style="margin-right: 16px !important;">
                                <img class="storyTimeLineDivImg" src="/images/eye.png">
                                <span class="divFooterTxt" th:text="${allStory.getStoryReadCount()}"></span>
                            </p>
                            <p class="storyTimeLineStatusDiv" style="margin-right: 16px !important;">
                                <img class="storyTimeLineDivImg" src="/images/msg.png">
                                <span class="divFooterTxt" th:text="${allStory.getReplies().size()}"></span>
                            </p>
                            <p class="storyTimeLineStatusDiv" style="margin-right: 16px !important;">
                                <img class="storyTimeLineDivImg" src="/images/likeup.png">
                                <span class="divFooterTxt" th:text="${allStory.getLikes().size()}"></span>
                            </p>
                        </div>
                    </div>
                    </li>

                    </ul>
                </div>
            </div>

        </div>
     
                
    </section>
    <th:block th:if="${session?.userNum}" th:insert="/fix/story.html :: sideFragment"/>
    <th:block th:insert="/fix/chat.html :: sideFragment"/>
    <th:block th:insert="/fix/footer.html :: footerFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/header.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/storyListModule.js"></script>
<script src="/js/storyList.js"></script>
</html>