<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/term.css" type="text/css">
</head>
<body>
<header id="header"></header>

<div class="policySection">
    <div class="verAndstart"><p class="verNum"></p>
        <p class="startDate"></p></div>
    <div class="policyWrap" id="policyWrap"><h1>총칙</h1>
        <p>Throws3(이하&nbsp;“회사”)는&nbsp;회원님의&nbsp;개인정보를&nbsp;중요시하며, 개인정보의&nbsp;보호와&nbsp;관련하여&nbsp;「정보통신망&nbsp;이용촉진&nbsp;및&nbsp;정보보호&nbsp;등에&nbsp;관한&nbsp;법률」
            및&nbsp;개인정보&nbsp;보호법&nbsp;등&nbsp;관련법&nbsp;상의&nbsp;개인정보&nbsp;보호&nbsp;규정을&nbsp;준수하고&nbsp;있습니다. 회사는&nbsp;개인정보처리방침을&nbsp;통하여&nbsp;회원님의&nbsp;개인정보가&nbsp;남용되거나&nbsp;유출되지&nbsp;않도록&nbsp;최선을&nbsp;다할&nbsp;것이며,
            회원님께서&nbsp;제공하시는&nbsp;개인정보가&nbsp;어떠한&nbsp;용도와&nbsp;방식으로&nbsp;이용되고&nbsp;있고, 개인정보보호를&nbsp;위해&nbsp;어떠한&nbsp;조치가&nbsp;취해지고&nbsp;있는지&nbsp;알려드립니다.
            회사는&nbsp;개인정보&nbsp;처리방침을&nbsp;홈페이지&nbsp;첫&nbsp;화면에&nbsp;공개함으로써&nbsp;회원님이&nbsp;언제나&nbsp;용이하게&nbsp;보실&nbsp;수&nbsp;있도록&nbsp;조치하고&nbsp;있습니다.
            단, 본&nbsp;개인정보&nbsp;처리방침은&nbsp;정부의&nbsp;법령&nbsp;및&nbsp;지침의&nbsp;변경, 또는&nbsp;보다&nbsp;나은&nbsp;서비스의&nbsp;제공을&nbsp;위하여&nbsp;그&nbsp;내용이&nbsp;변경될&nbsp;수&nbsp;있으니,
            회원님들께서는&nbsp;홈페이지&nbsp;방문&nbsp;시&nbsp;수시로&nbsp;그&nbsp;내용을&nbsp;확인하여&nbsp;주시기&nbsp;바라며, 회사는&nbsp;개인정보처리방침을&nbsp;개정하는&nbsp;경우&nbsp;웹사이트&nbsp;공지사항(또는&nbsp;개별공지)을&nbsp;통하여&nbsp;공지할&nbsp;것입니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;0 조&nbsp;개인정보&nbsp;수집에&nbsp;대한&nbsp;동의</h2>
        <p>회사는&nbsp;이용자들이&nbsp;회사의&nbsp;개인정보&nbsp;취급방침&nbsp;또는&nbsp;이용약관의&nbsp;내용에&nbsp;대하여&nbsp;「동의」버튼&nbsp;또는&nbsp;「취소」버튼을&nbsp;클릭할&nbsp;수&nbsp;있는&nbsp;절차를&nbsp;마련하여,
            「동의」버튼을&nbsp;클릭하면&nbsp;개인정보&nbsp;수집에&nbsp;대해&nbsp;동의한&nbsp;것으로&nbsp;봅니다.</p>
        <h2>제&nbsp;1 조&nbsp;개인정보의&nbsp;수집&nbsp;및&nbsp;이용&nbsp;목적</h2>
        <p>"개인정보"라&nbsp;함은&nbsp;생존하는&nbsp;개인에&nbsp;관한&nbsp;정보로, 성명, 이메일&nbsp;주소, 전화번호&nbsp;등&nbsp;개인을&nbsp;식별할&nbsp;수&nbsp;있는&nbsp;정보를&nbsp;말합니다.
            대부분의&nbsp;워크스페이스&nbsp;서비스는&nbsp;별도의&nbsp;사용자&nbsp;등록이&nbsp;없이&nbsp;언제든지&nbsp;볼&nbsp;수&nbsp;있습니다.</p>
        <p>그러나&nbsp;회사는&nbsp;회원서비스(개인프로필의&nbsp;작성,&nbsp;프로젝트의&nbsp;개시와&nbsp;같이&nbsp;현재&nbsp;제공&nbsp;중이거나&nbsp;향후&nbsp;제공될&nbsp;로그인&nbsp;기반의&nbsp;서비스)등을&nbsp;통하여&nbsp;이용자들에게&nbsp;맞춤&nbsp;식&nbsp;서비스를&nbsp;비롯한&nbsp;보다&nbsp;더&nbsp;향상된&nbsp;양질의&nbsp;서비스를&nbsp;제공하기&nbsp;위하여&nbsp;이용자&nbsp;개인의&nbsp;정보를&nbsp;수집하고&nbsp;있습니다.
            회사는&nbsp;이용자의&nbsp;사전&nbsp;동의&nbsp;없이는&nbsp;이용자의&nbsp;개인&nbsp;정보를&nbsp;공개하지&nbsp;않으며, 수집된&nbsp;정보는&nbsp;아래와&nbsp;같이&nbsp;이용하고&nbsp;있습니다.</p>
        <p>이용자들의&nbsp;개인정보를&nbsp;기반으로&nbsp;보다&nbsp;더&nbsp;유용한&nbsp;서비스를&nbsp;개발할&nbsp;수&nbsp;있습니다. 회사는&nbsp;신규&nbsp;서비스개발이나&nbsp;콘텐츠의&nbsp;확충&nbsp;시에&nbsp;기존&nbsp;이용자들이&nbsp;회사에&nbsp;제공한&nbsp;개인정보를&nbsp;바탕으로&nbsp;개발해야&nbsp;할&nbsp;서비스의&nbsp;우선&nbsp;순위를&nbsp;보다&nbsp;더&nbsp;효율적으로&nbsp;정하고,
            회사는&nbsp;이용자들이&nbsp;필요로&nbsp;할&nbsp;콘텐츠를&nbsp;합리적으로&nbsp;선택하여&nbsp;제공할&nbsp;수&nbsp;있습니다.</p>
        <p>회사가&nbsp;제공하는&nbsp;각종&nbsp;정보&nbsp;및&nbsp;서비스&nbsp;등은&nbsp;대부분&nbsp;무료입니다. 회사는&nbsp;이러한&nbsp;무료&nbsp;서비스를&nbsp;제공하기&nbsp;위해&nbsp;광고를&nbsp;유치할&nbsp;수&nbsp;있으며&nbsp;이때&nbsp;이용자들에&nbsp;대한&nbsp;정확한&nbsp;개인정보를&nbsp;바탕으로&nbsp;각&nbsp;서비스나&nbsp;메뉴&nbsp;등에&nbsp;적절하게&nbsp;광고와&nbsp;내용들을&nbsp;전달할&nbsp;수&nbsp;있습니다.
            회사는&nbsp;광고주들로부터&nbsp;광고를&nbsp;받아&nbsp;광고주들이&nbsp;대상으로&nbsp;하려는&nbsp;이용자의&nbsp;유형에&nbsp;맞게&nbsp;광고를&nbsp;보여줄&nbsp;뿐,
            광고주들에게는&nbsp;절대로&nbsp;이용자들의&nbsp;개인정보를&nbsp;보여주거나&nbsp;제공하지&nbsp;않습니다.</p>
        <p>회사가&nbsp;제공하는&nbsp;서비스의&nbsp;원활한&nbsp;이용을&nbsp;위하여&nbsp;회원은&nbsp;적법한&nbsp;동의절차를&nbsp;거쳐&nbsp;SNS 업체가&nbsp;연결을&nbsp;위한&nbsp;정보를&nbsp;회사에&nbsp;제공하도록&nbsp;할&nbsp;수&nbsp;있습니다.
            회사는&nbsp;연결된&nbsp;SNS 를&nbsp;원활한&nbsp;서비스&nbsp;제공을&nbsp;위해&nbsp;이용자에게서&nbsp;권한이&nbsp;허락된&nbsp;범위&nbsp;안에서&nbsp;이를&nbsp;활용할&nbsp;수&nbsp;있으며,
            허락되지&nbsp;않은&nbsp;범위에&nbsp;대해서는&nbsp;절대&nbsp;활용하지&nbsp;않습니다. 서비스&nbsp;이용을&nbsp;위하여&nbsp;회원으로부터&nbsp;추가적인&nbsp;권한의&nbsp;요청을&nbsp;필요로&nbsp;할&nbsp;경우,
            각&nbsp;SNS의&nbsp;인증서비스를&nbsp;통하여&nbsp;이에&nbsp;대한&nbsp;사전&nbsp;동의를&nbsp;반드시&nbsp;구할&nbsp;것&nbsp;입니다.</p>
        <p>회원구분에&nbsp;따라서&nbsp;다음의&nbsp;목적을&nbsp;위해서&nbsp;회원정보를&nbsp;수집, 이용하고&nbsp;있습니다.</p>
        <p>1. 모든&nbsp;회원공통</p>
        <p>필수&nbsp;: ID, E-MAIL, 비밀번호, 닉네임&nbsp;(SNS로&nbsp;가입시,&nbsp;소셜&nbsp;로그인&nbsp;정보)<br>
            선택&nbsp;:&nbsp;지역, 선호 시간대, 관련 직무 ,관심카테고리, 홈페이지 주소, 포트폴리오 정보,<br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SNS 정보( 페이스북, 트위터, 카카오, 구글, 네이버, 다음 ).<br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 실명, 성별, 나이, 출생연도 및 생년월일, 휴대전화번호, 통신사정보<br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; CI/DI 등 본인연계정보</p>
        <p>2. 기타&nbsp;이용과정이나&nbsp;사업처리&nbsp;과정에서&nbsp;아래와&nbsp;같은&nbsp;정보들이&nbsp;자동으로&nbsp;생성되어&nbsp;수집될&nbsp;수&nbsp;있습니다.<br>
            - 서비스&nbsp;이용기록, 접속&nbsp;로그, 쿠키, 접속IP 정보, 결제기록: 부정&nbsp;이용&nbsp;방지, 비인가&nbsp;사용&nbsp;방지&nbsp;등</p>
        <p>3. 회원님의&nbsp;기본적&nbsp;인권&nbsp;침해의&nbsp;우려가&nbsp;있는&nbsp;민감정보&nbsp;(범죄경력,
            유전정보&nbsp;등)를&nbsp;수집하지&nbsp;않습니다.</p>
        <p>4. 회원님이&nbsp;제공하신&nbsp;모든&nbsp;정보는&nbsp;상기&nbsp;목적에&nbsp;필요한&nbsp;용도&nbsp;이외로는&nbsp;사용되지&nbsp;않으며, 수집정보의&nbsp;범위나&nbsp;사용목적,
            용도가&nbsp;변경될&nbsp;시에는&nbsp;반드시&nbsp;회원님들께&nbsp;사전동의를&nbsp;구할&nbsp;것&nbsp;입니다.</p>
        <p>위&nbsp;정보는&nbsp;가입&nbsp;당시&nbsp;정보만&nbsp;아니라&nbsp;정보수정으로&nbsp;변경된&nbsp;정보를&nbsp;포함&nbsp;합니다.</p>
        <h2>제&nbsp;2 조&nbsp;개인정보의&nbsp;보유&nbsp;및&nbsp;이용기간</h2>
        <p>1. 회사는&nbsp;원칙적으로&nbsp;개인정보&nbsp;수집&nbsp;및&nbsp;이용목적이&nbsp;달성된&nbsp;후에는&nbsp;해당&nbsp;개인정보를&nbsp;지체&nbsp;없이&nbsp;파기합니다.<br>
            단, 다음의&nbsp;정보에&nbsp;대해서는&nbsp;아래의&nbsp;이유로&nbsp;명시한&nbsp;기간&nbsp;동안&nbsp;보존&nbsp;합니다.<br>
            - 보존&nbsp;항목&nbsp;: 쿠키,세션<br>
            - 보존&nbsp;근거&nbsp;: 회사의&nbsp;서비스이용약관&nbsp;및&nbsp;개인정보취급방침에&nbsp;동의<br>
            - 보존&nbsp;기간&nbsp;: 로그아웃&nbsp;시&nbsp;삭제</p>
        <p>2. 그리고&nbsp;관계법령의&nbsp;규정에&nbsp;의하여&nbsp;보존할&nbsp;필요가&nbsp;있는&nbsp;경우&nbsp;회사는&nbsp;아래와&nbsp;같이&nbsp;관계법령에서&nbsp;정한&nbsp;일정한&nbsp;기간&nbsp;동안&nbsp;회원정보를&nbsp;보관합니다.<br>
            - 보존&nbsp;항목&nbsp;: 실명, E-MAIL, 닉네임, 비밀번호,&nbsp;이용정보, 기업정보<br>
            - 보존&nbsp;근거&nbsp;: 회사의&nbsp;서비스이용약관&nbsp;및&nbsp;개인정보취급방침에&nbsp;동의<br>
            - 보존&nbsp;기간&nbsp;: 회원으로서의&nbsp;자격을&nbsp;유지하는&nbsp;동안</p>
        <p>[기타]</p>
        <p>1. 계약&nbsp;또는&nbsp;청약철회&nbsp;등에&nbsp;관한&nbsp;기록<br>
            - 보존근거: 전자상거래&nbsp;등에서의&nbsp;소비자보호에&nbsp;관한&nbsp;법률<br>
            - 보존기간: 5년</p>
        <p>2. 대금결제&nbsp;및&nbsp;재화&nbsp;등의&nbsp;공급에&nbsp;관한&nbsp;기록<br>
            - 보존근거: 전자상거래&nbsp;등에서의&nbsp;소비자보호에&nbsp;관한&nbsp;법률<br>
            - 보존기간: 5년</p>
        <p>3. 소비자의&nbsp;불만&nbsp;또는&nbsp;분쟁처리에&nbsp;관한&nbsp;기록<br>
            - 보존근거: 전자상거래등에서의&nbsp;소비자보호에&nbsp;관한&nbsp;법률<br>
            - 보존기간: 3년</p>
        <p>4. 웹사이트&nbsp;방문기록<br>
            - 보존근거: 통신비밀보호법<br>
            - 보존기간: 3개월</p>
        <h2>제&nbsp;3 조&nbsp;개인정보의&nbsp;파기절차&nbsp;및&nbsp;방법</h2>
        <p>1. 회원님의&nbsp;개인정보는&nbsp;원칙적으로&nbsp;개인정보의&nbsp;수집&nbsp;및&nbsp;이용목적이&nbsp;달성되면&nbsp;지체&nbsp;없이&nbsp;파기합니다.</p>
        <p>2. 파기절차<br>
            - 회원님이&nbsp;회원가입&nbsp;등을&nbsp;위해&nbsp;입력한&nbsp;정보는&nbsp;목적이&nbsp;달성된&nbsp;후&nbsp;별도의DB로&nbsp;옮겨져내부&nbsp;방침&nbsp;및&nbsp;기타&nbsp;관련&nbsp;법령에&nbsp;의한&nbsp;정보보호&nbsp;사유에&nbsp;따라(보유&nbsp;및&nbsp;이용기간&nbsp;참조)
            일정&nbsp;기간&nbsp;저장된&nbsp;후&nbsp;파기됩니다.<br>
            - 별도DB로&nbsp;옮겨진&nbsp;개인정보는&nbsp;법률에&nbsp;의한&nbsp;경우를&nbsp;제외하고는&nbsp;다른&nbsp;목적으로&nbsp;이용되지&nbsp;않습니다.</p>
        <p>3. 파기방법<br>
            - 전자적&nbsp;파일형태로&nbsp;저장된&nbsp;개인정보는&nbsp;기록을&nbsp;재생할&nbsp;수&nbsp;없는&nbsp;기술적&nbsp;방법을&nbsp;사용하여&nbsp;삭제합니다.
        </p>
        <h2>제&nbsp;4 조&nbsp;개인정보의&nbsp;제3자&nbsp;제공&nbsp;및&nbsp;공유</h2>
        <p>1. 회사는&nbsp;회원님의&nbsp;개인정보를&nbsp;제1조에서&nbsp;고지한&nbsp;범위&nbsp;내에서&nbsp;사용하며, 회원님의&nbsp;사전&nbsp;동의&nbsp;없이는&nbsp;동&nbsp;범위를&nbsp;초과하여&nbsp;이용하거나&nbsp;원칙적으로&nbsp;이용자의&nbsp;개인정보를&nbsp;제3자에게&nbsp;제공하지&nbsp;않습니다.
            다만, 아래의&nbsp;경우에는&nbsp;예외로&nbsp;합니다.</p>
        <p>- 이용자들이&nbsp;제3자&nbsp;제공에&nbsp;동의한&nbsp;경우<br>
            - 법령의&nbsp;규정에&nbsp;의거하거나, 수사&nbsp;목적으로&nbsp;법령에&nbsp;정해진&nbsp;절차와&nbsp;방법에&nbsp;따라&nbsp;수사기관의&nbsp;요구가&nbsp;있는&nbsp;경우
        </p>
        <p>2. 회사가&nbsp;제공하는&nbsp;서비스를&nbsp;통하여&nbsp;주문&nbsp;및&nbsp;결제가&nbsp;이루어진&nbsp;경우&nbsp;상담&nbsp;등&nbsp;거래&nbsp;당사자간&nbsp;원활한&nbsp;의사소통과&nbsp;혹은&nbsp;배송&nbsp;등의&nbsp;거래이행을&nbsp;위하여&nbsp;관련된&nbsp;정보를&nbsp;필요한&nbsp;범위&nbsp;내에서&nbsp;거래&nbsp;당사자에게&nbsp;제공합니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;5 조&nbsp;개인정보의&nbsp;처리&nbsp;위탁</h2>
        <p><br data-tomark-pass=""><br>
            회사는&nbsp;서비스&nbsp;향상을&nbsp;위해서&nbsp;아래와&nbsp;같이&nbsp;개인정보를&nbsp;위탁하고&nbsp;있으며, 관계&nbsp;법령에&nbsp;따라&nbsp;위탁계약&nbsp;시&nbsp;개인정보가&nbsp;안전하게&nbsp;관리될&nbsp;수&nbsp;있도록&nbsp;필요한&nbsp;사항을&nbsp;규정하고&nbsp;있습니다.
            현재&nbsp;회사의&nbsp;개인정보&nbsp;위탁처리&nbsp;기관&nbsp;및&nbsp;위탁업무&nbsp;내용은&nbsp;다음과&nbsp;같습니다.</p>
        <table>
            <thead>
            <tr>
                <th>수탁자</th>
                <th>위탁업무</th>
                <th>개인정보의 보유 및 이용기간</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>다날페이(주)</td>
                <td>전자결제대행, 본인인증</td>
                <td>회원탈퇴 시 혹은 위탁계약 종료시 까지</td>
            </tr>
            <tr>
                <td>(주)써머스플랫폼</td>
                <td>SMS/카카오톡 알림톡 발송</td>
                <td>알림톡 발송 시 사용 후 폐기</td>
            </tr>
            </tbody>
        </table>
        <h2>제 6 조 회원의 권리와 그 행사방법</h2>
        <p>1. 회원님은&nbsp;언제든지&nbsp;등록되어&nbsp;있는&nbsp;본인의&nbsp;개인정보를&nbsp;조회하거나&nbsp;수정할&nbsp;수&nbsp;있으며&nbsp;회원&nbsp;탈퇴&nbsp;절차를&nbsp;통하여&nbsp;개인정보&nbsp;이용에&nbsp;대한&nbsp;동의&nbsp;등을&nbsp;철회할&nbsp;수&nbsp;있습니다.</p>
        <p>2. 개인정보의&nbsp;조회/수정을&nbsp;위해서는&nbsp;사이트의&nbsp;[마이페이지] 내의&nbsp;[회원정보수정] 항목에서&nbsp;확인&nbsp;가능하며, 가입&nbsp;해지(동의철회)는&nbsp;[마이페이지]
            상단&nbsp;메뉴&nbsp;'탈퇴하기'를&nbsp;통하여&nbsp;탈퇴하실&nbsp;수&nbsp;있습니다. 이&nbsp;외에도&nbsp;회사의&nbsp;개인정보&nbsp;보호책임자에게&nbsp;서면,
            전화&nbsp;또는&nbsp;이메일로&nbsp;연락하여&nbsp;다음&nbsp;각&nbsp;호의&nbsp;개인정보&nbsp;보호&nbsp;관련&nbsp;권리를&nbsp;행사&nbsp;할&nbsp;수&nbsp;있습니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;1) 개인정보&nbsp;열람&nbsp;요구</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;2) 오류&nbsp;등이&nbsp;있을&nbsp;경우&nbsp;정정&nbsp;요구</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;3) 삭제의&nbsp;요구</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;4) 처리정지&nbsp;요구</span></p>
        <p>회원님이&nbsp;개인정보의&nbsp;오류에&nbsp;대한&nbsp;정정을&nbsp;요청하신&nbsp;경우에는&nbsp;정정을&nbsp;완료하기&nbsp;전까지&nbsp;당해&nbsp;개인정보를&nbsp;이용&nbsp;또는&nbsp;제공하지&nbsp;않습니다.
            회사는&nbsp;회원님의&nbsp;요청에&nbsp;의해&nbsp;해지&nbsp;또는&nbsp;삭제된&nbsp;개인정보는&nbsp;제2조에&nbsp;명시된&nbsp;바에&nbsp;따라&nbsp;처리하고&nbsp;그&nbsp;외의&nbsp;용도로&nbsp;열람&nbsp;또는&nbsp;이용할&nbsp;수&nbsp;없도록&nbsp;처리하고&nbsp;있습니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;7 조&nbsp;아동의&nbsp;개인정보보호</h2>
        <p>만&nbsp;14세&nbsp;미만의&nbsp;아동의&nbsp;개인정보를&nbsp;보호하기&nbsp;위하여&nbsp;회원가입은&nbsp;만14세&nbsp;이상에만&nbsp;허용하여&nbsp;아동의&nbsp;개인정보를&nbsp;수집하지&nbsp;않습니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;8 조&nbsp;회원의&nbsp;의무</h2>
        <p>1. 회원님은&nbsp;자신의&nbsp;개인정보를&nbsp;보호할&nbsp;의무가&nbsp;있으며, 회사의&nbsp;책임&nbsp;없는&nbsp;사유로&nbsp;발생한&nbsp;문제에&nbsp;대하여&nbsp;회사는&nbsp;일체의&nbsp;책임을&nbsp;지지&nbsp;않습니다.</p>
        <p>2. 회원님의&nbsp;개인정보를&nbsp;최신의&nbsp;상태로&nbsp;정확하게&nbsp;입력하시기&nbsp;바랍니다. 회원님의&nbsp;부정확한&nbsp;정보입력으로&nbsp;발생하는&nbsp;문제의&nbsp;책임은&nbsp;회원님&nbsp;자신에게&nbsp;있으며,
            타인의&nbsp;주민등록번호&nbsp;등&nbsp;개인정보를&nbsp;도용하여&nbsp;서비스&nbsp;이용&nbsp;시&nbsp;회원자격&nbsp;상실과&nbsp;함께&nbsp;주민등록법에&nbsp;의거하여&nbsp;처벌될&nbsp;수&nbsp;있습니다.</p>
        <p>3. 회원님은&nbsp;개인정보를&nbsp;보호받을&nbsp;권리와&nbsp;함께&nbsp;스스로를&nbsp;보호하고&nbsp;타인의&nbsp;정보를&nbsp;침해하지&nbsp;않을&nbsp;의무도&nbsp;가지고&nbsp;있습니다.
            아이디, 비밀번호를&nbsp;포함한&nbsp;회원님의&nbsp;개인정보가&nbsp;유출되지&nbsp;않도록&nbsp;조심하시고&nbsp;게시물을&nbsp;포함한&nbsp;타인의&nbsp;개인정보를&nbsp;훼손하지&nbsp;않도록&nbsp;유의해&nbsp;주십시오.</p>
        <p>4. 회원님은&nbsp;『정보통신망이용촉진및정보보호등에관한법률』, 개인정보보호법, 주민등록법&nbsp;등&nbsp;기타&nbsp;개인정보에&nbsp;관한&nbsp;법률을&nbsp;준수하여야&nbsp;합니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;9 조&nbsp;링크사이트</h2>
        <p>회사는&nbsp;회원님께&nbsp;다른&nbsp;회사의&nbsp;웹사이트&nbsp;또는&nbsp;자료에&nbsp;대한&nbsp;링크를&nbsp;제공할&nbsp;수&nbsp;있습니다. 이&nbsp;경우&nbsp;회사는&nbsp;외부웹사이트&nbsp;및&nbsp;자료에&nbsp;대한&nbsp;아무런&nbsp;통제권이&nbsp;없으므로&nbsp;그로부터&nbsp;제공받는&nbsp;서비스나&nbsp;자료의&nbsp;유용성에&nbsp;대해&nbsp;책임질&nbsp;수&nbsp;없으며&nbsp;보증할&nbsp;수&nbsp;없습니다.
            회사가&nbsp;포함하고&nbsp;있는&nbsp;링크를&nbsp;통하여&nbsp;타&nbsp;웹사이트의&nbsp;페이지로&nbsp;옮겨갈&nbsp;경우&nbsp;해당&nbsp;웹사이트의&nbsp;개인정보처리방침은&nbsp;회사와&nbsp;무관하므로&nbsp;새로&nbsp;방문한&nbsp;웹사이트의&nbsp;정책을&nbsp;검토해보시기&nbsp;바랍니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;10 조&nbsp;개인정보&nbsp;자동수집&nbsp;장치(쿠키&nbsp;등)의&nbsp;설치, 운영&nbsp;및&nbsp;그&nbsp;거부에&nbsp;관한&nbsp;사항</h2>
        <p>회사는&nbsp;회원님들에게&nbsp;보다&nbsp;적절하고&nbsp;유용한&nbsp;서비스를&nbsp;제공하기&nbsp;위하여&nbsp;회원님의&nbsp;정보를&nbsp;수시로&nbsp;저장하고&nbsp;불러오는&nbsp;‘쿠키(cookie)’를&nbsp;사용합니다.
            쿠키란&nbsp;회사의&nbsp;웹사이트를&nbsp;운영하는데&nbsp;이용되는&nbsp;서버가&nbsp;회원님의&nbsp;컴퓨터로&nbsp;전송하는&nbsp;아주&nbsp;작은&nbsp;텍스트&nbsp;파일로서&nbsp;회원님의&nbsp;컴퓨터&nbsp;하드디스크에&nbsp;저장됩니다.
            회원님께서는&nbsp;쿠키의&nbsp;사용여부에&nbsp;대하여&nbsp;선택하실&nbsp;수&nbsp;있습니다. 단, 쿠키를&nbsp;사용하지&nbsp;않아&nbsp;생기는&nbsp;서비스&nbsp;사용의&nbsp;문제및&nbsp;제한은&nbsp;회사가&nbsp;책임&nbsp;지지&nbsp;않습니다.</p>
        <p>쿠키&nbsp;설정&nbsp;거부&nbsp;방법<br>
            - 회원님은&nbsp;사용하시는&nbsp;웹&nbsp;브라우저의&nbsp;옵션을&nbsp;설정함으로써&nbsp;모든&nbsp;쿠키를&nbsp;허용하거나&nbsp;쿠키를&nbsp;저장할&nbsp;때마다&nbsp;확인을&nbsp;거치거나,
            모든&nbsp;쿠키의&nbsp;저장을&nbsp;거부할&nbsp;수&nbsp;있습니다. 단, 쿠키의&nbsp;저장을&nbsp;거부할&nbsp;경우&nbsp;로그인이&nbsp;필요한&nbsp;일부&nbsp;서비스의&nbsp;이용에&nbsp;제한이&nbsp;생길&nbsp;수&nbsp;있음을&nbsp;양지하시기&nbsp;바랍니다.<br>
            - 쿠키&nbsp;설치&nbsp;허용&nbsp;여부를&nbsp;지정하는&nbsp;방법(Internet Explorer의&nbsp;경우)<br>
            1. [도구] 메뉴에서[인터넷&nbsp;옵션]을&nbsp;선택<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">2. [개인정보]를&nbsp;클릭</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">3. [고급]을&nbsp;클릭</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">4. 쿠키&nbsp;허용여부를&nbsp;선택</span><br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;11 조&nbsp;개인정보의&nbsp;기술적/관리적&nbsp;보호&nbsp;대책</h2>
        <p>회사는&nbsp;회원님의&nbsp;개인정보를&nbsp;보호하기&nbsp;위하여&nbsp;다음과&nbsp;같은&nbsp;보호&nbsp;대책을&nbsp;시행하고&nbsp;있습니다.</p>
        <p>1. 이메일 및 민감정보(비밀번호 등)의&nbsp;암호화<br>
            회원님의&nbsp;비밀번호는&nbsp;암호화되어&nbsp;저장&nbsp;및&nbsp;관리되고&nbsp;있습니다. 비밀번호는&nbsp;오직&nbsp;회원&nbsp;본인만이&nbsp;알&nbsp;수&nbsp;있으며&nbsp;개인정보를&nbsp;확인&nbsp;및&nbsp;변경할&nbsp;경우에도&nbsp;비밀번호를&nbsp;알고&nbsp;있는&nbsp;본인에&nbsp;의해서만&nbsp;가능합니다.
            따라서&nbsp;회원님의&nbsp;비밀번호가&nbsp;타인에게&nbsp;알려지지&nbsp;않도록&nbsp;각별히&nbsp;주의하시기&nbsp;바랍니다.</p>
        <p>2. 해킹&nbsp;및&nbsp;컴퓨터&nbsp;바이러스&nbsp;등에&nbsp;대비<br>
            회사는&nbsp;해킹이나&nbsp;컴퓨터&nbsp;바이러스에&nbsp;의하여&nbsp;회원님들의&nbsp;개인정보가&nbsp;유출되거나&nbsp;훼손되는&nbsp;것을&nbsp;막기&nbsp;위하여&nbsp;필요한&nbsp;보안조치를&nbsp;이용하고&nbsp;있으며,
            더욱&nbsp;향상된&nbsp;보안조치를&nbsp;확보할&nbsp;수&nbsp;있도록&nbsp;가능한&nbsp;모든&nbsp;기술적&nbsp;방법을&nbsp;구비하기&nbsp;위하여&nbsp;노력하고&nbsp;있습니다.
        </p>
        <p>3. 개인정보&nbsp;처리자의&nbsp;제한&nbsp;및&nbsp;교육<br>
            회사는&nbsp;개인정보를&nbsp;처리하는&nbsp;직원을&nbsp;최소한으로&nbsp;제한하고&nbsp;있으며, 관련&nbsp;직원들에&nbsp;대한&nbsp;교육을&nbsp;수시로&nbsp;실시하여&nbsp;본&nbsp;방침의&nbsp;이행&nbsp;및&nbsp;준수여부를&nbsp;확인하고&nbsp;있습니다.
        </p>
        <h2>제&nbsp;12 조&nbsp;개인정보보호책임자</h2>
        <p>회원님의&nbsp;개인정보를&nbsp;보호하고&nbsp;개인정보와&nbsp;관련된&nbsp;불만&nbsp;등을&nbsp;처리하기&nbsp;위하여&nbsp;회사는&nbsp;고객서비스담당&nbsp;부서&nbsp;및&nbsp;개인정보보호책임자를&nbsp;두고&nbsp;있습니다.
            회원님의&nbsp;개인정보와&nbsp;관련한&nbsp;문의사항은&nbsp;아래의&nbsp;고객서비스담당&nbsp;부서&nbsp;또는&nbsp;개인정보보호책임자에게&nbsp;연락하여&nbsp;주시기&nbsp;바랍니다.</p>
        <p>* 고객서비스담당&nbsp;부서: 운영팀<br>
            이메일: help@workspace.me</p>
        <p>* 개인정보보호책임자&nbsp;성명: 배상혁<br>
            소속/직위: 대표<br>
            이메일: help@workspace.me</p>
        <p>기타&nbsp;개인정보침해에&nbsp;대한&nbsp;신고나&nbsp;상담이&nbsp;필요하신&nbsp;경우에는&nbsp;아래&nbsp;기관에&nbsp;문의하시기&nbsp;바랍니다.</p>
        <p>* 개인정보침해신고센터<br>
            - 전화&nbsp;: (국번없이) 118<br>
            - URL : <a href="https://privacy.kisa.or.kr">https://privacy.kisa.or.kr</a></p>
        <p>* 개인정보분쟁조정위원회<br>
            - 전화&nbsp;: 1833-6972<br>
            - URL : <a href="https://www.kopico.go.kr">https://www.kopico.go.kr</a></p>
        <p>* 경찰청&nbsp;사이버안전국<br>
            - 전화&nbsp;: (국번없이) 182<br>
            - URL : <a href="https://cyberbureau.police.go.kr">https://cyberbureau.police.go.kr</a></p>
        <p>* 대검찰청&nbsp;사이버수사과<br>
            - 전화&nbsp;: (국번없이) 1301<br>
            - URL : <a href="http://www.spo.go.kr">http://www.spo.go.kr</a><br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;13 조&nbsp;개인정보처리방침의&nbsp;개정과&nbsp;그&nbsp;공지</h2>
        <p><br data-tomark-pass=""><br>
            본&nbsp;방침은&nbsp;2020년&nbsp;09월&nbsp;01일&nbsp;부터&nbsp;시행됩니다. 현&nbsp;개인정보취급방침&nbsp;내용&nbsp;추가, 삭제&nbsp;및&nbsp;수정이&nbsp;있을&nbsp;시에는&nbsp;개정&nbsp;최소&nbsp;7일전부터&nbsp;홈페이지의&nbsp;공지사항을&nbsp;통해&nbsp;고지할&nbsp;것입니다.
            다만, 개인정보의&nbsp;수집&nbsp;및&nbsp;활용, 제3자&nbsp;제공&nbsp;등과&nbsp;같이&nbsp;이용자&nbsp;권리의&nbsp;중요한&nbsp;변경이&nbsp;있을&nbsp;경우에는&nbsp;최소&nbsp;30일&nbsp;전에&nbsp;고지합니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass=""></span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">1. 개인정보의 조회/수정을 위해서는 사이트의 [마이페이지]내의 [회원정보수정] 항목에서 확인 가능하며, 가입 해지(동의철회)는&nbsp;</span>[마이페이지]<span
                    class="size" style="font-size:13px" data-tomark-pass="">&nbsp;상단 메뉴 '탈퇴하기'를 통하여 탈퇴하실 수 있습니다. 이 외에도 회사의 개인정보 보호책임자에게 서면, 전화 또는 이메일로 연락하여 다음 각 호의 개인정보 보호 관련 권리를 행사 할 수 있습니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass=""></span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">1) 개인정보 열람 요구</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">2) 오류 등이 있을 경우 정정 요</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">3) 삭제의 요구</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">4) 처리정지 요구</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">5) 회원님이 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 회사는 회원님의 요청에 의해 해지 또는 삭제된 개인정보는 제2조에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</span>
        </p>
    </div>
</div>

<footer id="fooot"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#header").load('../../templates/fix/header.html');
        $("#fooot").load('../../templates/fix/footer.html');
    })
</script>
</html>