<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/term.css" type="text/css">
</head>
<body>
<header id="header"></header>
<div class="policySection">
    <div class="verAndstart"><p class="verNum"></p>
        <p class="startDate"></p></div>
    <div class="policyWrap" id="policyWrap"><h1><strong>제&nbsp;1 장&nbsp;총칙</strong></h1>
        <h2>제&nbsp;1 조&nbsp;목적</h2>
        <p>이&nbsp;약관은&nbsp;Throws3(이하&nbsp;“회사” 라고&nbsp;함)가&nbsp;운영하는&nbsp;“워크스페이스” 인터넷사이트(https://www,workspace.me)와&nbsp;스마트폰&nbsp;등&nbsp;이동통신기기를&nbsp;통해&nbsp;제공되는&nbsp;“워크스페이스”
            모바일&nbsp;애플리케이션을&nbsp;통하여&nbsp;제공하는&nbsp;소셜네트워크&nbsp;플랫폼&nbsp;서비스(SNS)&nbsp;및&nbsp;전자상거래&nbsp;등(이하&nbsp;“서비스”라고&nbsp;합니다)와&nbsp;관련하여&nbsp;회사와&nbsp;이용자간의&nbsp;권리와&nbsp;의무,
            책임사항&nbsp;및&nbsp;이용자의&nbsp;서비스이용절차에&nbsp;관한&nbsp;사항을&nbsp;규정함을&nbsp;목적으로&nbsp;합니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;2 조&nbsp;약관의&nbsp;명시, 효력&nbsp;및&nbsp;변경</h2>
        <p><span class="size" style="font-size:13px" data-tomark-pass="">1. 회사는&nbsp;이&nbsp;약관의&nbsp;내용을&nbsp;회사의&nbsp;상호, 영업소&nbsp;소재지, 대표자의&nbsp;성명, 사업자등록번호, 연락처(전자우편주소&nbsp;등)등과&nbsp;함께&nbsp;이용자가&nbsp;확인할&nbsp;수&nbsp;있도록&nbsp;“워크스페이스” 인터넷사이트&nbsp;(</span><a
                href="http://www">http://www</a><span class="size" style="font-size:13px" data-tomark-pass="">.workspace.me) 서비스화면&nbsp;또는&nbsp;이와&nbsp;연결된&nbsp;화면에&nbsp;게시합니다.</span><br>
            2. 회사는&nbsp;약관의규제에관한법률, 전자문서&nbsp;및&nbsp;전자거래기본법, 전자서명법, 정보통신망이용촉진&nbsp;및&nbsp;정보보호등에관한법률, 전자상거래등에서의&nbsp;소비자보호에&nbsp;관한법률,
            전자금융거래법&nbsp;등&nbsp;관련법을&nbsp;위배하지&nbsp;않는&nbsp;범위에서&nbsp;본&nbsp;약관을&nbsp;개정할&nbsp;수&nbsp;있습니다.<br>
            3. 본&nbsp;약관에&nbsp;동의하는&nbsp;것은&nbsp;정기적으로&nbsp;서비스를&nbsp;방문하여&nbsp;본&nbsp;약관의&nbsp;변경사항을&nbsp;확인하는&nbsp;것에&nbsp;동의함을&nbsp;의미합니다.
            변경된&nbsp;약관에&nbsp;대한&nbsp;정보를&nbsp;알지&nbsp;못해&nbsp;발생하는&nbsp;이용자의&nbsp;피해는&nbsp;회사에서&nbsp;책임지지않습니다.<br>
            4. 회사가&nbsp;이&nbsp;약관을&nbsp;개정하는&nbsp;경우&nbsp;기존약관과&nbsp;개정약관&nbsp;및&nbsp;개정약관의&nbsp;적용일자와&nbsp;개정사유를&nbsp;명시하여&nbsp;현행약관과&nbsp;함께&nbsp;그&nbsp;적용일자&nbsp;7일&nbsp;전부터&nbsp;적용일&nbsp;이후&nbsp;상당한&nbsp;기간&nbsp;동안,
            개정&nbsp;내용이&nbsp;고객에게&nbsp;중요한&nbsp;사항일&nbsp;경우에는&nbsp;그&nbsp;적용일자&nbsp;30일&nbsp;전부터&nbsp;적용일&nbsp;이후&nbsp;상당한&nbsp;기간&nbsp;동안&nbsp;각각&nbsp;위&nbsp;제1항의&nbsp;방법으로&nbsp;공지합니다.<br>
            5. 회원이&nbsp;개정된&nbsp;약관에&nbsp;동의하지&nbsp;않는&nbsp;경우&nbsp;회원은&nbsp;탈퇴(해지)를&nbsp;할&nbsp;수&nbsp;있습니다. 회사가&nbsp;전항에&nbsp;따라&nbsp;회원에게&nbsp;통지하면서&nbsp;공지∙고지일로부터&nbsp;개정약관&nbsp;시행일&nbsp;7일&nbsp;후까지&nbsp;거부의사를&nbsp;표시하지&nbsp;아니하면&nbsp;승인한&nbsp;것으로&nbsp;본다는&nbsp;뜻을&nbsp;명확하게&nbsp;고지하였음에도&nbsp;의사표시가&nbsp;없는&nbsp;경우에는&nbsp;변경된&nbsp;약관을&nbsp;승인한&nbsp;것으로&nbsp;간주합니다.<br>
            6. 이&nbsp;약관은&nbsp;회사와&nbsp;이용자&nbsp;간에&nbsp;성립되는&nbsp;서비스&nbsp;이용계약의&nbsp;기본약정입니다. 회사는&nbsp;필요한&nbsp;경우&nbsp;특정&nbsp;서비스에&nbsp;관하여&nbsp;적용될&nbsp;사항(이하&nbsp;“개별약관”이라고&nbsp;합니다)을&nbsp;정하여&nbsp;미리&nbsp;공지할&nbsp;수&nbsp;있습니다.
        </p>
        <p>이용자가&nbsp;이러한&nbsp;개별약관에&nbsp;동의하고&nbsp;특정&nbsp;서비스를&nbsp;이용하는&nbsp;경우에는&nbsp;개별약관이&nbsp;우선적으로&nbsp;적용되고, 이&nbsp;약관은&nbsp;보충적인&nbsp;효력을&nbsp;갖습니다.
            개별약관의&nbsp;변경에&nbsp;관해서는&nbsp;위&nbsp;제2항을&nbsp;준용합니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;3 조&nbsp;용어정의</h2>
        <p><span class="size" style="font-size:13px" data-tomark-pass="">이&nbsp;약관에서&nbsp;사용하는&nbsp;용어의&nbsp;정의는&nbsp;다음과&nbsp;같습니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass=""></span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">1.	“서비스”라&nbsp;함은&nbsp;구현되는&nbsp;단말기(PC, TV, 휴대형단말기&nbsp;등의&nbsp;각종&nbsp;유무선&nbsp;장치를&nbsp;포함)와&nbsp;상관없이&nbsp;“이용자”가&nbsp;이용할&nbsp;수&nbsp;있는&nbsp;워크스페이스&nbsp;및&nbsp;워크스페이스&nbsp;관련&nbsp;제반&nbsp;서비스를&nbsp;의미합니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">2. “이용자”이라&nbsp;함은&nbsp;회사의&nbsp;“서비스”에&nbsp;접속하여&nbsp;이&nbsp;약관에&nbsp;따라&nbsp;“회사”와&nbsp;이용계약을&nbsp;체결하고&nbsp;“회사”가&nbsp;제공하는&nbsp;“서비스”를&nbsp;이용하는&nbsp;회원&nbsp;및&nbsp;비회원을&nbsp;말합니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">3. "회원"이라&nbsp;함은&nbsp;회사의&nbsp;"서비스"에&nbsp;회원가입을&nbsp;한&nbsp;자로서, 계속적으로&nbsp;"회사"가&nbsp;제공하는&nbsp;"서비스"를&nbsp;이용할&nbsp;수&nbsp;있는&nbsp;자를&nbsp;말합니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">4. "비회원"이라&nbsp;함은&nbsp;회원에&nbsp;가입하지&nbsp;않고&nbsp;"회사"가&nbsp;제공하는&nbsp;서비스를&nbsp;이용하는&nbsp;자를&nbsp;말합니다.</span><br>
            5. ”아이디(ID)”라&nbsp;함은&nbsp;“회원”의&nbsp;식별과&nbsp;“서비스” 이용을&nbsp;위하여&nbsp;“회원”이&nbsp;정하고,&nbsp;“회사”가&nbsp;승인하는&nbsp;문자와&nbsp;숫자&nbsp;등의&nbsp;조합으로&nbsp;이루어진&nbsp;식별자를&nbsp;의미합니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">6. "이메일(EMAIL)”라&nbsp;함은&nbsp;“회원”의&nbsp;식별과&nbsp;“서비스” 이용을&nbsp;위하여&nbsp;“회원”이&nbsp;정하고&nbsp;“회사”가&nbsp;승인하는&nbsp;문자와&nbsp;숫자의&nbsp;조합으로&nbsp;이루어진&nbsp;전자우편&nbsp;주소를&nbsp;의미합니다.</span><br>
            7. “닉네임(NICKANME)”라&nbsp;함은&nbsp;“회원”의&nbsp;식별과&nbsp;“서비스” 이용을&nbsp;위하여&nbsp;“회원”이&nbsp;정하고&nbsp;“회사”가&nbsp;승인하는&nbsp;문자와&nbsp;숫자의&nbsp;조합으로&nbsp;이루어진&nbsp;전자우편&nbsp;주소를&nbsp;의미합니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">8. “비밀번호”라&nbsp;함은&nbsp;“회원”이&nbsp;부여&nbsp;받은&nbsp;“아이디”와&nbsp;일치되는&nbsp;“회원”임을&nbsp;확인하고&nbsp;비밀보호를&nbsp;위해&nbsp;“회원” 자신이&nbsp;정한&nbsp;문자&nbsp;또는&nbsp;숫자의&nbsp;조합을&nbsp;의미합니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">9. “유료서비스”라&nbsp;함은&nbsp;“회사”가&nbsp;유료로&nbsp;제공하는&nbsp;서비스를&nbsp;의미합니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">10. “포인트”라&nbsp;함은&nbsp;서비스의&nbsp;효율적&nbsp;이용을&nbsp;위해&nbsp;회사가&nbsp;임의로&nbsp;책정&nbsp;또는&nbsp;지급, 조정할&nbsp;수&nbsp;있는&nbsp;재산적&nbsp;가치가&nbsp;없는&nbsp;“서비스” 상의&nbsp;가상&nbsp;데이터를&nbsp;의미합니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">11. “게시물”이라&nbsp;함은&nbsp;“이용자”가&nbsp;“서비스”를&nbsp;이용함에&nbsp;있어&nbsp;“서비스상”에&nbsp;게시한&nbsp;부호ㆍ문자ㆍ음성ㆍ음향ㆍ화상ㆍ동영상&nbsp;등의&nbsp;정보&nbsp;형태의&nbsp;글, 사진, 동영상&nbsp;및&nbsp;각종&nbsp;파일과&nbsp;링크&nbsp;등을&nbsp;의미합니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">12. “제휴업체”란&nbsp;회사와&nbsp;별도의&nbsp;계약을&nbsp;맺고&nbsp;회사와&nbsp;함께, 또는&nbsp;회사로부터&nbsp;위탁을&nbsp;받아&nbsp;서비스를&nbsp;제공하는&nbsp;개인, 단체&nbsp;또는&nbsp;회사를&nbsp;말합니다.</span>
        </p>
        <h2 style="margin-top: 30px">제&nbsp;4 조&nbsp;약관&nbsp;외&nbsp;준칙</h2>
        <p>1. 본&nbsp;약관은&nbsp;회사가&nbsp;제공하는&nbsp;서비스에&nbsp;관한&nbsp;별도의&nbsp;이용안내와&nbsp;함께&nbsp;적용합니다.</p>
        <p>2. 이&nbsp;약관에&nbsp;명시되지&nbsp;않은&nbsp;사항에&nbsp;대해서는&nbsp;관계법령&nbsp;및&nbsp;회사가&nbsp;정한&nbsp;서비스의&nbsp;세부이용지침&nbsp;등의&nbsp;규정에&nbsp;의합니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;5 조&nbsp;이용자에&nbsp;대한&nbsp;통지</h2>
        <p>1. 회사&nbsp;및&nbsp;회사와&nbsp;제휴한&nbsp;업체가&nbsp;이용자에게&nbsp;통지하는&nbsp;경우, 이용자에게&nbsp;전자우편&nbsp;및&nbsp;기타&nbsp;방법을&nbsp;통해&nbsp;할&nbsp;수&nbsp;있습니다.
            이&nbsp;때&nbsp;이용자가&nbsp;회사에&nbsp;알린&nbsp;연락처&nbsp;중&nbsp;가장&nbsp;최근의&nbsp;정보를&nbsp;활용하여&nbsp;통지하며, 이로써&nbsp;적법한&nbsp;통지를&nbsp;완료한&nbsp;것으로&nbsp;봅니다.</p>
        <p>2. 회사&nbsp;및&nbsp;제휴업체가&nbsp;불특정&nbsp;다수의&nbsp;이용자에&nbsp;대한&nbsp;통지를&nbsp;하는&nbsp;경우는&nbsp;7일&nbsp;이상의&nbsp;기간&nbsp;동안&nbsp;인터넷사이트에&nbsp;공지함으로써&nbsp;제1항에&nbsp;따른&nbsp;개별&nbsp;통지에&nbsp;갈음할&nbsp;수&nbsp;있습니다.</p>
        <h1 style="margin-top: 30px">제&nbsp;2 장&nbsp;서비스이용계약의&nbsp;체결</h1>
        <p><br data-tomark-pass=""></p>
        <h2>제&nbsp;6 조&nbsp;서비스이용계약의&nbsp;체결</h2>
        <p>1. 회원의&nbsp;이용계약은&nbsp;회원으로&nbsp;등록하여&nbsp;서비스를&nbsp;이용하려는&nbsp;자(이하&nbsp;가입신청자)의&nbsp;본&nbsp;약관&nbsp;내용에&nbsp;대한&nbsp;동의와&nbsp;가입신청에&nbsp;대하여&nbsp;회사가&nbsp;이용을&nbsp;승낙함으로써&nbsp;성립합니다.</p>
        <p>2. 이용계약의&nbsp;성립&nbsp;시기는&nbsp;"회사"가&nbsp;가입완료를&nbsp;신청절차&nbsp;상에서&nbsp;표시한&nbsp;시점으로&nbsp;합니다.</p>
        <p>3. 회원으로&nbsp;등록하여&nbsp;서비스를&nbsp;이용하려는&nbsp;자는&nbsp;서비스&nbsp;가입신청&nbsp;시&nbsp;본&nbsp;약관을&nbsp;읽고&nbsp;아래에&nbsp;있는&nbsp;"약관&nbsp;동의"를&nbsp;체크하는&nbsp;것으로&nbsp;본&nbsp;약관에&nbsp;대한&nbsp;동의&nbsp;의사&nbsp;표시를&nbsp;합니다.
            소셜로그인으로&nbsp;가입한&nbsp;회원의&nbsp;경우,&nbsp;“약관&nbsp;동의”에&nbsp;체크한&nbsp;것으로&nbsp;간주합니다.</p>
        <p>4. 비회원은&nbsp;워크스페이스의&nbsp;회원으로&nbsp;등록하지&nbsp;않고&nbsp;워크스페이스에&nbsp;등록된&nbsp;회원&nbsp;및&nbsp;프로젝트&nbsp;등에&nbsp;대한&nbsp;조회&nbsp;등&nbsp;기본적인&nbsp;기능을&nbsp;활용하는&nbsp;자를&nbsp;의미하며&nbsp;비회원으로서&nbsp;서비스를&nbsp;이용하는&nbsp;경우에는,&nbsp;본&nbsp;약관에&nbsp;해당하지&nbsp;않습니다.</p>
        <p>5. 약관을&nbsp;읽지&nbsp;않음으로&nbsp;발생할&nbsp;수&nbsp;있는&nbsp;피해의&nbsp;책임은&nbsp;전적으로&nbsp;이용자에게&nbsp;있습니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">6. “회사”는&nbsp;“이용자”에&nbsp;대해&nbsp;회사정책에&nbsp;따라&nbsp;등급별로&nbsp;구분하여&nbsp;이용시간, 이용횟수, 서비스&nbsp;메뉴&nbsp;등을&nbsp;세분하여&nbsp;이용에&nbsp;차등을&nbsp;둘&nbsp;수&nbsp;있습니다.</span>
        </p>
        <h2>제&nbsp;7 조&nbsp;서비스이용신청</h2>
        <p>1. 서비스를&nbsp;이용하고자&nbsp;하는&nbsp;자는&nbsp;아래&nbsp;사항을&nbsp;회사가&nbsp;온라인으로&nbsp;제공하는&nbsp;양식에&nbsp;따라&nbsp;기재하여야&nbsp;합니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp; 1) 개인 : 아이디,</span><span class="size"
                                                                                                          style="font-size:13px"
                                                                                                          data-tomark-pass="">&nbsp;E-MAIL주소,&nbsp;</span><span
                    class="size" style="font-size:13px" data-tomark-pass="">닉네임,&nbsp;</span><span class="size"
                                                                                                   style="font-size:13px"
                                                                                                   data-tomark-pass="">비밀번호</span><br>
            &nbsp; 2) 사업자 :&nbsp;<span class="size" style="font-size:13px" data-tomark-pass="">사업자명,</span><span
                    class="size" style="font-size:13px" data-tomark-pass="">&nbsp;대표자성명.&nbsp;</span><span class="size"
                                                                                                           style="font-size:13px"
                                                                                                           data-tomark-pass="">사업장주소.&nbsp;</span><span
                    class="size" style="font-size:13px" data-tomark-pass="">전화번호.&nbsp;</span><span class="size"
                                                                                                    style="font-size:13px"
                                                                                                    data-tomark-pass="">담당자명.&nbsp;</span><span
                    class="size" style="font-size:13px" data-tomark-pass="">담당자전화번호,</span><span class="size"
                                                                                                 style="font-size:13px"
                                                                                                 data-tomark-pass="">아이디,</span><span
                    class="size" style="font-size:13px" data-tomark-pass="">닉네임,</span><span class="size"
                                                                                             style="font-size:13px"
                                                                                             data-tomark-pass="">E-MAIL,</span><span
                    class="size" style="font-size:13px" data-tomark-pass="">비밀번호,&nbsp;</span><span class="size"
                                                                                                    style="font-size:13px"
                                                                                                    data-tomark-pass="">사업자등록번호(개인사업자, 법인포함) 또는&nbsp;법인등록번호(법인인&nbsp;경우)</span><span
                    class="size" style="font-size:13px" data-tomark-pass="">업태/</span><span class="size"
                                                                                            style="font-size:13px"
                                                                                            data-tomark-pass="">종목</span><br>
            &nbsp; 3) 정산정보<br>
            &nbsp; 개인&nbsp;: 신분증&nbsp;사본, 결제정산금액&nbsp;입금통장&nbsp;사본<br>
            &nbsp; 사업자&nbsp;: 사업자등록증&nbsp;사본, 결제정산금액&nbsp;입금통장&nbsp;사본</p>
        <p>2. 서비스를&nbsp;이용하려는&nbsp;자는&nbsp;반드시&nbsp;본인의&nbsp;정보를&nbsp;거짓없이&nbsp;기재하여야&nbsp;합니다. 본인의&nbsp;정보로&nbsp;등록하지&nbsp;않은&nbsp;이용자는&nbsp;법적인&nbsp;보호를&nbsp;받을&nbsp;수&nbsp;없으며,<br>
            서비스&nbsp;이용&nbsp;시에&nbsp;불이익을&nbsp;당할&nbsp;수&nbsp;있습니다.<span class="size" style="font-size:13px"
                                                                         data-tomark-pass="">또한&nbsp;서비스에서의&nbsp;어떠한&nbsp;권리도&nbsp;주장할&nbsp;수&nbsp;없습니다.</span>
        </p>
        <p>3. 회사는&nbsp;회원가입&nbsp;및&nbsp;서비스의&nbsp;이용조건에&nbsp;따라, 실명확인을&nbsp;위하여&nbsp;실명확인&nbsp;조치를&nbsp;할&nbsp;수&nbsp;있습니다.</p>
        <p>4. 타인의&nbsp;명의(이름, 회사명, 단체명)를&nbsp;도용하여&nbsp;이용신청을&nbsp;한&nbsp;이용자의&nbsp;모든&nbsp;ID는&nbsp;삭제되며, 관계법령에&nbsp;따라&nbsp;처벌을&nbsp;받을&nbsp;수&nbsp;있습니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;8 조&nbsp;이용신청의&nbsp;승낙</h2>
        <p><span class="size" style="font-size:13px" data-tomark-pass="">1. “회사”는&nbsp;“이용자”의&nbsp;신청에&nbsp;대하여&nbsp;“서비스” 이용을&nbsp;승낙함을&nbsp;원칙으로&nbsp;합니다. 다만, “회사”는&nbsp;다음&nbsp;각&nbsp;호에&nbsp;해당하는&nbsp;신청에&nbsp;대하여는&nbsp;승낙을&nbsp;하지&nbsp;않거나&nbsp;사후에&nbsp;이용계약을&nbsp;해지할&nbsp;수&nbsp;있습니다.</span>
        </p>
        <ol>
            <li>이용자가&nbsp;이&nbsp;약관에&nbsp;의하여&nbsp;이전에&nbsp;서비스&nbsp;이용&nbsp;자격을&nbsp;상실한&nbsp;적이&nbsp;있는&nbsp;경우, 다만,
                자격&nbsp;상실&nbsp;후&nbsp;30일이&nbsp;경과한&nbsp;자로서&nbsp;“회사”로부터&nbsp;서비스&nbsp;이용&nbsp;승낙을&nbsp;얻은&nbsp;경우에는&nbsp;예외로&nbsp;함.<br>
                <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;2) 실명이&nbsp;아니거나&nbsp;타인의&nbsp;명의를&nbsp;이용한&nbsp;경우</span><br>
                <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;3) 허위의&nbsp;정보를&nbsp;기재하거나, “회사”가&nbsp;제시하는&nbsp;내용을&nbsp;기재하지&nbsp;않은&nbsp;경우</span><br>
                <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;4) 이용자의&nbsp;귀책사유로&nbsp;인하여&nbsp;승인이&nbsp;불가능하거나&nbsp;기타&nbsp;규정한&nbsp;제반&nbsp;사항을&nbsp;위반하며&nbsp;신청하는&nbsp;경우</span>
            </li>
        </ol>
        <p>2.&nbsp; 제1항에&nbsp;따른&nbsp;신청에&nbsp;있어&nbsp;“회사”는&nbsp;“회원”의&nbsp;종류에&nbsp;따라&nbsp;전문기관을&nbsp;통한&nbsp;실명확인&nbsp;및&nbsp;본인인증을&nbsp;요청할&nbsp;수&nbsp;있습니다.</p>
        <p>3.&nbsp; “회사”는&nbsp;서비스&nbsp;관련&nbsp;설비의&nbsp;여유가&nbsp;없거나, 기술상&nbsp;또는&nbsp;업무상&nbsp;문제가&nbsp;있는&nbsp;경우에는&nbsp;승낙을&nbsp;유보할&nbsp;수&nbsp;있습니다.</p>
        <p>4. 제 1항과&nbsp;제3항에&nbsp;따라&nbsp;회원가입신청의&nbsp;승낙을&nbsp;하지&nbsp;아니하거나&nbsp;유보한&nbsp;경우, “회사”는&nbsp;원칙적으로&nbsp;이를&nbsp;가입신청자에게&nbsp;알리도록&nbsp;합니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;9 조&nbsp;서비스의&nbsp;위탁</h2>
        <p>회사는&nbsp;필요하다고&nbsp;인정하는&nbsp;경우&nbsp;서비스의&nbsp;일부를&nbsp;제휴업체에&nbsp;위탁할&nbsp;수&nbsp;있습니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;10 조&nbsp;개인정보보호정책</h2>
        <p>1. 회사는&nbsp;관계법령이&nbsp;정하는&nbsp;바에&nbsp;따라&nbsp;이용자의&nbsp;개인정보를&nbsp;보호하기&nbsp;위하여&nbsp;노력을&nbsp;합니다.</p>
        <p>2. 이용자의&nbsp;개인정보보호에&nbsp;관하여&nbsp;관계법령&nbsp;및&nbsp;회사가&nbsp;정하는&nbsp;“개인정보취급방침”에&nbsp;정한&nbsp;바에&nbsp;따릅니다.
            단, 이용자의&nbsp;귀책사유로&nbsp;인해&nbsp;노출된&nbsp;정보에&nbsp;대해&nbsp;회사는&nbsp;회사의&nbsp;고의&nbsp;또는&nbsp;중과실이&nbsp;있는&nbsp;경우를&nbsp;제외하고&nbsp;일체의&nbsp;책임을&nbsp;지지&nbsp;않습니다.</p>
        <p>3. 회사는&nbsp;이용자가&nbsp;미풍양속에&nbsp;저해되거나&nbsp;국가안보에&nbsp;위배되는&nbsp;파일&nbsp;등&nbsp;위법한&nbsp;자료를&nbsp;등록&nbsp;배포할&nbsp;경우&nbsp;관련기관의&nbsp;요청이&nbsp;있을&nbsp;시&nbsp;이용자의&nbsp;자료를&nbsp;열람&nbsp;및&nbsp;해당&nbsp;자료를&nbsp;관련기관에&nbsp;제출할&nbsp;수&nbsp;있습니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;11 조&nbsp;회원정보의&nbsp;변경</h2>
        <p>1. "회원”은&nbsp;개인정보관리화면을&nbsp;통하여&nbsp;언제든지&nbsp;본인의&nbsp;개인정보를&nbsp;열람하고&nbsp;수정할&nbsp;수&nbsp;있습니다. 다만, 서비스&nbsp;관리를&nbsp;위해&nbsp;필요한&nbsp;이메일&nbsp;등은&nbsp;수정이&nbsp;불가능합니다.<br>
            2.&nbsp;“회원”은&nbsp;회원가입신청&nbsp;시&nbsp;기재한&nbsp;사항이&nbsp;변경되었을&nbsp;경우&nbsp;온라인으로&nbsp;수정을&nbsp;하거나&nbsp;전자우편&nbsp;기타&nbsp;방법으로&nbsp;“회사”에&nbsp;대하여&nbsp;그&nbsp;변경사항을&nbsp;알려야&nbsp;합니다.<br>
            3. 제2항의&nbsp;변경사항을&nbsp;“회사”에&nbsp;알리지&nbsp;않아&nbsp;발생한&nbsp;불이익에&nbsp;대하여&nbsp;“회사”는&nbsp;책임지지&nbsp;않습니다.
        </p>
        <h2>제&nbsp;12 조&nbsp;회원ID 및&nbsp;이메일의&nbsp;등록&nbsp;및&nbsp;변경&nbsp;등</h2>
        <p>1. 회사는&nbsp;이용고객에&nbsp;대하여&nbsp;약관에&nbsp;정하는&nbsp;바에&nbsp;따라&nbsp;이용자&nbsp;ID 및&nbsp;이메일,닉네임을&nbsp;등록합니다.</p>
        <p>2. 회원ID와&nbsp;이메일은&nbsp;원칙적으로&nbsp;변경이&nbsp;불가하며&nbsp;부득이한&nbsp;사유로&nbsp;인하여&nbsp;변경하고자&nbsp;하는&nbsp;경우에는&nbsp;해당&nbsp;ID와&nbsp;이메일을&nbsp;해지하고&nbsp;재가입해야&nbsp;합니다.</p>
        <p>3. 회원ID와&nbsp;이메일은&nbsp;이용자&nbsp;본인의&nbsp;동의&nbsp;하에&nbsp;회사가&nbsp;운영하는&nbsp;자사&nbsp;사이트의&nbsp;회원ID 및&nbsp;이메일과&nbsp;연결될&nbsp;수&nbsp;있습니다.</p>
        <p>4. 닉네임은&nbsp;다음&nbsp;각&nbsp;호에&nbsp;해당하는&nbsp;경우에는&nbsp;이용고객&nbsp;또는&nbsp;회사의&nbsp;요청으로&nbsp;변경할&nbsp;수&nbsp;있습니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;1) 타인에게&nbsp;혐오감을&nbsp;주거나&nbsp;미풍양속에&nbsp;어긋나는&nbsp;경우</span><br>
            <span class="size" style="font-size:13px"
                  data-tomark-pass="">&nbsp;2) 기타&nbsp;합리적인&nbsp;사유가&nbsp;있는&nbsp;경우</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass=""></span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">5. 서비스&nbsp;회원ID 및&nbsp;비밀번호를&nbsp;제3자에게&nbsp;노출하거나&nbsp;제3자가&nbsp;이를&nbsp;이용하게&nbsp;하여서는&nbsp;안&nbsp;됩니다. 이를&nbsp;소홀히&nbsp;관리하여&nbsp;발생하는&nbsp;서비스&nbsp;이용상의&nbsp;손해&nbsp;또는&nbsp;제3자에&nbsp;의한&nbsp;부정이용&nbsp;등에&nbsp;대한&nbsp;책임은&nbsp;이용자에게&nbsp;있습니다. 단, 이것이&nbsp;회사의&nbsp;고의&nbsp;또는&nbsp;과실로&nbsp;인하여&nbsp;야기된&nbsp;경우는&nbsp;회사가&nbsp;책임을&nbsp;부담합니다.</span>
        </p>
        <p>6. 기타&nbsp;이용자&nbsp;개인정보&nbsp;관리&nbsp;및&nbsp;변경&nbsp;등에&nbsp;관한&nbsp;사항은&nbsp;서비스&nbsp;별&nbsp;안내에&nbsp;정하는&nbsp;바에&nbsp;의합니다.</p>
        <h1>제&nbsp;3 장&nbsp;계약&nbsp;당사자의&nbsp;의무</h1>
        <h2>제&nbsp;13 조&nbsp;회사의&nbsp;의무</h2>
        <p>1. 회사는&nbsp;관련법과&nbsp;본&nbsp;약관이&nbsp;금지하거나&nbsp;공서양속에&nbsp;반하는&nbsp;행위를&nbsp;하지&nbsp;않으며&nbsp;본&nbsp;약관이&nbsp;정하는&nbsp;바에&nbsp;따라&nbsp;지속적이고&nbsp;안정적으로&nbsp;서비스를&nbsp;제공하기&nbsp;위하여&nbsp;최선을&nbsp;다합니다.</p>
        <p>2. 회사는&nbsp;이용자가&nbsp;안전하게&nbsp;서비스를&nbsp;이용할&nbsp;수&nbsp;있도록&nbsp;보안&nbsp;시스템을&nbsp;구축하며&nbsp;개인정보보호정책을&nbsp;공시하고&nbsp;준수합니다.</p>
        <p>3. 회사는&nbsp;이용자가&nbsp;원하지&nbsp;않는&nbsp;영리목적의&nbsp;광고성&nbsp;전자우편을&nbsp;발송하지&nbsp;않습니다.</p>
        <p>4. 회사는&nbsp;서비스&nbsp;제공과&nbsp;관련하여&nbsp;알고&nbsp;있는&nbsp;이용자가&nbsp;신상정보를&nbsp;본인의&nbsp;승낙&nbsp;없이&nbsp;제3자에게&nbsp;누설,
            배포하지&nbsp;않습니다. 단, 관계법령에&nbsp;의한&nbsp;수사상의&nbsp;목적으로&nbsp;관계기관으로부터&nbsp;요구&nbsp;받은&nbsp;경우나&nbsp;방송통신심의위원회의&nbsp;요청이&nbsp;있는&nbsp;경우&nbsp;등&nbsp;법률의&nbsp;규정에&nbsp;따른&nbsp;적법한&nbsp;절차에&nbsp;의한&nbsp;경우에는&nbsp;그러하지&nbsp;않습니다.</p>
        <p>5. 회사는&nbsp;정보통신망&nbsp;이용촉진&nbsp;및&nbsp;정보보호에&nbsp;관한&nbsp;법률, 통신비밀보호법&nbsp;등&nbsp;서비스의&nbsp;운영, 유지와&nbsp;관련&nbsp;있는&nbsp;법규를&nbsp;준수합니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;14 조&nbsp;이용자의&nbsp;의무</h2>
        <p>1. 이용자는&nbsp;회원가입&nbsp;신청&nbsp;또는&nbsp;회원정보&nbsp;변경&nbsp;시&nbsp;모든&nbsp;사항을&nbsp;사실에&nbsp;근거하여&nbsp;작성하여야&nbsp;하며,
            허위&nbsp;또는&nbsp;타인의&nbsp;정보를&nbsp;등록할&nbsp;경우&nbsp;일체의&nbsp;권리를&nbsp;주장할&nbsp;수&nbsp;없습니다.</p>
        <p>2. 이용자는&nbsp;본&nbsp;약관에서&nbsp;규정하는&nbsp;사항과&nbsp;기타&nbsp;회사가&nbsp;정한&nbsp;제반&nbsp;규정, 공지사항&nbsp;등&nbsp;회사가&nbsp;공지하는&nbsp;사항&nbsp;및&nbsp;관계법령을&nbsp;준수하여야&nbsp;하며,
            기타&nbsp;회사의&nbsp;업무에&nbsp;방해가&nbsp;되는&nbsp;행위, 회사의&nbsp;명예를&nbsp;손상시키는&nbsp;행위를&nbsp;해서는&nbsp;안됩니다.</p>
        <p>3. 이용자는&nbsp;연락처, 전자우편&nbsp;주소&nbsp;등&nbsp;이용계약사항이&nbsp;변경된&nbsp;경우에&nbsp;해당&nbsp;절차를&nbsp;거쳐&nbsp;이를&nbsp;회사에&nbsp;즉시&nbsp;알려야&nbsp;합니다.</p>
        <p>4. 회사가&nbsp;관계법령&nbsp;및&nbsp;‘개인정보&nbsp;보호정책’에&nbsp;의거하여&nbsp;그&nbsp;책임을&nbsp;지는&nbsp;경우를&nbsp;제외하고&nbsp;회원에게&nbsp;부여된&nbsp;ID/이메일/비밀번호&nbsp;관리소홀에&nbsp;의하여&nbsp;발생하는&nbsp;모든&nbsp;결과에&nbsp;대한&nbsp;책임은&nbsp;이용자에게&nbsp;있습니다.
            단, 이것이&nbsp;회사의&nbsp;고의&nbsp;또는&nbsp;과실로&nbsp;인하여&nbsp;야기된&nbsp;경우는&nbsp;회사가&nbsp;책임을&nbsp;부담합니다.</p>
        <p>5. 이용자는&nbsp;회사의&nbsp;사전&nbsp;승낙&nbsp;없이&nbsp;서비스를&nbsp;이용하여&nbsp;영업활동을&nbsp;할&nbsp;수&nbsp;없으며, 그&nbsp;영업활동의&nbsp;결과에&nbsp;대해&nbsp;회사는&nbsp;책임을&nbsp;지지&nbsp;않습니다.
            또한&nbsp;이용자는&nbsp;이와&nbsp;같은&nbsp;영업활동으로&nbsp;회사가&nbsp;손해를&nbsp;입은&nbsp;경우, 이용자는&nbsp;회사에&nbsp;대해&nbsp;손해배상의무를&nbsp;지며,
            회사는&nbsp;해당&nbsp;이용자에&nbsp;대해&nbsp;서비스&nbsp;이용제한&nbsp;및&nbsp;적법한&nbsp;절차를&nbsp;거쳐&nbsp;손해배상&nbsp;등을&nbsp;청구할&nbsp;수&nbsp;있습니다.</p>
        <p>6. 이용자는&nbsp;회사의&nbsp;명시적&nbsp;동의가&nbsp;없는&nbsp;한&nbsp;서비스의&nbsp;이용권한, 기타&nbsp;이용계약상의&nbsp;지위를&nbsp;타인에게&nbsp;양도,
            증여할&nbsp;수&nbsp;없으며&nbsp;이를&nbsp;담보로&nbsp;제공할&nbsp;수&nbsp;없습니다.</p>
        <p>7. 이용자는&nbsp;회사&nbsp;및&nbsp;제&nbsp;3자의&nbsp;지적&nbsp;재산권을&nbsp;침해해서는&nbsp;안&nbsp;됩니다.</p>
        <p>8. 이용자는&nbsp;다음&nbsp;각&nbsp;호에&nbsp;해당하는&nbsp;행위를&nbsp;하여서는&nbsp;안&nbsp;되며, 해당&nbsp;행위를&nbsp;하는&nbsp;경우에&nbsp;회사는&nbsp;사전통보&nbsp;없이&nbsp;이용자의&nbsp;서비스&nbsp;이용제한&nbsp;및&nbsp;적법&nbsp;조치를&nbsp;포함한&nbsp;제재를&nbsp;가할&nbsp;수&nbsp;있습니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;1) 회원가입&nbsp;신청&nbsp;또는&nbsp;회원정보&nbsp;변경&nbsp;시&nbsp;허위내용을&nbsp;등록하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;2) 다른&nbsp;이용자의&nbsp;ID, 비밀번호, E-MAIL, 연락처&nbsp;등&nbsp;개인정보를&nbsp;도용하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;3) 이용자&nbsp;ID를&nbsp;타인과&nbsp;거래하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;4) 회사의&nbsp;운영진, 직원&nbsp;또는&nbsp;관계자를&nbsp;사칭하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;5) 회사로부터&nbsp;특별한&nbsp;권리를&nbsp;부여&nbsp;받지&nbsp;않고&nbsp;회사의&nbsp;클라이언트&nbsp;프로그램을&nbsp;변경하거나, 회사의&nbsp;서버를&nbsp;해킹하거나, 웹사이트&nbsp;또는&nbsp;게시된&nbsp;정보의&nbsp;일부분&nbsp;또는&nbsp;전체를&nbsp;임의로&nbsp;변경하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;6) 서비스에&nbsp;위해를&nbsp;가하거나&nbsp;고의로&nbsp;방해하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;7) 본&nbsp;서비스를&nbsp;통해&nbsp;얻은&nbsp;정보를&nbsp;회사의&nbsp;사전&nbsp;승낙&nbsp;없이&nbsp;서비스&nbsp;이용&nbsp;외의&nbsp;목적으로&nbsp;복제하거나, 이를&nbsp;출판&nbsp;및&nbsp;방송&nbsp;등에&nbsp;사용하거나, 제&nbsp;3자에게&nbsp;제공하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;8) 공공질서&nbsp;및&nbsp;미풍양속에&nbsp;위반되는&nbsp;저속, 음란한&nbsp;내용의&nbsp;정보, 문장, 도형, 음향, 동영상을&nbsp;전송, 게시, 전자우편&nbsp;또는&nbsp;기타의&nbsp;방법으로&nbsp;타인에게&nbsp;유포하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;9) 모욕적이거나&nbsp;개인신상에&nbsp;대한&nbsp;내용이어서&nbsp;타인의&nbsp;명예나&nbsp;프라이버시를&nbsp;침해할&nbsp;수&nbsp;있는&nbsp;내용을&nbsp;전송, 게시, 전자우편&nbsp;또는&nbsp;기타의&nbsp;방법으로&nbsp;타인에게&nbsp;유포하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;10) 용도에&nbsp;대한&nbsp;자세하고&nbsp;정확한&nbsp;설명&nbsp;없이&nbsp;Active X, 스파이웨어, 애드웨어&nbsp;등을&nbsp;무조건&nbsp;설치하도록&nbsp;유도하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;11) 다른&nbsp;이용자를&nbsp;희롱&nbsp;또는&nbsp;위협하거나, 특정&nbsp;이용자에게&nbsp;지속적으로&nbsp;고통&nbsp;또는&nbsp;불편을&nbsp;주는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;12) 회사의&nbsp;승인을&nbsp;받지&nbsp;않고&nbsp;다른&nbsp;사용자의&nbsp;개인정보를&nbsp;수집&nbsp;또는&nbsp;저장하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;13) 범죄와&nbsp;결부된다고&nbsp;객관적으로&nbsp;판단되는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;14) 본&nbsp;약관을&nbsp;포함하여&nbsp;기타&nbsp;회사가&nbsp;정한&nbsp;제반&nbsp;규정&nbsp;또는&nbsp;이용&nbsp;조건을&nbsp;위반하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px"
                  data-tomark-pass="">&nbsp;15) 기타&nbsp;관계법령에&nbsp;위배되는&nbsp;행위</span></p>
        <h1>제&nbsp;4 장&nbsp;서비스&nbsp;이용</h1>
        <h2>제&nbsp;15 조&nbsp;서비스&nbsp;이용시간</h2>
        <p>1. 서비스&nbsp;이용시간은&nbsp;업무상&nbsp;또는&nbsp;기술상&nbsp;특별한&nbsp;지장이&nbsp;없는&nbsp;한&nbsp;연중무휴&nbsp;1일&nbsp;24시간을&nbsp;원칙으로&nbsp;합니다.
            단, 회사는&nbsp;시스템&nbsp;정기점검, 증설&nbsp;및&nbsp;교체를&nbsp;위해&nbsp;회사가&nbsp;정한&nbsp;날이나&nbsp;시간에&nbsp;서비스를&nbsp;일시&nbsp;중단할&nbsp;수&nbsp;있으며&nbsp;예정된&nbsp;작업으로&nbsp;인한&nbsp;서비스&nbsp;일시&nbsp;중단은&nbsp;사전에&nbsp;공지합니다.</p>
        <p>2. 회사는&nbsp;다음&nbsp;경우에&nbsp;대하여&nbsp;사전&nbsp;공지나&nbsp;예고&nbsp;없이&nbsp;서비스를&nbsp;일시적&nbsp;혹은&nbsp;영구적으로&nbsp;중단할&nbsp;수&nbsp;있습니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;1) 긴급한&nbsp;시스템&nbsp;점검, 증설, 교체, 고장&nbsp;혹은&nbsp;오동작을&nbsp;일으키는&nbsp;경우</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;2) 국가비상사태, 정전, 천재지변&nbsp;등의&nbsp;불가항력적인&nbsp;사유가&nbsp;있는&nbsp;경우</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;3) 서비스&nbsp;이용의&nbsp;폭주&nbsp;등으로&nbsp;정상적인&nbsp;서비스&nbsp;이용에&nbsp;지장이&nbsp;있는&nbsp;경우</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass=""></span><br>
            3. 전항에&nbsp;의한&nbsp;서비스&nbsp;중단의&nbsp;경우&nbsp;회사는&nbsp;사전에&nbsp;공지사항&nbsp;등을&nbsp;통하여&nbsp;회원에게&nbsp;통지합니다.
            단, 회사가&nbsp;통제할&nbsp;수&nbsp;없는&nbsp;사유로&nbsp;발생한&nbsp;서비스의&nbsp;중단에&nbsp;대하여&nbsp;사전공지가&nbsp;불가능한&nbsp;경우에는&nbsp;예외로&nbsp;합니다.
        </p>
        <p>4. 회사는&nbsp;서비스를&nbsp;특정범위로&nbsp;분할하여&nbsp;범위&nbsp;별로&nbsp;이용가능시간을&nbsp;별도로&nbsp;지정할&nbsp;수&nbsp;있으며&nbsp;이&nbsp;경우&nbsp;그&nbsp;내용을&nbsp;사전공지합니다.</p>
        <h2>제&nbsp;16 조&nbsp;서비스&nbsp;이용해지</h2>
        <p>1. 회원이&nbsp;이용계약을&nbsp;해지하고자&nbsp;하는&nbsp;경우에는&nbsp;회원&nbsp;본인이&nbsp;온라인을&nbsp;통하여&nbsp;등록&nbsp;해지&nbsp;신청을&nbsp;하여야&nbsp;합니다.</p>
        <p>2. 회사가&nbsp;제3자에게&nbsp;합병&nbsp;또는&nbsp;분할&nbsp;합병되거나&nbsp;서비스를&nbsp;제3자에게&nbsp;양도함으로써&nbsp;서비스의&nbsp;제공&nbsp;주체가&nbsp;변경되는&nbsp;경우,
            회사는&nbsp;사전에&nbsp;이메일과&nbsp;공지&nbsp;사항으로&nbsp;회원에게&nbsp;통지합니다. 이&nbsp;경우&nbsp;합병, 분할합병, 서비스&nbsp;양도에&nbsp;반대하는&nbsp;회원은&nbsp;서비스&nbsp;이용계약을&nbsp;해지할&nbsp;수&nbsp;있습니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;17 조&nbsp;서비스&nbsp;이용제한</h2>
        <p>1. 이용자는&nbsp;다음&nbsp;각&nbsp;호에&nbsp;해당하는&nbsp;행위를&nbsp;하여서는&nbsp;아니&nbsp;됩니다. 해당&nbsp;행위를&nbsp;한&nbsp;경우에&nbsp;회사는&nbsp;이용자에게&nbsp;경고&nbsp;누적&nbsp;등&nbsp;적법한&nbsp;조치를&nbsp;취할&nbsp;수&nbsp;있으며,
            이&nbsp;경우&nbsp;회사는&nbsp;이용자에게&nbsp;이메일, 전화, 기타의&nbsp;방법으로&nbsp;사유를&nbsp;명시하여&nbsp;사전&nbsp;통지하고, 경중에&nbsp;따라&nbsp;한시적,
            영구적으로&nbsp;서비스&nbsp;이용을&nbsp;제한하거나&nbsp;이용계약을&nbsp;해지할&nbsp;수&nbsp;있습니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;1) 회원가입&nbsp;신청&nbsp;또는&nbsp;회원정보&nbsp;변경&nbsp;시&nbsp;허위내용을&nbsp;등록하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;2) 다른&nbsp;이용자의&nbsp;ID, 비밀번호, E-MAIL, 연락처&nbsp;등&nbsp;개인정보를&nbsp;도용하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;3) 이용자&nbsp;ID를&nbsp;타인과&nbsp;거래하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;4) 회사의&nbsp;운영진, 직원&nbsp;또는&nbsp;관계자를&nbsp;사칭하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;5) 회사로부터&nbsp;특별한&nbsp;권리를&nbsp;부여&nbsp;받지&nbsp;않고&nbsp;회사의&nbsp;클라이언트&nbsp;프로그램을&nbsp;변경하거나, 회사의&nbsp;서버를&nbsp;해킹하거나, 웹사이트&nbsp;또는&nbsp;게시된&nbsp;정보의&nbsp;일부분&nbsp;또는&nbsp;전체를&nbsp;임의로&nbsp;변경하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;6) 서비스에&nbsp;위해를&nbsp;가하거나&nbsp;고의로&nbsp;방해하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;7) 본&nbsp;서비스를&nbsp;통해&nbsp;얻은&nbsp;정보를&nbsp;회사의&nbsp;사전&nbsp;승낙&nbsp;없이&nbsp;서비스&nbsp;이용&nbsp;외의&nbsp;목적으로&nbsp;복제하거나, 이를&nbsp;출판&nbsp;및&nbsp;방송&nbsp;등에&nbsp;사용하거나, 제&nbsp;3자에게&nbsp;제공하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;8) 공공질서&nbsp;및&nbsp;미풍양속에&nbsp;위반되는&nbsp;저속, 음란한&nbsp;내용의&nbsp;정보, 문장, 도형, 음향, 동영상을&nbsp;전송, 게시, 전자우편&nbsp;또는&nbsp;기타의&nbsp;방법으로&nbsp;타인에게&nbsp;유포하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;9) 모욕적이거나&nbsp;개인신상에&nbsp;대한&nbsp;내용이어서&nbsp;타인의&nbsp;명예나&nbsp;프라이버시를&nbsp;침해할&nbsp;수&nbsp;있는&nbsp;내용을&nbsp;전송, 게시, 전자우편&nbsp;또는&nbsp;기타의&nbsp;방법으로&nbsp;타인에게&nbsp;유포하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;10) 용도에&nbsp;대한&nbsp;자세하고&nbsp;정확한&nbsp;설명&nbsp;없이&nbsp;Active X, 스파이웨어, 애드웨어&nbsp;등을&nbsp;무조건&nbsp;설치하도록&nbsp;유도하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;11) 다른&nbsp;이용자를&nbsp;희롱&nbsp;또는&nbsp;위협하거나, 특정&nbsp;이용자에게&nbsp;지속적으로&nbsp;고통&nbsp;또는&nbsp;불편을&nbsp;주는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;12) 회사의&nbsp;승인을&nbsp;받지&nbsp;않고&nbsp;다른&nbsp;사용자의&nbsp;개인정보를&nbsp;수집&nbsp;또는&nbsp;저장하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;13) 범죄와&nbsp;결부된다고&nbsp;객관적으로&nbsp;판단되는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;14) 본&nbsp;약관을&nbsp;포함하여&nbsp;기타&nbsp;회사가&nbsp;정한&nbsp;제반&nbsp;규정&nbsp;또는&nbsp;이용&nbsp;조건을&nbsp;중대하게&nbsp;위반하는&nbsp;행위</span><br>
            <span class="size" style="font-size:13px"
                  data-tomark-pass="">&nbsp;15) 기타&nbsp;관계법령에&nbsp;위배되는&nbsp;행위</span></p>
        <p>2. 이용자는&nbsp;제1항의&nbsp;귀책사유로&nbsp;인하여&nbsp;회사나&nbsp;다른&nbsp;이용자에게&nbsp;입힌&nbsp;손해를&nbsp;배상할&nbsp;책임이&nbsp;있습니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;18 조&nbsp;게시물의&nbsp;관리</h2>
        <p>회사는&nbsp;다음&nbsp;각&nbsp;호에&nbsp;해당하는&nbsp;게시물이나&nbsp;자료를&nbsp;사전통지&nbsp;없이&nbsp;삭제하거나&nbsp;이동&nbsp;또는&nbsp;등록&nbsp;거부를&nbsp;할&nbsp;수&nbsp;있습니다.</p>
        <p>1. 다른&nbsp;이용자&nbsp;또는&nbsp;제3자에게&nbsp;심한&nbsp;모욕을&nbsp;주거나&nbsp;명예를&nbsp;손상시키는&nbsp;내용인&nbsp;경우</p>
        <p>2. 공공질서&nbsp;및&nbsp;미풍양속에&nbsp;위반되는&nbsp;내용을&nbsp;유포하거나&nbsp;링크시키는&nbsp;경우</p>
        <p>3. 불법복제&nbsp;또는&nbsp;해킹을&nbsp;조장하는&nbsp;내용인&nbsp;경우</p>
        <p>4. 영리를&nbsp;목적으로&nbsp;하는&nbsp;광고일&nbsp;경우</p>
        <p>5. 범죄와&nbsp;결부된다고&nbsp;객관적으로&nbsp;인정되는&nbsp;내용일&nbsp;경우</p>
        <p>6. 다른&nbsp;이용자&nbsp;또는&nbsp;제3자의&nbsp;저작권&nbsp;등&nbsp;기타&nbsp;권리를&nbsp;침해하는&nbsp;내용인&nbsp;경우</p>
        <p>7. 회사에서&nbsp;규정한&nbsp;게시물&nbsp;원칙에&nbsp;어긋나거나, 게시판&nbsp;성격에&nbsp;부합하지&nbsp;않는&nbsp;경우</p>
        <p>8. 기타&nbsp;관계법령에&nbsp;위배된다고&nbsp;판단되는&nbsp;경우<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;19 조&nbsp;게시물에&nbsp;대한&nbsp;저작권</h2>
        <p>1. 이용자가&nbsp;서비스&nbsp;내에&nbsp;게시한&nbsp;게시물의&nbsp;저작권은&nbsp;게시한&nbsp;이용자에게&nbsp;귀속됩니다. 또한&nbsp;회사는&nbsp;게시자의&nbsp;동의&nbsp;없이&nbsp;게시물을&nbsp;상업적으로&nbsp;이용할&nbsp;수&nbsp;없습니다.
            다만, 비영리&nbsp;목적인&nbsp;경우는&nbsp;그러하지&nbsp;아니하며, 또한&nbsp;서비스&nbsp;내의&nbsp;게재권을&nbsp;갖습니다.</p>
        <p>2. 이용자는&nbsp;서비스를&nbsp;이용하여&nbsp;취득한&nbsp;정보를&nbsp;임의&nbsp;가공, 판매하는&nbsp;행위&nbsp;등&nbsp;서비스에&nbsp;게재된&nbsp;자료를&nbsp;상업적으로&nbsp;사용할&nbsp;수&nbsp;없습니다.</p>
        <p>3. 이용자는&nbsp;회원이&nbsp;게시하거나&nbsp;등록하는&nbsp;서비스&nbsp;내의&nbsp;내용물, 게시&nbsp;내용에&nbsp;대해&nbsp;제18조&nbsp;제1항의&nbsp;각&nbsp;호에&nbsp;해당한다고&nbsp;판단되는&nbsp;경우&nbsp;사전통지&nbsp;없이&nbsp;수정,
            삭제하거나&nbsp;이동&nbsp;또는&nbsp;등록을&nbsp;거부할&nbsp;수&nbsp;있습니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;20 조&nbsp;서비스&nbsp;내&nbsp;링크에&nbsp;대한&nbsp;보증</h2>
        <p>1. 회사가&nbsp;제공하는&nbsp;서비스&nbsp;내에는&nbsp;다양한&nbsp;배너와&nbsp;링크(Link)를&nbsp;포함하고&nbsp;있습니다. 많은&nbsp;경우&nbsp;타&nbsp;사이트의&nbsp;페이지와&nbsp;연결되어&nbsp;있으며,
            이는&nbsp;광고주와의&nbsp;계약관계에&nbsp;의하거나&nbsp;제공받은&nbsp;콘텐츠의&nbsp;출처를&nbsp;밝히기&nbsp;위한&nbsp;조치입니다. 서비스&nbsp;내에&nbsp;포함되어&nbsp;있는&nbsp;링크를&nbsp;클릭하여&nbsp;타&nbsp;사이트의&nbsp;페이지로&nbsp;옮겨갈&nbsp;경우&nbsp;해당&nbsp;사이트의&nbsp;개인정보보호정책은&nbsp;회사와&nbsp;무관하므로&nbsp;새로&nbsp;방문한&nbsp;사이트의&nbsp;정책을&nbsp;검토하셔야&nbsp;합니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;21 조&nbsp;정보의&nbsp;제공</h2>
        <p>1. 회사는&nbsp;회원에게&nbsp;서비스&nbsp;이용에&nbsp;필요가&nbsp;있다고&nbsp;인정되는&nbsp;각종&nbsp;정보에&nbsp;대해서&nbsp;전자우편이나&nbsp;서신우편&nbsp;등의&nbsp;방법으로&nbsp;회원에게&nbsp;제공할&nbsp;수&nbsp;있습니다.</p>
        <p>2. 회사는&nbsp;서비스&nbsp;개선&nbsp;및&nbsp;회원&nbsp;대상의&nbsp;서비스&nbsp;소개&nbsp;등의&nbsp;목적으로&nbsp;회원의&nbsp;동의&nbsp;하에&nbsp;추가적인&nbsp;개인&nbsp;정보를&nbsp;요구할&nbsp;수&nbsp;있습니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;22 조&nbsp;광고게재&nbsp;및&nbsp;광고주와의&nbsp;거래</h2>
        <p>1. 회사가&nbsp;이용자에게&nbsp;서비스를&nbsp;제공할&nbsp;수&nbsp;있는&nbsp;서비스&nbsp;투자기반의&nbsp;일부는&nbsp;광고게재를&nbsp;통한&nbsp;수익으로부터&nbsp;나옵니다.
            이용자는&nbsp;서비스&nbsp;이용&nbsp;시&nbsp;노출되는&nbsp;광고게재에&nbsp;대해&nbsp;동의합니다.</p>
        <p>2. 회사는&nbsp;서비스상에&nbsp;게재되어&nbsp;있거나&nbsp;본&nbsp;서비스를&nbsp;통한&nbsp;광고주의&nbsp;판촉활동에&nbsp;회원이&nbsp;참여하거나&nbsp;교신&nbsp;또는&nbsp;거래를&nbsp;함으로써&nbsp;발생하는&nbsp;손실과&nbsp;손해에&nbsp;대해&nbsp;책임을&nbsp;지지&nbsp;않습니다.<br>
            <br data-tomark-pass=""></p>
        <h1>제&nbsp;5 장&nbsp;손해배상&nbsp;및&nbsp;기타사항</h1>
        <h2>제&nbsp;23 조&nbsp;손해배상&nbsp;등</h2>
        <p>1. 회사는&nbsp;법령상&nbsp;허용되는&nbsp;한도&nbsp;내에서&nbsp;서비스와&nbsp;관련하여&nbsp;본&nbsp;약관에&nbsp;명시되지&nbsp;않은&nbsp;어떠한&nbsp;구체적인&nbsp;사항에&nbsp;대한&nbsp;약정이나&nbsp;보증을&nbsp;하지&nbsp;않습니다.
            또한, 회사는&nbsp;개설자가&nbsp;제공하거나&nbsp;이용자가&nbsp;작성하는&nbsp;등의&nbsp;방법으로&nbsp;서비스에&nbsp;게재된&nbsp;정보, 자료, 사실의&nbsp;허위성,
            위법성이&nbsp;객관적으로&nbsp;확인된&nbsp;경우를&nbsp;제외하고&nbsp;신뢰도, 정확성&nbsp;등에&nbsp;대해서는&nbsp;보증을&nbsp;하지&nbsp;않으며, 그와&nbsp;관련하여&nbsp;회사의&nbsp;고의&nbsp;또는&nbsp;중과실이&nbsp;있는&nbsp;경우를&nbsp;제외하고&nbsp;어떠한&nbsp;책임도&nbsp;지지&nbsp;않습니다.</p>
        <p>2. 회사는&nbsp;회사의&nbsp;과실로&nbsp;인하여&nbsp;이용자가&nbsp;손해를&nbsp;입게&nbsp;될&nbsp;경우&nbsp;본&nbsp;약관&nbsp;및&nbsp;법령에&nbsp;따라&nbsp;이용자의&nbsp;손해를&nbsp;배상하겠습니다.
            다만&nbsp;회사는&nbsp;아래와&nbsp;같은&nbsp;손해에&nbsp;대해서는&nbsp;책임을&nbsp;부담하지&nbsp;않습니다.<br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;1) 회사는&nbsp;천재지변, 전쟁&nbsp;및&nbsp;기타&nbsp;이에&nbsp;준하는&nbsp;불가항력으로&nbsp;인하여&nbsp;서비스를&nbsp;제공할&nbsp;수&nbsp;없는&nbsp;경우에는&nbsp;서비스&nbsp;제공에&nbsp;대한&nbsp;책임이&nbsp;면제됩니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;2) 회사는&nbsp;기간통신&nbsp;사업자가&nbsp;전기통신&nbsp;서비스를&nbsp;중지하거나&nbsp;정상적으로&nbsp;제공하지&nbsp;아니하여&nbsp;손해가&nbsp;발생한&nbsp;경우&nbsp;책임이&nbsp;면제됩니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;3) 회사는&nbsp;서비스용&nbsp;설비의&nbsp;보수, 교체, 정기점검, 공사&nbsp;등&nbsp;부득이한&nbsp;사유로&nbsp;발생한&nbsp;손해에&nbsp;회사의&nbsp;고의&nbsp;또는&nbsp;중과실이&nbsp;있는&nbsp;경우를&nbsp;제외하고&nbsp;책임이&nbsp;면제됩니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;4) 회사는&nbsp;이용자의&nbsp;귀책사유로&nbsp;인한&nbsp;서비스&nbsp;이용의&nbsp;장애&nbsp;또는&nbsp;손해에&nbsp;대하여&nbsp;회사의&nbsp;고의&nbsp;또는&nbsp;중과실이&nbsp;있는&nbsp;경우를&nbsp;제외하고&nbsp;책임을&nbsp;지지&nbsp;않습니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;5) 회사는&nbsp;이용자의&nbsp;컴퓨터&nbsp;오류에&nbsp;의해&nbsp;손해가&nbsp;발생한&nbsp;경우, 또는&nbsp;이용자가&nbsp;신상정보&nbsp;및&nbsp;전자우편&nbsp;주소를&nbsp;부실하게&nbsp;기재하여&nbsp;손해가&nbsp;발생한&nbsp;경우&nbsp;책임을&nbsp;지지&nbsp;않습니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;6) 회사는&nbsp;이용자가&nbsp;서비스를&nbsp;이용하여&nbsp;기대하는&nbsp;이익을&nbsp;얻지&nbsp;못하거나&nbsp;상실한&nbsp;것에&nbsp;대하여&nbsp;책임을&nbsp;지지&nbsp;않습니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;7) 회사는&nbsp;이용자가&nbsp;서비스를&nbsp;이용하면서&nbsp;얻은&nbsp;자료로&nbsp;인한&nbsp;손해에&nbsp;대하여&nbsp;회사의&nbsp;고의&nbsp;또는&nbsp;중과실이&nbsp;있는&nbsp;경우를&nbsp;제외하고&nbsp;책임을&nbsp;지지&nbsp;않습니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;8) 회사는&nbsp;이용자가&nbsp;서비스를&nbsp;이용하며&nbsp;다른&nbsp;이용자로&nbsp;인해&nbsp;입게&nbsp;되는&nbsp;정신적&nbsp;피해에&nbsp;대하여&nbsp;보상할&nbsp;책임을&nbsp;지지&nbsp;않습니다.</span><br>
            <span class="size" style="font-size:13px" data-tomark-pass="">&nbsp;9) 회사는&nbsp;이용자&nbsp;상호간&nbsp;및&nbsp;이용자와&nbsp;제3자&nbsp;상호&nbsp;간에&nbsp;서비스를&nbsp;매개로&nbsp;발생한&nbsp;분쟁에&nbsp;대해&nbsp;개입할&nbsp;의무가&nbsp;없으며, 이로&nbsp;인한&nbsp;손해를&nbsp;배상할&nbsp;책임도&nbsp;없습니다.</span>
        </p>
        <h2>제&nbsp;24 조&nbsp;분쟁의&nbsp;해결</h2>
        <p>1. 회사와&nbsp;이용자는&nbsp;서비스와&nbsp;관련하여&nbsp;발생한&nbsp;분쟁을&nbsp;원만하게&nbsp;해결하기&nbsp;위하여&nbsp;필요한&nbsp;노력을&nbsp;합니다.</p>
        <p>2. 회사는&nbsp;이용자로부터&nbsp;제출되는&nbsp;불만사항&nbsp;및&nbsp;의견을&nbsp;우선적으로&nbsp;그&nbsp;사항을&nbsp;처리합니다. 다만, 신속한&nbsp;처리가&nbsp;곤란한&nbsp;경우에는&nbsp;이용자에게&nbsp;그&nbsp;사유와&nbsp;처리&nbsp;일정을&nbsp;즉시&nbsp;통보합니다.<br>
            <br data-tomark-pass=""></p>
        <h2>제&nbsp;25 조&nbsp;재판권&nbsp;및&nbsp;준거법</h2>
        <p>1. 이&nbsp;약관에&nbsp;명시되지&nbsp;않은&nbsp;사항은&nbsp;대한민국&nbsp;관계법령과&nbsp;상관습에&nbsp;따릅니다.</p>
        <p>2. 회사의&nbsp;정액&nbsp;서비스&nbsp;회원&nbsp;및&nbsp;기타&nbsp;유료&nbsp;서비스&nbsp;이용&nbsp;회원의&nbsp;경우&nbsp;회사가&nbsp;별도로&nbsp;정한&nbsp;약관&nbsp;및&nbsp;정책에&nbsp;따릅니다.</p>
        <p>3. 서비스&nbsp;이용으로&nbsp;발생한&nbsp;분쟁에&nbsp;대해&nbsp;소송이&nbsp;제기되는&nbsp;경우&nbsp;민사소송법상의&nbsp;주소지를&nbsp;관할하는&nbsp;법원을&nbsp;합의관할로&nbsp;합니다.</p>
        <h1><strong>부칙</strong></h1>
        <p><br data-tomark-pass=""></p>
        <h2>책임&nbsp;한계와&nbsp;법적고지</h2>
        <p>회사는&nbsp;회원&nbsp;및&nbsp;일반&nbsp;이용자들이&nbsp;서비스(<a href="http://www.workspace.me">https//workspace.me</a>)에서&nbsp;제공하는&nbsp;각종&nbsp;정보와&nbsp;서비스를&nbsp;이용하는데&nbsp;있어&nbsp;유의하여야&nbsp;할&nbsp;사항들을&nbsp;다음과&nbsp;같이&nbsp;고지&nbsp;합니다.
        </p>
        <p>1. 회사가&nbsp;제공하는&nbsp;서비스에&nbsp;관한&nbsp;저작권&nbsp;및&nbsp;기타&nbsp;지적재산권은&nbsp;회사에&nbsp;속합니다.</p>
        <p>이용자는&nbsp;회사가&nbsp;제공하는&nbsp;서비스를&nbsp;무단으로&nbsp;전재하거나&nbsp;회사의&nbsp;사전동의&nbsp;없이&nbsp;복제, 전송, 출판, 배포, 방송&nbsp;기타&nbsp;방법에&nbsp;의하여&nbsp;이용하거나&nbsp;제3자에게&nbsp;이용하게&nbsp;하여서는&nbsp;안됩니다.</p>
        <p>2. 회사는&nbsp;회원들에&nbsp;대한&nbsp;서비스&nbsp;제고를&nbsp;위해&nbsp;외부의&nbsp;전문&nbsp;업체들과&nbsp;협력, 다양한&nbsp;정보와&nbsp;상품&nbsp;컨텐츠를&nbsp;제공받고&nbsp;있습니다.</p>
        <p>회사&nbsp;및&nbsp;정보제공자가&nbsp;제공하는&nbsp;이들&nbsp;정보는&nbsp;오류가&nbsp;있을&nbsp;수&nbsp;있고, 서비스가&nbsp;지연될&nbsp;수도&nbsp;있으며,
            이러한&nbsp;정보의&nbsp;오류나&nbsp;서비스의&nbsp;지연에&nbsp;대해&nbsp;회사는&nbsp;회사의&nbsp;고의&nbsp;또는&nbsp;중과실이&nbsp;있는&nbsp;경우를&nbsp;제외하고&nbsp;어떠한&nbsp;책임도&nbsp;지지&nbsp;않습니다.</p>
        <p>3. 회원이&nbsp;개설한&nbsp;프로젝트의&nbsp;컨텐츠&nbsp;및&nbsp;상품은&nbsp;회사의&nbsp;통제&nbsp;권한&nbsp;밖에서&nbsp;제작되었습니다.</p>
        <p>회사의&nbsp;통제&nbsp;권한&nbsp;밖에서&nbsp;제작된&nbsp;컨텐츠의&nbsp;경우&nbsp;컨텐츠의&nbsp;내용이&nbsp;제3 자에&nbsp;의하여&nbsp;개발되었으므로&nbsp;회사의&nbsp;책임여부와는&nbsp;무관하며,
            사이트&nbsp;내에&nbsp;수록된&nbsp;자료의&nbsp;정확성이나, 상표법, 저작권법&nbsp;등의&nbsp;관계법령의&nbsp;준수&nbsp;여부에&nbsp;대하여&nbsp;회사의&nbsp;고의&nbsp;또는&nbsp;중과실이&nbsp;있는&nbsp;경우를&nbsp;제외하고&nbsp;어떠한&nbsp;책임도&nbsp;지지&nbsp;않습니다.</p>
        <p>4. 프로젝트를&nbsp;진행하면서&nbsp;이루어지는&nbsp;오프라인&nbsp;모임은&nbsp;회사의&nbsp;통제&nbsp;권한&nbsp;밖에서&nbsp;진행되는&nbsp;행사&nbsp;입니다.</p>
        <p>회사는&nbsp;프로젝트&nbsp;개설자와&nbsp;프로젝트&nbsp;참석자간의&nbsp;사고가&nbsp;발생할&nbsp;경우에는&nbsp;일체의&nbsp;책임이&nbsp;없습니다.&nbsp;단,
            관계법령에&nbsp;의한&nbsp;수사상의&nbsp;목적으로&nbsp;관계기관으로부터&nbsp;요구&nbsp;받은&nbsp;경우나&nbsp;방송통신심의위원회의&nbsp;요청이&nbsp;있는&nbsp;경우&nbsp;등&nbsp;법률의&nbsp;규정에&nbsp;따른&nbsp;협조를&nbsp;원칙으로&nbsp;합니다.</p>
        <p>5. 이용자는&nbsp;회사의&nbsp;서비스를&nbsp;통하여&nbsp;욕설, 비방, 외설, 폭력적&nbsp;내용의&nbsp;표현, 허위정보&nbsp;유포, 바이러스&nbsp;등의&nbsp;유포&nbsp;등의&nbsp;행위를&nbsp;하여서는&nbsp;안됩니다.</p>
        <p>이러한&nbsp;내용을&nbsp;담고&nbsp;있거나&nbsp;담고&nbsp;있을&nbsp;것이라고&nbsp;의심되는&nbsp;게시물&nbsp;또는&nbsp;링크&nbsp;등은&nbsp;사전통보&nbsp;없이&nbsp;수정&nbsp;또는&nbsp;삭제&nbsp;조치될&nbsp;수&nbsp;있으며,
            그&nbsp;정도에&nbsp;따라&nbsp;회원탈퇴&nbsp;및&nbsp;기소&nbsp;등의&nbsp;조치가&nbsp;취해질&nbsp;수도&nbsp;있습니다.</p>
        <p>6. 이용자는&nbsp;다량의&nbsp;정보를&nbsp;전송하거나&nbsp;동일한&nbsp;또는&nbsp;유사한&nbsp;내용의&nbsp;정보를&nbsp;반복적으로&nbsp;게시하여&nbsp;서비스의&nbsp;안정적인&nbsp;운영을&nbsp;방해하거나,
            광고성&nbsp;정보를&nbsp;수신자의&nbsp;의사에&nbsp;반하여&nbsp;전자우편으로&nbsp;지속적으로&nbsp;전송&nbsp;또는&nbsp;게시판에&nbsp;게시하여&nbsp;다른&nbsp;이용자의&nbsp;서비스&nbsp;이용을&nbsp;방해하는&nbsp;행위를&nbsp;하여서는&nbsp;안됩니다.
            이러한&nbsp;내용을&nbsp;담고&nbsp;있거나&nbsp;담고&nbsp;있을&nbsp;것이라고&nbsp;의심되는&nbsp;게시물이나&nbsp;링크&nbsp;등은&nbsp;사전통보&nbsp;없이&nbsp;수정&nbsp;또는&nbsp;삭제&nbsp;조치될&nbsp;수&nbsp;있으며,
            그&nbsp;정도에&nbsp;따라&nbsp;회원탈퇴&nbsp;및&nbsp;기소&nbsp;등의&nbsp;조치가&nbsp;취해질&nbsp;수도&nbsp;있습니다.</p>
        <p>이용자는&nbsp;서비스&nbsp;또는&nbsp;서비스에&nbsp;연결되어&nbsp;있는&nbsp;서버나&nbsp;네트워크를&nbsp;방해&nbsp;또는&nbsp;간섭하거나, 서비스에&nbsp;관련된&nbsp;네트워크의&nbsp;요건,
            절차, 정책&nbsp;또는&nbsp;규정을&nbsp;준수하지&nbsp;않는&nbsp;등의&nbsp;방법으로&nbsp;업무나&nbsp;서비스의&nbsp;운영을&nbsp;방해하여서는&nbsp;안됩니다.</p>
        <p>워크스페이스의&nbsp;“책임한계와&nbsp;법적고지”에&nbsp;관하여&nbsp;의문사항이&nbsp;있으시면&nbsp;연락&nbsp;바랍니다.</p>
        <p>문의&nbsp;: (help@workspace.me)</p>
        <p><strong>(시행일) 본&nbsp;약관은&nbsp;2020년&nbsp;09월&nbsp;01일부터&nbsp;시행합니다.</strong><span class="size"
                                                                                             style="font-size:24px"
                                                                                             data-tomark-pass=""></span>
        </p>
    </div>
</div>


<footer id="fooot"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#header").load('../../templates/fix/header.html');
        $("#fooot").load('../../templates/fix/footer.html');
    })
</script>
</html>