<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/register/makeProject.css" type="text/css"/>

    <!-- Toast UI Editor -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>


<title>프로젝트/스터디 생성하기</title>
<style>

    .platformResult a {
        text-decoration: none;
        display: none;
        cursor: pointer;
        background-color: #336d47;
        padding: 4px;
        border-radius: 4px;
        color: #fff;
        margin-left: 2px;
        font-size: 13px;
    }

    .skillResult a{
        text-decoration: none;
        cursor: pointer;
        background-color: #336d47;
        padding: 11px;
        border-radius: 20px;
        color: #fff;
        margin-left: 2px;
        font-size: 13px;
    }

    a {
        text-decoration: none !important;
    }


</style>
</head>
<body>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>


<header id="header"></header>


<section class="buildProject">
    <div class="buildProjectTitWrap">
        <div class="titContents">
            <h3>모임 생성</h3>
            <p>만들고 싶은 프로젝트가 있다면 워크스페이스와 같이 하나씩 정리해봐요!</p>
        </div>
    </div>
</section>
<section>
    <div class="buildProjectWrap">
        <div class="buildProjectContents">
            <div class="question">
                <p>* 유형</p>
            </div>
            <div class="answer">
                <div class="selectMotivation">
                    <div class="ccheck">
                        <label class="checkBox first">
                            <span class="txt">사이드(토이) 프로젝트</span>
                            <input type="radio" class="choice" name="type" value="project" checked>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="ccheck">
                        <label class="checkBox first">
                            <span class="txt">IT 스터디 & 네트워킹</span>
                            <input type="radio" class="choice" name="type" value="study">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="noticBox">
                    <p style="font-size: 15px;">아이디어를 기반으로 앱/웹 등 서비스를 만드는 유형입니다.
                        심사가 진행 ( 1영업일 이내 )되며,
                        승인시 렛플앱 푸시 및 이메일로 홍보됩니다</p>
                </div>
            </div>


            <!--  프로젝트 양식 -->
            <div class="make">
                <form action="" name="projectForm" onsubmit="return false">

                    <div class="question">
                        <p>
                            *
                            프로젝트명
                            <span>&nbsp;직관적인 프로젝트명을 사용하시면 클릭률이 올라갑니다.</span>
                        </p>
                    </div>

                    <div class="answer">
                        <div class="inputWrap">
                            <input placeholder="3~20글자로 적어주세요 예)승차거부 신고앱" minlength="3" maxlength="20"
                                   autocomplete="off">
                        </div>
                    </div>

                    <div class="question">
                        <p>
                            *
                            프로젝트 분야
                            <span>&nbsp;아래 분야 중에 한가지를 선택해주세요.</span>
                        </p>
                    </div>

                    <div class="answer">
                        <ul>
                            <li class="checkBoxWrap selectPurpose">
                                <label class="checkBox">
                                    <span class="txt">O2O</span>
                                    <input type="radio" name="step2_radio" value="01">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">공유서비스</span>
                                    <input type="radio" name="step2_radio" value="02">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">데이팅서비스</span>
                                    <input type="radio" name="step2_radio" value="03">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">여행</span>
                                    <input type="radio" name="step2_radio" value="04">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">소셜네트워크</span>
                                    <input type="radio" name="step2_radio" value="05">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">뷰티/패션</span>
                                    <input type="radio" name="step2_radio" value="06">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">이커머스</span>
                                    <input type="radio" name="step2_radio" value="07">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">엔터테인먼트</span>
                                    <input type="radio" name="step2_radio" value="08">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">게임</span>
                                    <input type="radio" name="step2_radio" value="09">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">헬스/스포츠</span>
                                    <input type="radio" name="step2_radio" value="10">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">뉴스/정보</span>
                                    <input type="radio" name="step2_radio" value="11">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">유틸</span>
                                    <input type="radio" name="step2_radio" value="12">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">금융</span>
                                    <input type="radio" name="step2_radio" value="13">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">부동산/인테리어</span>
                                    <input type="radio" name="step2_radio" value="14">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">종교</span>
                                    <input type="radio" name="step2_radio" value="15">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkBox">
                                    <span class="txt">우주/외계인</span>
                                    <input type="radio" name="step2_radio" value="16">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="question">
                        <p>
                            * 대표 이미지
                            <span>&nbsp;프로젝트 분야를 선택하거나 또는 업로드 해주세요.</span>
                        </p>
                    </div>

                    <div class="answer">
                        <div class="thumbnailWrap">
                            <div class="thumbnailBox">
                                <button type="button" id="imgUploadBtn"></button>
                                <img class="thumbnailImage2"
                                     src="https://letspl.me/assets/images/ic-camera-alt-24-px.png">
                                <input type="file" style="display: none;" id="imgUpload" name="imgUpload">
                            </div>
                            <div class="uploadBox">
                                <div>
                                    <label for="imgUpload">이미지 업로드</label>
                                </div>
                                 <ul>
                                    <li>&nbsp;가로/세로의 비율이 2:1일 때 썸네일이 가장 예쁩니다.
                                    </li>
                                    <li>&nbsp;저작권에 위배되지 않는 파일만 업로드해주세요.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="question">
                        <p>
                            * 지역
                            <span>&nbsp;온/오프라인 여부와 장소를 선택해주세요.</span>
                        </p>
                    </div>

                    <div class="answer">
                        <div class="selectBoxWrap">
                            <div class="selectBox">
                                <select onchange="onOffChange(this)">
                                    <option value="both">온라인/오프라인 모두 가능</option>
                                    <option value="on">온라인만 가능</option>
                                    <option value="off">오프라인만 가능</option>
                                </select>
                            </div>
                            <div class="selectBox">
                                <select id="onOffResult">
                                    <option>상관없음</option>
                                    <option>서울특별시</option>
                                    <option>경기도</option>
                                    <option>부산광역시</option>
                                    <option>인천광역시</option>
                                    <option>대구광역시</option>
                                    <option>경상남도</option>
                                    <option>경상북도</option>
                                    <option>충청남도</option>
                                    <option>충청북도</option>
                                    <option>전라남도</option>
                                    <option>전라북도</option>
                                    <option>광주광역시</option>
                                    <option>강원도</option>
                                    <option>울산광역시</option>
                                    <option>제주특별자치도</option>
                                    <option>세종특별자치시</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="question">
                        <p>
                            * 모집인원
                            <span>&nbsp;최대 9명까지 모집이 가능하며, 3~4명을 추천합니다.(추후에 변경/추가가 가능합니다.)
                                </span>
                        </p>
                    </div>


                    <div class="answer" id="personWrap">
                        <div class="selectBoxWrap">
                            <div class="selectBox">
                                <select onchange="personChange(this)">
                                    <option value="a">기획</option>
                                    <option value="b">디자인</option>
                                    <option value="c">프론트엔드개발</option>
                                    <option value="d">백엔드개발</option>
                                    <option value="e">사업</option>
                                    <option value="f">기타</option>
                                </select>
                            </div>
                            <div class="selectBox">
                                <select id="personResult">
                                    <option>UI/UX 기획</option>
                                    <option>게임 기획</option>
                                    <option>프로젝트 매니저</option>
                                    <option>하드웨어(제품) 기획</option>
                                </select>
                            </div>
                            <div class="plusMinusBtnWrap">
                                <button type="button" id="minus" class="imageBtn minus" ></button>
                                <div class="countNumber" id="countNumber">1</div>
                                <button type="button" id="plus" class="imageBtn plus"></button>
                            </div>
                        </div>
                    </div>
                    <div class="addMemberBtnWrap">
                        <button type="button" value="삭제" id="personDeleteBtn">삭제</button>
                        <button type="button" value="추가" id="personAddBtn">추가</button>
                    </div>


                    <div class="question">
                        <p>
                            * 출시 플랫폼
                            <span>&nbsp;출시 플랫폼은 중복 체크가 가능합니다.(예 IOS, MAC OS)</span>
                        </p>
                    </div>

                    <div class="answer">
                        <div>
                            <select id="platformResult">
                                <option>출시 플랫폼을 하나 이상 선택해주세요</option>
                                <option value="0">미정(논의 후 확정)</option>
                                <option value="1">반응형 웹(PC/모바일)</option>
                                <option value="2">안드로이드 앱</option>
                                <option value="3">IOS 앱</option>
                                <option value="4">PC(윈도우/맥) 프로그램</option>
                                <option value="5">설치형/SASS 솔루션</option>
                            </select>
                        </div>
                        <div class="platformResult">
                            <a class="platformResult1 results">미정(논의 후 확정) X </a>
                            <a class="platformResult2 results">반응형 웹(PC/모바일) X </a>
                            <a class="platformResult3 results">안드로이드 앱 X </a>
                            <a class="platformResult4 results">IOS 앱 X </a>
                            <a class="platformResult5 results">PC(윈도우/맥) 프로그램 X </a>
                            <a class="platformResult6 results">설치형/SASS 솔루션 X </a>
                        </div>
                    </div>

                    <div class="question">
                        <p>
                            *
                            프로젝트 설명
                            <span>&nbsp;설명이 풍부한 프로젝트는 아닌 프로젝트에 비해 지원율이 50% 높습니다.</span>
                        </p>
                    </div>

                    <div class="answer">
                        <form method="post">
                            <!--                            <textarea id="summernote" name="editordata"></textarea>-->
                            <div id="editor"></div>
                        </form>
                    </div>


                    <div class="question">
                        <p>
                            기술/언어 (최대 10개)
                            <span>&nbsp;프로젝트에 적용된/적용하고자 하는 기술/디자인 플랫폼을 적어주세요.
                                </span>
                        </p>
                    </div>

                    <div class="answer">
                        <div>
                            <input type="text" placeholder="예) java, react, figma, photoshop">
                        </div>
                    </div>

                    <div class="question">
                        <p>
                            참고 자료 (최대 5개)
                            <span>&nbsp;벤치마킹하는 서비스나, 프로젝트를 정리하신 자료의 웹주소를 등록해주세요.
                                </span>
                        </p>
                    </div>


                    <div class="answer" id="referenceWrap">
                        <div>
                            <input type="text" placeholder="예) http://letspl.me">
                        </div>
                    </div>
                    <div class="addMemberBtnWrap">
                        <button type="button" id="deleteReferenceBtn" value="삭제">삭제</button>
                        <button type="button" id="addReferenceBtn" value="추가">추가</button>
                    </div>

                    <div class="confirmBtnWrap btnWrap">
                        <button type="button" value="임시저장" class="grayBtn saveBtn">임시저장</button>
                        <button type="button" value="완료" class="pinkBtn confirmBtn">작성완료</button>
                    </div>
                </form>
            </div>


            <!-- 스터디 양식 -->
            <div class="make" id="makeStudy">
                <form action="" name="studyForm" onsubmit="return false">
                    <div class="question">
                        <p>
                            *
                            스터디/네트워킹 주제
                            <span>&nbsp;진행하고자 하는 스터디 주제를 제목으로 정해주세요</span>
                        </p>
                    </div>

                    <div class="answer">
                        <div class="inputWrap">
                            <input placeholder="3~20글자로 적어주세요 예)블록체은 + 인공지능 스터디" minlength="3" maxlength="20"
                                   autocomplete="off">
                        </div>
                    </div>

                    <div class="question">
                        <p>
                            *
                            스터디 분야/키워드
                            <span>&nbsp;스터디의 키워드를 입력해주세요(최대 10개 가능)</span>
                        </p>
                    </div>

                    <div class="answer">
                        <div>
                            <div>
                                <select name="" id="">
                                    <option value="">기획</option>
                                    <option value="">디자인</option>
                                    <option value="">프론트엔드개발</option>
                                    <option value="">백엔드개발</option>
                                    <option value="">사업</option>
                                    <option value="">기타</option>
                                </select>
                            </div>
                            <div class="answer" id="skill">
                                <input type="text" id="keyword" placeholder="예) java, react, figma, photoshop" minlength="3"
                                       maxlength="20" autocomplete="off">
                            </div>
                            <div class="skillResult">

                            </div>
                        </div>
                    </div>


                    <div class="question">
                        <p>
                            * 지역
                            <span>&nbsp;온/오프라인 여부와 장소를 선택해주세요.</span>
                        </p>
                    </div>

                    <div class="answer">
                        <div class="selectBoxWrap">
                            <div class="selectBox">
                                <select onchange="onOffChange2(this)">
                                    <option value="both">온라인/오프라인 모두 가능</option>
                                    <option value="on">온라인만 가능</option>
                                    <option value="off">오프라인만 가능</option>
                                </select>
                            </div>
                            <div class="selectBox">
                                <select id="onOffResult2">
                                    <option>상관없음</option>
                                    <option>서울특별시</option>
                                    <option>경기도</option>
                                    <option>경기도</option>
                                    <option>부산광역시</option>
                                    <option>인천광역시</option>
                                    <option>대구광역시</option>
                                    <option>경상남도</option>
                                    <option>경상북도</option>
                                    <option>충청남도</option>
                                    <option>충청북도</option>
                                    <option>전라남도</option>
                                    <option>전라북도</option>
                                    <option>광주광역시</option>
                                    <option>강원도</option>
                                    <option>울산광역시</option>
                                    <option>제주특별자치도</option>
                                    <option>세종특별자치시</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="question">
                        <p>
                            * 모집인원
                            <span>&nbsp;최대 9명까지 모집이 가능하며, 3~4명을 추천합니다.(추후에 변경/추가가 가능합니다.)
                                </span>
                        </p>
                    </div>

                    <div class="answer">
                        <div class="selectBoxWrap">
                            <div class="selectBox">
                                <select>
                                    <option>2명</option>
                                    <option>3명</option>
                                    <option>4명</option>
                                    <option>5명</option>
                                    <option>6명</option>
                                    <option>7명</option>
                                    <option>8명</option>
                                    <option>9명</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="question">
                        <p>
                            *
                            스터디 설명
                            <span>&nbsp;설명이 풍부한 프로젝트는 아닌 프로젝트에 비해 지원율이 50% 높습니다.</span>
                        </p>
                    </div>

                    <div class="answer">
                                <textarea>●  스터디 목표 및 진행방식

[목표] : ( 예: 제이쿼리를 마스터하고자 합니다)

[진행방식] : (예: 매주마다 다음주의 목표를 설정하고, 이에 대한 공부 후 실제 프로토타입)

[장소/횟수] : (예: 정기적으로 오프라인 주말 1회 혹은 zoom 1회 토론 등)

[기간] :  (예 : 3달 정도 진행하고자 합니다)


●  참여 조건

[지식수준] :  (예 :해당 언어에 대한 지식이 조금 있으셨으면 합니다. )

[참여회비] (예 : 매 모임마다 1만원의 회비가 있습니다)

[기타]  ( 예: 인천 거주하시는 분이시면 더욱 좋겠습니다)</textarea>
                    </div>


                    <div class="confirmBtnWrap btnWrap">
                        <button value="임시저장" class="grayBtn saveBtn">임시저장</button>
                        <button value="완료" class="pinkBtn confirmBtn">작성완료</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>


<footer id="foot"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../static/js/register/makeProject.js"></script>

</html>