/* chatting */
div.chattingWrap {
    position: fixed;
    left: 50%;
    width: 100%;
    bottom: 0;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 6999;
    transform: translateX(-50%);
    display: block;
    text-align: right;
}

div.chattingOpen {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 58px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    display: none;
}

div.chattingOpen:after {
    content: "";
    display: inline-flex;
    width: 58px;
    border-radius: 100%;
    height: 58px;
    background-color: #f6f6f6;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 55px auto;
    z-index: 99;
    background-image: url("https://letspl.me/_next/static/media/ic_chatting.15e3dffd8b339e28846d7ab7827b7b92.svg");
}

div.writeButton{
    background-color: #a06bff;
    background-image: url('https://letspl.me/_next/static/media/ic_writeStory.59a41f9112c5349217afe9b67167a8ef.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto;
    width: 58px;
    height: 58px;
    bottom: 79px;
    right: 0;
    position: fixed;
    z-index: 99;
    margin-left: auto;
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 12%);
    border-radius: 100px;
    cursor: pointer;
}

div.chatting {
    position: fixed;
    left: 90%;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    z-index: 6999;
    bottom: 0;
    transform: translateX(-50%);
    display: none;
    text-align: right;
}

div.open {
    display:block;
}

div.chattingContentWrap {
    max-width: 720px;
    height: 590px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
    background-color: #fff;
    margin-left: auto;
    border-radius: 4px;
}

div.chattingHeader {
    display: inline-flex;
    position: relative;
}

div.chattingHeader div.left {
    max-width: 240px;
    width: 100%;
    border-right: 1px solid #f0f0f0;
    padding: 0 12px;
    display: block;
}

div.chattingHeader div.left p {
    padding: 15px 0 7px;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
}

div.chattingHeader div.right {
    flex-direction: row;
    align-items: center;
    padding: 5px 16px 5px 20px;
    width: 100%;
    justify-content: unset;
    position: relative;
    display: inline-flex;
}

div.chattingHeader div.right div.chatterImg {
    width: 36px;
    height: 36px;
    overflow: hidden;
    position: relative;
    border-radius: 100px;
}

div.chattingHeader div.right div.chatterImg img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1.2);
}

div.user {
    display: inline-flex;
    flex-direction: column;
    margin-left: 12px;
    text-align: left;
}

div.user p.userId {
    font-size: 17px;
    line-height: 26px;
    color: #424251;
    cursor: pointer;
    position: relative;
    margin: 0;
    font-weight: 700;
}

div.user div.idMenu {
    bottom: -40px;
    width: 120px;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    z-index: 999;
    display: none;
    position: absolute;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
}

p.lastTime {
    font-size: 11px;
    line-height: 11px;
    color: #222;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 0;
}

span.questionMore {
    width: 13px;
    height: 16px;
    background-image: url("https://letspl.me/_next/static/media/ic_chat_info.91e6cce265e9132807d26073431abb85.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
    position: relative;
    z-index: 99;
    cursor: pointer;
}

span.questionHoverView {
    display: none;
    position: absolute;
    top: 15px;
    left: 0;
    background: #fff;
    padding: 10px;
    flex-direction: revert;
    width: 270px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
}

div.moreAndFold {
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    z-index: 1000;
}

div.alarm {
    background-image: url("https://letspl.me/_next/static/media/ic-notifi-on.83421910bacc6c482742663953bae0f2.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    margin-right: 3px;
    background-size: 24px;
    background-position: 50%;
    cursor: pointer;
    position: relative;
}

div.fold {
    background-image: url("https://letspl.me/_next/static/media/ic-signout.754c0b1eb28b57f2b7a550d73337ae5d.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    margin-right: 12px;
    background-size: 24px;
    background-position: 50%;
    cursor: pointer;
    position: relative;
}

div.foldChatButton {
    position: absolute;
    left: 12px;
    top: 18px;
    background-color: #fff;
    background-image: url("https://letspl.me/_next/static/media/ic_chat_window.ee10e350ee96e8186c595e431aee6be8.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 50%;
    cursor: pointer;
}

div.chattingSection {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

div.chatList {
    padding: 0 12px;
    overflow: auto;
    position: relative;
    max-width: 240px;
    width: 100%;
    border-right: 1px solid #f0f0f0;
}

div.chatList ul {
    width: 100%;
    margin-top: 10px;
    text-align: left;
}

div.chatList ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-top: 1px solid #f0f0f0;
    padding: 8px 0 8px 20px;
    cursor: pointer;
    width: 100%;
    max-width: 225px;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 16px;
}

div.chatList ul li.active:before {
    content: "";
    position: absolute;
    width: -webkit-calc(100% + 24px);
    width: calc(100% + 24px);
    height: 100%;
    left: -12px;
    top: 0;
    background-color: rgba(234,101,96,.7);
    z-index: 1;
}

div.chatList ul li.active div.chatInfo span.userIdAndBeforeTime,
div.chatList ul li.active div.chatInfo span.chatter,
div.chatList ul li.active div.chatInfo span.beforeTime,
div.chatList ul li.active div.chatInfo p.chatInfoText,
div.chatList ul li.active div.chatInfo p.endTime {
    color: #fff;
}

div.chatList div.chatImg {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin-right: 8px;
    z-index: 99;
}

div.chatList div.chatImg img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1.2);
}

div.chatInfo {
    display: inline-flex;
    flex-direction: column;
    z-index: 99;
    width: 100%;
}

div.chatInfo span.userIdAndBeforeTime {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

span.chatter {
    font-size: 13px;
    font-weight: 700;
    color: #424251;
}

span.beforeTime {
    font-size: 11px;
    color: #222;
    font-weight: 700;
    letter-spacing: 0;
}

p.chatInfoText {
    font-size: 10px;
    letter-spacing: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    height: 26px;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #222;
    margin-bottom: 2px;
    margin-top: 2px;
}

p.endTime {
    font-size: 10px;
    font-weight: 700;
    color: #222;
    text-align: left;
    margin: 0;
}

div.chattingSection div.chattingRoom.active {
    position: relative;
    width: 100%;
    display: block;
}

div.chattingSection div.chattingRoom {
    position: relative;
    width: 100%;
    display: none;
}

div.chattingSection div.chattingRoomWrap {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    width: 100%;
    height: 332px;
    padding: 5px 22px;
}

div.chattingSection div.chattingRoomWrap div.dayInfo {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

div.chattingSection div.chattingRoomWrap div.dayInfo p {
    font-size: 10px;
    color: #686868;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 700;
}

div.chattingSection div.chattingRoomWrap div.dayInfo p:before {
    content: "";
    width: 156px;
    background-color: #f3f3f3;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

div.chattingSection div.chattingRoomWrap div.dayInfo p:after {
    content: "";
    width: 156px;
    background-color: #f3f3f3;
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.chattingSection div.chattingRoomWrap div.userStatus {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3px;
}

div.chattingSection div.chattingRoomWrap div.userStatus p {
    position: relative;
    padding: 5px 16px;
    background-color: #f3f3f3;
    border-radius: 100px;
    display: inline-block;
    color: #222;
    font-size: 10px;
    margin: 0;
    font-weight: 700;
}

div.chattingSection div.chattingRoomWrap div.opponent {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: flex-start;
    margin-bottom: 8px;
    flex: 1 0 auto;
    margin-top: 10px;
}

div.chattingSection div.chattingRoomWrap div.opponent div.chatterImg {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

div.chattingSection div.chattingRoomWrap div.opponent div.chatterImg img{
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1.2);
    transform: translate(-50%,-50%) scale(1.2);
}

div.chattingSection div.chattingRoomWrap div.opponent div.userIdChat {
    display: inline-flex;
    flex-direction: column;
}

div.chattingSection div.chattingRoomWrap div.opponent div.userIdChat span.userId {
    font-size: 12px;
    color: #222;
    margin-left: 6px;
    text-align: left;
}

div.chattingSection div.chattingRoomWrap div.opponent div.userIdChat p.chatText {
    padding: 8px 20px;
    font-size: 13px;
    background-color: #f1f1f3;
    position: relative;
    margin-left: 12px;
    border-radius: 4px;
    max-width: 205px;
    text-align: left;
    word-wrap: break-word;
    font-weight: 700;
}

div.chattingSection div.chattingRoomWrap div.opponent div.userIdChat p.chatText:before {
    border-color: #ededef transparent transparent;
    border-style: solid;
    border-width: 8px 0 0 10px;
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
}

div.chattingSection div.chattingRoomWrap div.opponent div.userIdChat p.chatText span.time {
    position: absolute;
    font-size: 10px;
    color: #222;
    bottom: 0;
    right: -55px;
}

div.active {
    display: block;
}