div#container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a{
    text-decoration-line: none;
    font-size: 14px;
}

p {
    margin: 0;
    font-weight: bold;
}

a:active{
    color: black;
}

textarea{
    resize: none;
}

section#fix {
    margin-bottom: 40px;
}

ul#nav {
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

.back{
    background-color: black !important;
}
.color{
    color: white !important;
}

.faqTitle h3{
    margin: 0;
}

ul#nav li {
    width: 20%;
    text-align: center;
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 10px 0;
    line-height: 1.5;
    cursor: pointer;
}

ul#nav li:hover{
    border: 1px solid #00704a;
}

ul#nav li a {
    text-decoration: none;
    color: black;
}
.fontColor{
    color: #00704a;
}

.flex {
    display: flex;
}

div.divTable{
    border-top: 2px solid black;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}

span.categoryTxt{
    font-size: .875rem;
    margin-right: 58px;
    width: 7%;
    text-align: center;
}
p.contentTxt{
    font-size: .875rem;
    width: 83%;
}

div.divTable div.tableCell{
    box-sizing: border-box;
    padding: 14px 36px;
    height: 56px;
    cursor: pointer;
}

div.close{
    display: none;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 14px 36px;
}

div.close textarea{
    max-width: 1000px;
    width: 100%;
    border: none;
    background: #f5f5f5;
    padding: 0;
    font-size: .875rem;
    font-weight: bold;
}

div.divTable div.tableRow{
    border-bottom: 1px solid lightgray;
}

img.open{
    width: 15px;
}

section#user, section#project, section#point, section#etc{
    display: none;
}

/*가입/로그인*/
