nav.header a:hover{
    color: #00704a;

}
nav.header a{
    font-family: GmarketSansMedium;
    text-decoration: none;
    font-weight: 300;
    color: black;
    cursor: pointer;
}

nav.header{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

nav.header img{
    width: 210px;
    height: 35px;
    cursor: pointer;
    border-radius: 100px;
}

nav.header ul.bar{
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
    margin-left: 60px;
    list-style: none;
    width: 39%;
}

ul.bar li a{
    font-size: 20px;
}

div.loginWrap {
    justify-content: flex-end;
    width: 48%;
    text-align: right;
    padding: 19px 0;
}

.loginWrap a.joinAndLogin:first-child:after {
    content: "/";
    margin: 0 10px;
    cursor: default;
}

header#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

div.grayBox{
    background: #f2f2f2;
    width: 108px;
    height: 38px;
    padding: 8px 12px;
    margin-right: 6px;
    color: #3b3b46;
    border-radius: 2px;
    font-size: .75rem;
    text-align: right;
}

div.boxWrap{
    padding: 19px 0;
    display: flex;
}

a.chargeButton{
    border: 1px solid #8e8ea2;
    padding: 8px 14px;
    border-radius: 2px;
    margin-right: 20px;
    font-size: .75rem;
    height: 38px;
}

a.buildProject{
    font-size: .75rem;
    color: #fff !important;
    background-color: #336d47;
    padding: 18px 26px;
    border: 1px solid #336d47;
    border-radius: 2px;
    margin-right: 40px;
    height: 38px;
    margin-top: 18px;
    line-height: 5px;
}

a.buildProject:hover{
    color: #fff !important;
}

div.boxBigWrap{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

img.profile{
    width: 32px !important;
    height: 32px !important;
    object-fit: cover !important;
}

div.profileWrap{
    display: flex;
    padding-left: 54px;
}

div#profile{
    border-radius: 100px;
    overflow: hidden;
    margin-top: 22px;
}

div.hoverMenu{
    top: 65px;
    right: 360px;
    width: 300px;
    height: 340px;
    position: absolute;
    background-color: #fff;
    z-index: 999;
    border-radius: 4px;
    /*border: 1px solid black;*/
    box-shadow: 1px 1px 3px gray;
    display: none;
}

div.profileSummary{
    width: 262px;
    height: 112px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 24px 16px 11px;
    /*border: 1px solid black;*/
}

div.profileImgWrap{
    /*width: 60px;*/
    /*height: 60px;*/
    /*margin-right: 10px;*/
    /*border-radius: 100px;*/
}

img.myPageInfo{
    width: 60px !important;
    height: 60px !important;
    object-fit: cover;
}

span.lvColor, span.lvColor2{
    color: black;
    font-size: 12px;
    font-weight: 700;
}

div.profileImgWrap{
    display: flex;
}

a.logOut{
    background-color: #b4b9bf;
    padding: 4px 8px;
    text-decoration: none;
    color: white !important;
    border-radius: 14px;
    font-size: 9px !important;
    line-height: 13px;
    cursor: pointer;
    font-size: 11px;
    height: 18px;
    margin-top: 2px;
    margin-left: 5px;
}

p.positionTxt, p.profileUserId{
    font-size: 11px !important;
    font-weight: 700;
}

div.profileImgWrapFirstLine{
    display: block;
}

div.profileImgWholeWrap{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

a.profileImgWrapA{
    margin-top: 5px;
}

a.navListFirstA, a.navListSecondA, a.navListThirdA{
    font-size: 12px !important;
}

div.navListFirstDiv, div.navListSecondDiv, div.navListThirdDiv{
    width: 33.33%;
}

div.navList{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

div.navListFirstDiv, div.navListSecondDiv{
    border-right: 1px solid #dddddd;
}

div.alarmList{
    font-size: 12px !important;
    font-weight: 700;
}

li.firstAlarm, li.secondAlarm{
    padding-left: 15px;
    background-color: #f7f7f7;
    color: #9e9e9e;
}

li.firstAlarmContent{
    padding: 12px 16px 16px;
}

p.firstAlarmContentP{
    text-align: center;
}

p.firstAlarmContentP2{
    text-align: right;
    font-weight: 700;
    color: #c9c9d9;
    padding-top: 5px;
}

p.secondAlarmContentP{
    padding: 19px;
    text-align: center;
}

/* 모달 */
#my_modal {
    position: absolute;
    width: 366px;
    padding: 46px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 350px;
    top: 30%;
    left: 40%;
}

#my_modal2 {
    position: absolute;
    width: 366px;
    padding: 46px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 390px;
    top: 30%;
    left: 40%;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#my_modal2 .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#my_modal3 .modal_close_btn {
    bottom: 25px;
    right: 165px;
}

a.modal_close_btn{
    cursor: pointer;
}

p.snsLoginP{
    margin-bottom: 20px !important;
    font-size: 1.5rem;
    color: #333;
    font-weight: 700;
    position: relative;
}

button.kakao_button , button.kakao_button2{
    width: 305px;
    height: 45px;
    background-color: #f7e317;
    color: #3e201e;
    background-image: url("https://letspl.s3.ap-northeast-2.amazonaws.com/images/icon/ic-sns-kk.png");
    background-size: 19.3px 17.7px;
    background-position: 10.5px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
}

button.face_button, button.face_button2{
    width: 305px;
    height: 45px;
    background-color: #1877f2;
    color: #fff;
    background-image: url("https://letspl.s3.ap-northeast-2.amazonaws.com/images/icon/ic-sns-fb.png");
    background-size: 19.3px 17.7px;
    background-position: 10.5px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
}

button.google_button, button.google_button2{
    width: 305px;
    height: 45px;
    background-color: #fff;
    color: #444;
    background-image: url("https://letspl.s3.ap-northeast-2.amazonaws.com/images/icon/ic-sns-google.png");
    background-size: 19.3px 17.7px;
    background-position: 10.5px;
    background-repeat: no-repeat;
    border: 1px solid #888;
    border-radius: 4px;
}

div.snsWrap{
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

button.turnJoin{
    border: none;
    background-color: #fff;
    font-size: .75rem;
    color: #8e8ea2;
    padding: 0 !important;
    margin-top: 30px;
}

button.turnLogin{
    border: none;
    background-color: #fff;
    font-size: .75rem;
    color: #8e8ea2;
    padding: 0 !important;
    margin-top: 20px;
}

div.turnJoinWrap , button.turnLoginWrap{
    text-align: center;
}

img.xIcon{
    width: 25px;
}

div.modalWindow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}

a.firstA, a.secondA, a.thirdA{
    color: #00704a;
    font-size: 11px;
    text-decoration: none;
}

p.firstPMaybe{
    font-size: 11px;
    margin-top: 15px !important;
}

div.turnLoginWrap{
    text-align: center;
}

div.joinPromise{
    margin-top: 5px;
}

#my_modal3 {
    position: absolute;
    text-align: center;
    width: 325px;
    padding: 25px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
}

img.xIcon2{
    position: relative;
    width: 25px;
    right: -139px;
    top: -15px;
}

button.complete{
    width: 260px;
    height: 44px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 20px;
}

/* 디스플레이 조절*/

/*div.profileWrap{*/
/*    display: none;*/
/*}*/

div.loginWrap{
    display: none;
}

ul.mobileBar{
    display: none;
}

@media screen and (max-width: 415px){
    a{
        text-decoration: none;
        font-size: 14px;
        color: black;
    }
    nav.header{
        display: flex;
        max-width: 414px;
        width: 100%;
        height: 60px;
    }
    ul.mobileBar{
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        list-style: none;
        max-width: 414px;
        width: 100%;
    }

    nav.header ul.bar {
        display: none;
    }
    nav.header img {
        width: 110px;
        height: 25px;
        cursor: pointer;
    }
    div.profileWrap {
        display: flex;
        padding-left: 24px;
        height: 30px;
    }

    a.chargeButton{
        width: 80px;
        font-size: 10px;
        border: 1px solid #8e8ea2;
        border-radius: 2px;
        margin-right: 10px;
        font-size: .75rem;
        line-height: 38px;
        height: 38px;
        text-align: center;
        padding: 0;
    }

    #my_modal3{
        left: 13%;
    }
    #my_modal2{
        left: 13%;
    }
    #my_modal{
        left: 13%;
    }

    a.buildProject{
        font-size: 10px;
        color: #fff !important;
        background-color: #336d47;
        padding: 0px 26px;
        border-radius: 2px;
        height: 38px;
        margin-right: 10px;
        margin-top: 0;
        width: 117px;
        height: 30px;
        line-height: 30px;
    }

    .web{
        display: none;
    }

    div#profile {
        margin-top: 0;
    }

    div.boxWrap {
        /* padding: 19px 0; */
        display: flex;
    }

    div.hoverMenu{
        top: 56px;
        right: 10px;
    }
    div.boxWrap {
        padding: 0;
    }
    div.grayBox {
        background: #f2f2f2;
        width: 108px;
        height: 30px;
        line-height: 30px;
        margin-right: 6px;
        color: #3b3b46;
        border-radius: 2px;
        font-size: .75rem;
        text-align: right;
        padding: 0;
    }
}