/* 5개까지 가능한것 */
div#interestWrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#labelTag label{
    color: #222;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 14px;
    display: inline-block;
}

div#labelTag p{
    padding: 3px 12px 0px;
    border-radius: 100px;
    border: 1px solid #e8e8e8;
    margin-right: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    line-height: 25px;
}

.active{
    border-radius: 21px;
    background-color: #333;
    color: #fff;
}

/*---------------------------------------------------------------*/

div.joinWrapper{
    margin: 0 auto;
    width: 530px;
    height: 500px;
    padding: 90px 0px 140px;
}

section{
    margin-top: 76px !important;
}


span.smTxt{
    display: block;
    font-size: .875rem;
    color: #00704a;
    line-height: 30px;
    letter-spacing: -0.5px;
}

span.bigTxt{
    display: block;
    letter-spacing: -1px;
    font-size: 1.7rem;
    font-weight: 700;
    color: #42495b;
    display: block;
}

h3{
    font-weight: bold;
}

div.form ul li label{
    width: 95px;
    font-size: .6875rem;
    color: #696980;
    box-sizing: border-box;
    padding-top: 10px;
    flex-shrink: 0;
    font-weight: bold;
}

ul, li{
    list-style: none;
    padding-inline-start: 0;
}

li.firstLi{
    display: flex;
    /*margin-top: 40px;*/
}

div.form ul li{
    width: 530px;
    height: 60px;
}

div.px414{
    width: 414px;
    height: 40px;
    padding-bottom: 20px;
    display: flex;
}

input.emailInput{
    background-color: hsl(0,0%,95%) !important;
    /*border-color: hsl(0,0%,95%);*/
    border: 0 solid black !important;
    border-radius: 4px !important;
    width: 202px !important;
    height: 40px !important;
    color: hsl(0,0%,50%) !important;
    margin-left: 2px !important;
    font-size: 0.8rem;
}

button.emailButton{
    margin: 0 6px;
    width: 110px;
    height: 40px;
    border: 0 solid black;
    border-radius: 4px;
    color: white;
    background-color: #b9bac3;
    font-size: 0.8rem;
}

input.nickInput{
    width: 406px !important;
    height: 38px !important;
    border: 1px solid #bcbccb !important;
    background-color: #fff !important;
    font-size: 0.8rem;
    color: hsl(0,0%,50%) !important;
}

li.secondLi, li.thirdLi, li.fourthLi{
    display: flex;
}

select.oneSelect{
    padding-left: 6px;
    width: 278px !important;
    height: 40px !important;
    font-size: 0.8rem !important;
    border: 1px solid #bcbccb !important;
    background-color: #fff !important;
}

select.twoSelect{
    padding-left: 6px;
    width: 191px !important;
    height: 38px !important;
    font-size: 0.8rem !important;
    border: 1px solid #bcbccb !important;
    background-color: #fff !important;
}

div.settingWrapper2{
    display: flex;
    width: 390px !important;
    justify-content: space-between !important;
}

div.px406{
    display: flex;
}

input.codeInput{
    padding: 4px 0 0 !important;
    width: 286px !important;
    height: 38px !important;
    font-size: 0.8rem !important;
    border: 1px solid #bcbccb !important;
    background-color: #fff !important;
    border-radius: 4px;
}

button.codeButton{
    /*padding: 0 33px !important;*/
    font-size: 0.8rem !important;
    width: 113px !important;
    height: 38px !important;
    border-radius: 4px;
    border: 0 solid black;
    color: white;
    background-color: #b9bac3;
    margin: 0 6px;
}

button.joinComplete, button.joinCompleteLater{
    color: #fff;
    font-size: 0.8rem;
    padding: 11px 35px;
    border-radius: 4px;
    width: 240px;
    box-sizing: border-box;
    border: none;
    background-color: #9796a7;
    margin-top: 30px;
}

button{
    cursor: pointer;
}

div.form{
    height: 320px;
}

div.joinCompleteWrapper{
    width: 530px;
    text-align: left;
    margin-top: 95px;
}

/* 모달 */

#my_modalPage {
    /*position: absolute;*/
    /*width: 366px;*/
    /*padding: 40px 30px 74px;*/
    /*background-color: #fefefe;*/
    /*border: 1px solid #888;*/
    /*border-radius: 8px;*/
    /*height: 170px;*/
    /*top: 30%;*/
    /*left: 40%;*/
    position: absolute;
    text-align: center;
    width: 325px;
    padding: 0px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
}

#my_modalPage2 {
    position: absolute;
    width: 366px;
    padding: 46px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 390px;
    top: 30%;
    left: 40%;
}

#my_modalPage .modal_close_btn {
    position: absolute;
    bottom: 40px;
    right: 32px;
}

#my_modalPage2 .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

p.snsLoginP{
    margin-top: 60px; !important;
    font-size: 1.3rem !important;
    color: #333;
    font-weight: 700;
    position: relative;
}

div.snsWrap{
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

button.turnJoin{
    border: none;
    background-color: #fff;
    font-size: .75rem;
    color: #8e8ea2;
    padding: 0 !important;
    margin-top: 30px;
}

button.turnLogin{
    border: none;
    background-color: #fff;
    font-size: .75rem;
    color: #8e8ea2;
    padding: 0 !important;
    margin-top: 20px;
}

div.turnJoinWrap , button.turnLoginWrap{
    text-align: center;
}

img.xIcon{
    width: 25px;
}

div.modalWindowSuccess{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}

a.firstA, a.secondA, a.thirdA{
    color: #00704a;
    font-size: 11px;
    text-decoration: none;
}

p.firstPMaybe{
    font-size: 11px;
    margin-top: 15px !important;
}

div.turnLoginWrap{
    text-align: center;
}

div.joinPromise{
    margin-top: 5px;
}

button.modal_close_btn{
    /*text-decoration: none;*/
    /*color: #8e8ea2;*/
    /*background-color: #fff;*/
    /*border: none;*/
    width: 260px;
    height: 44px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 20px;
}

p.snsLoginP{
    color: #00704a;
}

img.pokjukPng{
    width: 150px;
    position: absolute;
    top: -115px;
    left: 25px;
}

img.pokjukPng2{
    width: 130px;
    position: absolute;
    top: -100px;
    left: 175px;
}

a{
    cursor: pointer;
}

@media (max-width: 414px){
    div.joinWrapper{
        margin: 0px !important;
        width: 414px !important;
    }

    select{
        width: 102px !important;
    }

    li.firstLi, li.secondLi, li.thirdLi, li.fourthLi{
        width: 408px !important;
    }

    div.codeWrap{
        width: 319px !important;
    }

    div.joinCompleteWrapper{
        width: 414px !important;
        text-align: center;
    }

    div.h3Good{
        padding-left: 10px;
    }

    div.form{
        text-align: center !important;
    }

    button.emailButton{
        width: 103px !important;
    }

    span.bigTxt{
        font-size: 24px !important;
    }

    div.settingWrapper2{
        width: 310px !important;
    }

    select.twoSelect{
        width: 153px !important;
    }

    select.oneSelect{
        width: 310px !important;
    }

    button.joinComplete, button.joinCompleteLater{
        width: 180px !important;
    }

    label{
        text-align: left !important;
        padding-left: 10px !important;
    }

    #my_modalPage{
        left: 6% !important;
    }

    /*  5개 뭐시기  */
    div.form ul li.fourthLi{
        margin-top: 195px !important;
    }

    footer#footer{
        margin-top: 130px !important;
    }
}