div.joinWrapper{
    margin: 0 686.5px;
    width: 530px;
    height: 500px;
    padding: 90px 0px 140px;
}

section{
    margin-top: 76px !important;
}

span.smTxt{
    display: block;
    font-size: .875rem;
    color: #00704a;
    line-height: 30px;
    letter-spacing: -0.5px;
}

span.bigTxt{
    display: block;
    letter-spacing: -1px;
    font-size: 1.7rem;
    font-weight: 700;
    color: #42495b;
    display: block;
}

h3{
    font-weight: bold;
}

div.form ul li label{
    width: 95px;
    font-size: .6875rem;
    color: #696980;
    box-sizing: border-box;
    padding-top: 10px;
    flex-shrink: 0;
    font-weight: bold;
}

ul, li{
    list-style: none;
    padding-inline-start: 0;
}

li.firstLi{
    display: flex;
    margin-top: 40px;
}

div.form ul li{
    width: 530px;
    height: 60px;
}

div.px414{
    width: 414px;
    height: 40px;
    padding-bottom: 20px;
    display: flex;
}

input.emailInput{
    background-color: hsl(0,0%,95%) !important;
    /*border-color: hsl(0,0%,95%);*/
    border: 0 solid black !important;
    border-radius: 4px !important;
    width: 202px !important;
    height: 40px !important;
    color: hsl(0,0%,50%) !important;
    margin-left: 2px !important;
    font-size: 0.8rem;
}

button.emailButton{
    margin: 0 6px;
    width: 110px;
    height: 40px;
    border: 0 solid black;
    border-radius: 4px;
    color: white;
    background-color: #b9bac3;
    font-size: 0.8rem;
}

input.nickInput{
    width: 406px !important;
    height: 38px !important;
    border: 1px solid #bcbccb !important;
    background-color: #fff !important;
    font-size: 0.8rem;
    color: hsl(0,0%,50%) !important;
}

li.secondLi, li.thirdLi, li.fourthLi{
    display: flex;
}

select{
    padding-left: 6px;
    width: 123px !important;
    height: 38px !important;
    font-size: 0.8rem !important;
    border: 1px solid #bcbccb !important;
    background-color: #fff !important;
}

div.settingWrapper{
    display: flex;
    width: 406px !important;
    justify-content: space-between !important;
}

div.px406{
    display: flex;
}

input.codeInput{
    padding: 4px 10px 0 !important;
    width: 286px !important;
    height: 38px !important;
    font-size: 0.8rem !important;
    border: 1px solid #bcbccb !important;
    background-color: #fff !important;
    border-radius: 4px;
}

button.codeButton{
    /*padding: 0 33px !important;*/
    font-size: 0.8rem !important;
    width: 113px !important;
    height: 38px !important;
    border-radius: 4px;
    border: 0 solid black;
    color: white;
    background-color: #b9bac3;
    margin: 0 6px;
}

button.joinComplete{
    color: #fff;
    font-size: 0.8rem;
    padding: 11px 35px;
    border-radius: 4px;
    width: 240px;
    box-sizing: border-box;
    border: none;
    background-color: #9796a7;
    margin-top: 30px;
}

button{
    cursor: pointer;
}

div.form{
    height: 320px;
}

div.joinCompleteWrapper{
    width: 530px;
    text-align: center;
}

@media (max-width: 414px){
    div.joinWrapper{
        margin: 0px !important;
        width: 414px !important;
    }

    select{
        width: 102px !important;
    }

    li.firstLi, li.secondLi, li.thirdLi, li.fourthLi{
        width: 408px !important;
    }

    div.codeWrap{
        width: 319px !important;
    }

    div.joinCompleteWrapper{
        width: 414px !important;
    }

    div.h3Wrapper{
        padding-left: 10px;
    }

    div.form{
        text-align: center !important;
    }

    button.emailButton{
        width: 103px !important;
    }

    label{
        text-align: left !important;
        padding-left: 10px !important;
    }

}
