a{
    text-decoration: none !important;
    color:black !important;
}
textarea {
    padding: 0;
}
/* 총 section */
.loungeSection{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 76px;
    /* transform: scale(0.9); */
}
/* .loungeWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.loungeTool{
    width: 85%;
}

/* 상단 라운지 */
.talkTit{
    display: flex;
    flex-direction: column;
    padding: 40px 10px 24px;
    box-sizing: border-box;
}
.talkTit1{
    font-weight: bold;
    color: #00704a;
    font-size: .875rem;
}
.talkTit2{
    font-weight: bold;

}
/* 상단 댓글 입력부분 */
.loungeInput{
    box-sizing: border-box;
    padding: 26px 40px 10px;
    background-color: #fff;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 6%);
    margin-bottom: 20px;
}
.loungeInputWrap{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 12px;
}
.loungeTextArea{
    box-sizing: border-box;
    flex: 1 1;
    padding: 13px 16px;
    background: #fff;
    border: 1px solid #c9c9d9;
    font-size: .875rem;
    border-radius: 4px;
    height: 100%;
    resize: none;
}
.loungeBtn1, .loungeBtn2{
    background-color: #336d47;
    color: #fff;
    width: 80px;
    border: 1px solid #336d47;
    float: right;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    height: 40px;
    cursor: pointer;
}
.txtBtnImg{
    width: 20px;
}
/* 라운지 랭킹부분 */
/* .loungeWrap .loungeLankWrap{
    position: absolute;   

} */
/* .loungeLankWrap {
    position: fixed;
   max-width: 200px;
   width: 100%;
   margin-left: 4em;
} */
.loungeLank{
    max-width: 200px;
    width: 100%;
    right: 111px;
    top: 203px;
    position: fixed;
}
.loungeLikeLank{
    background-color: #fff;
    box-sizing: border-box;
    padding: 18px 16px 25px;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 6%);
    margin-bottom: 12px;
}
.loungeReplyLank{
    background-color: #fff;
    box-sizing: border-box;
    padding: 18px 16px 25px;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 6%);
    margin-bottom: 12px;
}
.lankTit{
    font-size: 1rem;
    font-weight: 700;
    color: #00704a;
    margin-bottom: 12px;
}
.likeTit{
    font-size: 13px;
    color: #42495b;
    display: block;
    margin-bottom: 17px; 
}
.likeList{
    width: 100%;
}
.likeListLi{
    width: 100%;
    display: inline-flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 6px;
    height: 28px;
}
.replyTit{
    font-size: 13px;
    color: #42495b;
    display: block;
    margin-bottom: 17px; 
}
.replyList{
    width: 100%;
}
.replyListLi{
    width: 100%;
    display: inline-flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 6px;
    height: 28px;
}
.number{
    font-size: .75rem;
    color: #9d9dac;
    width: 24px;
}
.upDown{
    width: 0.6rem;
    height: 4em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    margin: 0 16px 0 10px;
}

.up{
    background-image: url('/static/images/up.png');
}
.profileWraps{
    width: 28px;
    height: 28px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.profileImg{
    width: 28px;
    height: 28px;
    object-fit: cover;
}
.proName{
    cursor: pointer;
    font-size: .875rem;
    color: #8e8ea2;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80px;
    position: relative;
    letter-spacing: -.1px;
    margin-bottom: 0;
    font-weight: bold;
}


/*댓글 리스트 부분*/
.replySection{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.replyWrap{
    width: 100%;
    background-color: #fff;
    padding: 0;
    box-sizing: border-box;
    margin-top: 0;
    transition: all .2s;
}

.replyTool{
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 6%);
    position: relative;
    z-index: 999;
    box-sizing: border-box;
    padding: 13px 10px;
}

.replyTop{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.replyLeft{
    margin-right: 16px;
}

.proWrap img{
    width: 44px;
    height: 44px;
    object-fit: cover;
}
.proNames{
    margin: 0;
}

.replyRight{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

 .txtarea{
    font-size: 1rem;
    color: #222;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    resize: none;
    height: auto;
} 

.sell{
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    color: #eeee;
    
}

.replyBottom{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 4px;
    justify-content: space-between;
}

.replyBtnWrap{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0;
    margin-bottom: 13px;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
}
.replyBtnWraps{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0;
    margin-bottom: 13px;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
}
.activeInputBtns{
    background-color: #336d47;
    color: #fff;
    border: 1px solid #336d47;
    width: auto;
    padding: 8px 29px!important;
    transition: all .2s;
    font-size: .75rem;
    border-radius: 4px;
    cursor: pointer;
}

.activeInputBtnss{
    background-color: #336d47;
    color: #fff;
    border: 1px solid #336d47;
    width: auto;
    padding: 8px 29px!important;
    transition: all .2s;
    font-size: .75rem;
    border-radius: 4px;
    cursor: pointer;
}

.time{
    font-size: .75rem;
    color: #c9c9d9;
    margin-right: 5px;
}

.replyContents{
    margin-top: 10px;
}

.replyOpen{
    font-size: .75rem;
    color: #c9c9c9;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.replyBtmRight{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txtBtn{
    background-color: #fff;
    border: none;
    margin-bottom: 0 !important;
}
.txtBtns{
    /* border: 1px solid #eeee; */
    border: none;
    font-size: 14px;
    margin-bottom: 0 !important;
}
.modify{
    cursor: pointer;
}
.remove{
    cursor: pointer;
}

.activeTxtBtnImg {
    width: 20px;
}

.activesBtn{
    background-color: #fff;
    /* border: 1px solid #eeee; */
    border: none;
    font-size: 14px;
    margin-bottom: 0 !important;

}
.modifys{
    cursor: pointer;
}
.removes{
    cursor: pointer;
}

.replyCount{
    font-size: .75rem;
    color: #42495b;
    align-items: center;
}


.replyLike{
    font-size: .75rem;
    color: #42495b;
    cursor: pointer;
    align-items: center;
}
.rpyLikeDiv{
    cursor: pointer;
}

.rpyImg{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.rpyCountDiv{
    margin-right: 1em;
    cursor: pointer;
}

/* 댓글의 댓글 */
.rpyAtiveWrap{
    background-color: #f7f7f7;
    padding: 24px 24px 10px 80px;
    box-sizing: border-box;
    display: none;
}
.activeWrap{
    box-sizing: border-box;
}
  
 .activeTop{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
} 
.activeLeft{
    margin-right: 16px;
}
.activeLeftPro{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
}
.activeLeftPro img{
    width: 44px;
    height: 44px;
    object-fit: cover;
}

.activeRight{
    width: 100%;
}
.activeProfile{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.avtiveProName{
    font-size: 1rem;
    color: #42495b;
    cursor: pointer;
    position: relative;
}

.activeDate{
    font-size: .75rem;
    color: #c9c9d9;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
}
.activeTextArea{
    font-size : 1rem;
    resize: none;
    border: none;
    background-color: #f7f7f7;
}
/* 댓글의 댓글입력창 */
.activeInput{
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    padding: 24px 24px 10px 80px;
    box-sizing: border-box; */
    /* display: none; */
}
.activeInputPro{
    width: 44px;
    height: 44px;
    margin-right: 16px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.activInputImg{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 16px;
}
.activeInputTxt{
    flex: 1 1;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.activeInputTextArea{
    flex: 1 1;
    font-size: .875rem;
    box-sizing: border-box;
    padding: 11px 16px;
    border-radius: 4px;
    margin-right: 14px;
    resize: none;
    border: none;
    background-color: #fff;
}
.activeInputBtn{
    background-color: #336d47;
    color: #fff;
    border: 1px solid #336d47;
    width: auto;
    padding: 8px 29px!important;
    transition: all .2s;
    font-size: .75rem;
    border-radius: 4px;
    cursor: pointer;
}


/* 피드 댓글 마우스오버시 */
ul.hoverUl {
    display: none;
    position: absolute;
    /* right: 1px; */
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    margin-top: 24px;
}

ul.hoverUl li {
    width: 100%;
}

ul.hoverUl li a {
    display: block;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

ul.hoverUl li a:hover {
    background-color: #f1f8e9;
    text-decoration: none !important;
}


textarea.modify{
    box-sizing: border-box;
    flex: 1 1;
    padding: 13px 16px;
    background: #fff;
    border: 1px solid #c9c9d9;
    font-size: .875rem;
    border-radius: 4px;
    height: 100%;
    resize: none;
    cursor: auto;
}

#modalStory4Page, #modalStory5Page, #modalStory6Page{
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 26px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
}

#modalStory4Page .modalStoryCloseBtn4, #modalStory5Page .modalStoryCloseBtn5, #modalStory6Page .modalStoryCloseBtn6{
    bottom: 25px;
    right: 165px;
}


img.xIcons4, img.xIcons5, img.xIcons6{
    position: relative;
    width: 25px;
    right: -170px;
    top: -13px;
}

div.modalStory4, div.modalStory5, div.modalStory6{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}


a.modalStoryCloseBtn4, a.modalStoryCloseBtn5, a.modalStoryCloseBtn6{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completePStory4, p.completePStory5, p.completePStory6{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}


button.mdBtnStoryBtn4, button.mdBtnStoryBtn5, button.mdBtnStoryBtn6{
    width: 260px;
    height: 44px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 20px;
    cursor: pointer;
}

div.modalWrapOpen{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    display: none;
}

p.modalTit {
    font-size: 1.125rem;
    color: #42495b;
    text-align: center;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

button.closeBtn {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 21px;
    cursor: pointer;
}

button.closeBtn img{
    width:100%;
}

div.commonModalContent p {
    font-size: .75rem;
    color: #8e8ea2;
    text-align: center;
    line-height: 1rem;
}

div.modalWrapOpen{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    display: none;
}

div.commonModal{
    padding: 60px 20px 40px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border-radius: 8px;
    max-width: 410px;
    min-width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .2s;
    z-index: 999999;
}

p.modalTit {
    font-size: 1.125rem;
    color: #42495b;
    text-align: center;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

button.closeBtn {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 21px;
    cursor: pointer;
}

button.closeBtn img{
    width:100%;
}

div.commonModalContent p {
    font-size: .75rem;
    color: #8e8ea2;
    text-align: center;
    line-height: 1rem;
}

div.btnWrap {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.btnWrap button.whiteBtn {
    border: 1px solid #00704a;
    color: #00704a;
    background-color: #fff;
    height: 44px;
    width: 49%;
    box-sizing: border-box;
    font-size: .75rem;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
}

div.btnWrap button.redBtn {
    background-color: #00704a;
    color: #fff;
    height: 44px;
    width: 49%;
    border: none;
    box-sizing: border-box;
    font-size: .75rem;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
}

/* 미디어쿼리 */
@media screen and (max-width: 414px){
    .loungeLank {
    display: none;
    }
    .loungeInput {
        width: 414px;
        padding: 26px 18px 10px;
    }
    .replyTool {
        width: 414px;
    }
    .rpyAtiveWrap {
        width: 414px;
        padding: 20px 20px 10px 40px;
    }
    .activeTextArea {
        font-size: 14px;
    }
    .loungeTextArea {
        height: 150px;
    }
    .activeTop {
        margin-bottom: 0 !important;
    }
  
    .activeInputTextArea {
     height: 50px;
        }
}