a{
    text-decoration: none;
    color:black;
}

/* 총 section */
.loungeSection{
   width: 1200px;
    margin: 0 auto;
}
.loungeWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.loungeTool{
    width:100%;
}

/* 상단 라운지 */
.talkTit{
    display: flex;
    flex-direction: column;
    padding: 40px 10px 24px;
    box-sizing: border-box;
}
.talkTit1{
    font-weight: bold;
    color: #1187cf;
    font-size: .875rem;
}
.talkTit2{
    font-weight: bold;

}
/* 상단 댓글 입력부분 */
.loungeInput{
    box-sizing: border-box;
    padding: 26px 40px 10px;
    background-color: #fff;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 6%);
    margin-bottom: 20px;
}
.loungeInputWrap{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 12px;
}
.loungeTextArea{
    box-sizing: border-box;
    flex: 1 1;
    padding: 13px 16px;
    background: #fff;
    border: 1px solid #c9c9d9;
    font-size: .875rem;
    border-radius: 4px;
    height: 100%;
    resize: none;
}
.loungeBtn1{
    background-color: #42495b;
    color: #fff;
    width: 80px;
    border: 1px solid #42495b;
    float: right;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    height: 40px;
}
/* 라운지 랭킹부분 */
.loungeLankWrap {
   max-width: 200px;
   width: 100%;
   margin-left: 4em;
}
.loungeLank{
    background-color: #fff;
    box-sizing: border-box;
    padding: 18px 16px 25px;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 6%);
    margin-bottom: 12px;
}
.lankTit{
    font-size: 1rem;
    font-weight: 700;
    color: #ea6560;
    margin-bottom: 12px;
}
.likeTit{
    font-size: 13px;
    color: #42495b;
    display: block;
    margin-bottom: 17px; 
}
.likeList{
    width: 100%;
}
.likeListLi{
    width: 100%;
    display: inline-flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 6px;
    height: 28px;
}
.replyTit{
    font-size: 13px;
    color: #42495b;
    display: block;
    margin-bottom: 17px; 
}
.replyList{
    width: 100%;
}
.replyListLi{
    width: 100%;
    display: inline-flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 6px;
    height: 28px;
}
.number{
    font-size: .75rem;
    color: #9d9dac;
    width: 24px;
}
.upDown{
    width: 0.6rem;
    height: 4em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    margin: 0 16px 0 10px;
}

.up{
    background-image: url(../../static/images/up.png);
}
.profileWrap{
    width: 28px;
    height: 28px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.profileImg{
    width: 28px;
    height: 28px;
    object-fit: cover;
}
.proName{
    cursor: pointer;
    font-size: .875rem;
    color: #8e8ea2;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80px;
    position: relative;
    letter-spacing: -.1px;
    margin-bottom: 0;
    font-weight: bold;
}


/*댓글 리스트 부분*/
.replySection{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.replyWrap{
    width: 100%;
    background-color: #fff;
    padding: 0;
    box-sizing: border-box;
    margin-top: 0;
    transition: all .2s;
}

.replyTool{
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 6%);
    position: relative;
    z-index: 999;
    box-sizing: border-box;
    padding: 13px 10px;
}

.replyTop{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.replyLeft{
    margin-right: 16px;
}

.proWrap img{
    width: 44px;
    height: 44px;
    object-fit: cover;
}
.proNames{
    margin: 0;
}

.replyRight{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

 .txtarea{
    font-size: 0.8rem;
    color: #222;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    resize: none;
    height: auto;
} 

.replyBottom{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 4px;
    justify-content: space-between;
}

.replyBtnWrap{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0;
    margin-bottom: 13px;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
}
.time{
    font-size: .75rem;
    color: #c9c9d9;
    margin-right: 5px;
}

.replyContents{
    margin-top: 10px;
}

.replyOpen{
    font-size: .75rem;
    color: #c9c9c9;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.replyBtmRight{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}