div.img {
    float: left;
    width: 100vw;
    text-align: center;
}

div.img img {
    width: 1200px;
    height: 460px;
}

div.image1 {
    background-color: #336d46;
}

div.image2 {
    background-color: #151515;
}

div.banner {
    width: 200vw;
    transition: transform 0.5s; /* transform 동작 시 애니메이션 효과 0.5초 */
}

section.container {
    margin: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

div.btns {
    position: absolute;
    width: 100vw;
    text-align: center;
    /*right: 12px;*/
    bottom: 0px; /* 5px */
}

div.arrow {
    position: absolute;
    width: 35px;
    height: 100%;
    line-height: 52.5vh;
    text-align: center;
    font-size: 2rem;
    color: white;
    z-index: 1;
    cursor: pointer;
}

div.next {
    right: 0;
}

div.firstWrapper, div.secondWrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

div.thirdWrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
}

div.heart {
    display: inline-flex;
    align-items: center;
}

div.heart img {
    width: 20px;
    height: auto;
}

span.heartCount {
    margin-left: 5px;
    font-size: 16px;
    height: 30px;
    font-weight: 600;
    color: #888;
}

li.slide {
    position: relative;
}

div.bottom div.recruitModel {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(51, 51, 51, .2);
    border-radius: 2px;
    right: 17px;
    bottom: -18px;
}

div.recruitModel ul {
    width: 300px;
    padding: 10px;
}

div.recruitModel ul li {
    display: flex;
    justify-content: space-between;
}

div.recruitModel ul li span {
    font-weight: 700;
}

div.recruitModel ul li span:last-child {
    color: #314e92;
}

div.recruitStatus {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

div.recruitStatus span {
    color: #666;
    font-weight: 600;
}

div.recruitStatus span:first-child {
    margin-right: 8px;
}

div.recruitStatus div {
    margin-left: 8px;
}

div.recruitStatus div img {
    width: 13px;
    height: 11px;
}

div.bottomWrap div.recruitModel {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(51, 51, 51, .2);
    border-radius: 2px;
    right: 0px;
    bottom: 0px;
}

div.projectGridWrap {
    width: 285px;
    /*height: 290px;*/
    position: relative;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

div.box {
    box-sizing: border-box;
    padding: 2px 10px;
    margin-right: 5px;
}

div.red {
    background-color: #ea6560;
}

div.black {
    background-color: #000;
}

div.box-wrap div.box span {
    color: #fff;
    font-size: 12px;
    line-height: 19px;
}

div.topInfo {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 12px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
}

div.box-wrap {
    display: flex;
    align-items: center;
}

div.projectImg {
    background: transparent;
    display: -webkit-inline-flex;
    display: inline-flex;
    max-height: 120px;
    height: 100%;
}

div.projectImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.projectMiddleInfo {
    box-sizing: border-box;
    /*padding: 14px;*/
    padding-left: 14px;
}

div.projectBottomInfo {
    /*padding: 14px;*/
    padding-left: 14px;
    padding-right: 14px;
}


div.middleWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 16px;*/
}

div.right span {
    color: #888;
    font-weight: 600;
}

div.bottomWrap div.recruit {
    border-top: 1px solid #f6f6f6;
    padding-top: 4px;
}

div.bottomWrap div.recruit div.recruitStatus span:nth-child(2) {
    color: #ea6560;
}

div.projectGridView {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    place-items: center;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

p{
    margin: 0 !important;
}

p.category{
    height: 40px;
}

p.categoryText{
    height: 40px;
}

div.image3{
    width: 100%;
    background-image: url("../../static/images/bg_openkakao.png");
    text-align: center;
    margin: 20px auto 0;
    padding: 30px 0 25px;
    background-size: cover;
    background-position: 50%;
}

img.spaceRocket{
    width: 100%;
}

p.igTxt{
    font-size: 30px;
    color: #ffffff;
    height: 45px;
}

p.smTxt{
    font-size: 1rem;
    color: white;
}

button.storyGo{
    margin-top: 15px;
    background-color: #fff;
    border: none;
    width: 150px;
    height: 35px;
    font-size: 16px;
}

.userId{
    font-size: 15px;
    color: #444;
    margin-left: 8px;
    font-weight: bold;
}

.userSearchOption .title {
    font-size: 20px;
    font-weight: 700;
    color: #444;
    margin-bottom: 20px;
}

.userSearchOption .searchOption {
    display: -webkit-flex;
    display: flex;
    margin-top: 22px;
}
.userSearchOption .searchOption .searchSelect {
    max-width: 140px;
    width: 100%;
    border: 1px solid #bcbccb;
    border-radius: 4px;
    height: 40px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: bold;
    color: #696980;
    margin-right: 10px;
    padding-left: 20px;
    background-image: url(../../static/images/triangle.png);
    background-position: 90%;
    background-repeat: no-repeat;
    appearance: none;
}.newMark{
     position: relative;
 }
.red2 {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 37px;
    height: 37px;
}
.like{
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #fff;
    background-image: url(../../static/images/grayheart.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 50%;
    bottom: -10px;
    right: -7px;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
}

.userGrid{
    border-radius: 20px;
    position: relative;
    width: 285px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 20px 15px 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all .2s;
}

.userGrid:hover{
    transform: scale(1.05);
    border: 1px solid #00704a;
}

.userGridtop{
    display: flex;
}
.userIn{
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #f3f3f4;
    background-color: #efefef;
    margin-right: 20px;
    flex-shrink: 0;
    position: relative;

}

.user1{
    display: flex;
    height: 35px;
    line-height: 35px;
}
.checkIcon{
    vertical-align: middle;
    width:18px;
}
.lvIcon{
    width: 28px;
    height: 20px
}
.bitIcon{
    width: 17px;
    line-height: 20px;
}
.heartIcon{
    width: 17px;
    line-height: 20px;
}
.boo{
    margin-top: -0.6em;
}

.bitdiv{
    display: flex;
    height: 20px;
    line-height: 20px;
    margin-right: 6px;
}
.bitimg{
    margin-right: 5px;
}

.heartdiv{
    display: flex;
    height: 20px;
    line-height: 20px;
}
.heartimg{
    margin-right: 5px;
}

.bitptag {
    margin: 0;
    font-size: 13px;
}
.heartptag {
    margin: 0;
    font-size: 13px;
}
.info{
    font-size: 13px;
    color: #333;
    font-weight: 600;
}
.num{
    font-size: 13px;
    color: #999;
    margin-left: 10px;
}

.usertag{
    margin:0 0 0.7rem 0;
}
.ulusertag{
    display: flex;
}

.ulusertag li{
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    margin-right: 4px;
    font-size: 12px;
    font-weight: bold;
}
.userinfo{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


.btimg{
    position: absolute;
    width: 18px;
    right: 173px;
    bottom: 15px;
}
.btchat{
    font-size:13px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-weight: 600;
}
.btchat:hover {
    background-color: #336d47;
    color: #fff;
}

.userGridTool {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
    box-sizing: border-box;
}
.userGridList{
    width: 100%;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(4,1fr);
}
.userLvIcon{
    margin-right: 8px;
}

.userGridName{
    margin-right: 5px;
}
.ugname{
    margin-bottom: 0;
    font-size: 15px;
}
.join{
    font-size: 13px;
    color: #666;
    margin-bottom: 0;
    margin-top: 10px;
}
.bitandheart{
    display: flex;
}

button{
    cursor: pointer;
}

/* 모달 css */
#my_modal {
    position: absolute;
    width: 366px;
    padding: 46px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 350px;
    top: 30%;
    left: 40%;
}

#my_modal2 {
    position: absolute;
    width: 366px;
    padding: 46px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 390px;
    top: 30%;
    left: 40%;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#my_modal2 .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

p.snsLoginP{
    margin-bottom: 20px !important;
    font-size: 1.5rem;
    color: #333;
    font-weight: 700;
    position: relative;
}

button.kakao_button , button.kakao_button2{
    width: 305px;
    height: 45px;
    background-color: #f7e317;
    color: #3e201e;
    background-image: url("https://letspl.s3.ap-northeast-2.amazonaws.com/images/icon/ic-sns-kk.png");
    background-size: 19.3px 17.7px;
    background-position: 10.5px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
}

button.face_button, button.face_button2{
    width: 305px;
    height: 45px;
    background-color: #1877f2;
    color: #fff;
    background-image: url("https://letspl.s3.ap-northeast-2.amazonaws.com/images/icon/ic-sns-fb.png");
    background-size: 19.3px 17.7px;
    background-position: 10.5px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
}

button.google_button, button.google_button2{
    width: 305px;
    height: 45px;
    background-color: #fff;
    color: #444;
    background-image: url("https://letspl.s3.ap-northeast-2.amazonaws.com/images/icon/ic-sns-google.png");
    background-size: 19.3px 17.7px;
    background-position: 10.5px;
    background-repeat: no-repeat;
    border: 1px solid #888;
    border-radius: 4px;
}

div.snsWrap{
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

button.turnJoin{
    border: none;
    background-color: #fff;
    font-size: .75rem;
    color: #8e8ea2;
    padding: 0 !important;
    margin-top: 30px;
}

button.turnLogin{
    border: none;
    background-color: #fff;
    font-size: .75rem;
    color: #8e8ea2;
    padding: 0 !important;
    margin-top: 20px;
}

div.turnJoinWrap , button.turnLoginWrap{
    text-align: center;
}

img.xIcon{
    width: 25px;
}

div.modalWindow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}

a.firstA, a.secondA, a.thirdA{
    color: #00704a;
    font-size: 11px;
    text-decoration: none;
}

p.firstPMaybe{
    font-size: 11px;
    margin-top: 15px !important;
}

div.turnLoginWrap{
    text-align: center;
}

div.joinPromise{
    margin-top: 5px;
}

/*  스토리 */
/* featured */
.featuredGrid:hover{
    transform: scale(1.05);
    border: 1px solid #00704a;
}
.featuredStory{
    margin-bottom: 30px;
}
.featuredContents{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 24px;
}
.storySection h3{
    font-size: 22px;
    color: #424521;
    line-height: 23px;
    margin-bottom: 23px;
    font-weight: 700;
    font-family: 'GmarketSansMedium';
}
.featuredGrid{
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s;
    min-width: 180px;
}
.featuredTop{
    position: relative;
    padding-top: 72%;
    background-color: #f5f5f5;
    overflow: hidden;
}

.featuredTop img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%) scale(1);
}
.featuredGridHead{
    width: 75px;
    height: 28px;
    border-radius: 100px;
    background-color: #6cbf89;
    display: inline-flex;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 5px;
}

.featuredGridHead span{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.featuredBottom{
    box-sizing: border-box;
    padding: 20px 16px 0;
}

.featuredTitWrap{
    border-bottom: 1px solid #eee;
}

/*  text-overflow: ellipsis; -> 잘린 텍스트를 생략 부호 (...)으로 표현함 */
/* word-wrap: break-word : 비아시아 언어의 줄바꿈을 제어, break-word 강제로 끊어서 줄바꿈 한다. */
.featuredTit{
    font-size: 15px;
    color: #56566d;
    font-weight: 500;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: break-word;
}

.featuredCategory{
    font-size: 12px;
    color: #b5b5c2;
    line-height: 12px;
    margin: 9px 0 15px !important;
    font-weight: 500;
    overflow: hidden;
}

.featuredFooter{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
}
.featureImg{
    width: 16px;
    margin-right: 2px !important;
    /* line-height: 14px; */
    vertical-align: middle;
}
.featuredFooterTxt{
    font-size: 12px;
    color: #8e8ea2;
}
.featuredViewDiv{
    display: inline-flex;
    flex-direction: row;
    align-items: center;

}
.featuredRpyDiv{
    display: inline-flex;
    flex-direction: row;
    align-items: center;


}
.featuredLikeDiv{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.featuredGrid p{
    margin: 0;
    font-weight: 600;
}

/* 줄  */
.line{
    width: 100%;
    display: block;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    margin: 30px 0;
}























