p {
    margin: 0;
    font-weight: bold;
}

a, input,div#bottom, label,select,option{
    font-size: 14px;
}

a{
    text-decoration-line: none;
    color: black;
}

a:active{
    color: black;
}

section#fix {
    margin-bottom: 40px;
}

section#info {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: none;
}
section#point {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#pointNav{
    justify-content: space-around;
    margin-bottom: 30px;
    font-size: 12px;
}
#pointNav li{
    width: 50%;
    text-align: center;
    border: solid 1px black;
}

#pointTable{
    width: 100%;
    text-align: center;
    font-size: 14px;
    border: none;
    border-top: 3px solid black;
    border-collapse: inherit;
}

thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 14px;
}

th.firstCell{
    width: 200px;
}
th.secondCell{
    width: 190px;
}
th.lastCell{
    width: 174px;
}

#pointTable th{
    border-bottom: 1px solid gray;
}

#pointTable th, #pointTable tr, #pointTable td{
    border-right: 1px solid lightgray;
    padding: 8px;
}

#pointTable th.lastCell, #pointTable tr.lastCell, #pointTable td.lastCell{
    border-right: none;
}

#pointTable td{
    border-bottom: 1px solid lightgray;
}




.point{
    color: #ea6560;
    font-size: 12px;
}
.alert{
    color: #ea6560;
    font-size: 12px;
    text-align: right;
}

#thumbNail{
    display: none;
}

div#container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

div#title h2 {
    font-size: 1.5rem;
}

ul#nav {
    list-style: none;
    width: 100%;
}

ul#nav li {
    width: 14%;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

ul#nav li a {
    text-decoration: none;
    color: black;
}

div#infoWrap {
    flex-direction: column
}

div#top {
    position: relative;
}

div#profileImg {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 200px;
    overflow: hidden;
    margin: 0 auto;
}

button#profileChange {
    position: absolute;
    width: 36px;
    height: 36px;
    background-image: url(../../static/images/profileChange.png);
    background-size: cover;
    border: none;
    border-radius: 1rem;
    right: 43%;
    bottom: 0%;
}


input, select {
    height: 44px !important;
}

textarea{
    background: white;
}

input::placeholder, textarea::placeholder{
    color: black !important;
}

select {
    line-height: 44px;
}

input.able, select.able {
    background: white;
}

.flex {
    display: flex;
}

.first, second, third {
    padding-left: 10px;
}

.first {
    margin-right: 5px;
}

.second {
    margin-left: 5px;
    margin-right: 5px;
}

.third {
    margin-left: 5px;
}

.hidden {
    visibility: hidden;
}
.marginBottom{
    margin-bottom: 32px;
}

textarea{
    resize: none;
}
#content{
    margin-top: 50px;
}

input[type='button'] {
    border: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    margin-left: 12px;
    width: 9%;
}

button#submit{
    margin: 0 auto;
    display: block;
    color: #fff;
    background-color: #ea6560;
    border: 1px solid #ea6560;
    width: 110px;
    height: 40px;
    border-radius: 4px;
    transition: all .2s;
    cursor: pointer;
}
div#url{
    margin-bottom: 20px;
}

