
/*--------------------고정--------------------*/
p {
    margin: 0;
    font-weight: bold;
}

a, input,div#bottom, label,select,option{
    font-size: 14px;
}

ul#nav li a{
    font-size: 16px;
}

ul#nav li:hover{
    border-bottom: 1px solid #00704a !important;
}

a{
    text-decoration-line: none !important;
    color: black;
}

a:active{
    color: black;
}

a:hover{
   color: #00704a !important;
}

textarea{
    resize: none;
}

section#fix {
    margin-bottom: 40px;
}

ul#nav {
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

ul#nav li {
    width: 14%;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

ul#nav li a {
    text-decoration: none;
    color: black;
}

div#container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 76px;
}

.fontColor{
    color: #00704a;
}

.flex {
    display: flex;
}
input, select {
    height: 44px !important;
    line-height: 44px !important;
}

textarea{
    background: white;
}

input::placeholder, textarea::placeholder{
    color: black !important;
}

select {
    line-height: 44px;
}

input.able, select.able, textarea.able, input[type='text'].able {
    background: white;
}
.first, second, third {
    padding-left: 10px;
}

.first {
    margin-right: 5px;
}

.second {
    margin-left: 5px;
    margin-right: 5px;
}

.third {
    margin-left: 5px;
}

.hidden {
    visibility: hidden;
}
.marginBottom{
    margin-bottom: 32px;
}

.titleMsg{
    font-size: 1.375rem;
    margin-bottom: 10px;
}

section#point, section#score, section#like, section#project, section#story, section#alert{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: none;
}
section#info{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: block;
}




/*--------------------정보--------------------*/

section#info #content{
    margin-top: 50px;
}

input[type='button'] {
    border: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    margin-left: 12px;
    width: 9%;
}

button.submit{
    margin: 0 auto;
    display: block;
    color: #fff;
    background-color: #336d47;
    border: 1px solid #336d47;
    width: 110px;
    height: 40px;
    border-radius: 4px;
    transition: all .2s;
    cursor: pointer;
    font-family: 'GmarketSansLight', sans-serif;
}
section#info div#url{
    margin-bottom: 20px;
}
section#info .point{
    color: #00704a;
    font-size: 12px;
}
section#info .alert{
    color: #00704a;
    font-size: 12px;
    text-align: right;
}

section#info #thumbNail{
    display: none;
}

section#info div#labelTag{
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 32px;
}

section#info div#interestWrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section#info div#labelTag label{
    color: #222;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 14px;
    display: inline-block;
}

section#info div#labelTag p{
    padding: 12px 16px 11px;
    border-radius: 100px;
    border: 1px solid #e8e8e8;
    margin-right: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
}

.active{
    border-radius: 21px;
    background-color: #333;
    color: #fff;
}

section#info div#title h2 {
    font-size: 1.5rem;
}

section#info div#infoWrap {
    flex-direction: column
}

section#info div#top {
    position: relative;
}

section#info div#profileImg {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 200px;
    overflow: hidden;
    margin: 0 auto;
}

section#info button#profileChange {
    position: absolute;
    width: 36px;
    height: 36px;
    background-image: url('static/images/profileChange.png');
    background-size: cover;
    border: none;
    border-radius: 1rem;
    right: 43%;
    bottom: 0%;
}

/*--------------------프로젝트----------------------------*/
section#project button.submit{
    width: 170px;
    height: 40px;
}

section#project div.emptyBox{
    background-color: #f7f7f7;
    box-sizing: border-box;
    padding: 25px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 4px;
}

section#project div.emptyBox p{
    font-size: 14px;
    color: #a9a9b9;
    word-wrap: break-word;
}


/*승근*/

div.allProject {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

div.selectOption {
    display: flex;
    margin-bottom: 10px;
}

.selectOption .smSelect {
    max-width: 150px;
    width: 100%;
    background-image: url("https://letspl.me/_next/static/media/ic_option_arrow.556e891f4497a2dc76c8a33607a31937.svg");
    background-color: unset;
    background-position: 90%;
    color: #696980;
    margin-right: 10px;
    padding-left: 15px;
    background-size: 10px 5px;
    font-size: 11px;
    padding-right: 0;
    font-weight: 600;
    height: 35px;
    background-repeat: no-repeat;
    border: 1px solid #bcbccb;
}

.selectOption .smSelect:focus {
    background-image: url('https://letspl.me/_next/static/media/ic_option_arrow.556e891f4497a2dc76c8a33607a31937.svg');
    background-repeat: no-repeat;
    background-size: 10px 5px;
}

div.allProject h3 {
    text-transform: unset;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    letter-spacing: normal;
    font-weight: bold;
}

label.checkbox {
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 100%;
    max-width: 200px;
}

label.checkbox input[type='checkbox'] {
    appearance: auto;
    z-index: unset;
    opacity: unset;
    background-color: #ea6560;
    float: unset;
    margin: 0;
}

div.projectMiddleInfo p.category {
    margin-bottom: 15px;
}

div.projectGridView {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    place-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

div.projectList {
    display: inline-flex;
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
}

div.projectList div.heart {
    position: absolute;
    right: 19px;
    top: 6px;
}

div.listImg {
    margin-right: 20px;
    width: 100px;
    height: 68px;
    border-radius: 6px;
    flex-shrink: 0;
}

div.listImg img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

div.listCategory {
    line-height: 12px;
}

div.listCategory p.recruitText {
    font-size: 12px;
    line-height: 12px;
    color: #999;
    margin: 7px 0px;
    padding: 0;
    font-weight: normal;
}

div.listCategory p.text {
    font-size: 12px;
    color: #666;
    font-weight: 600;
    margin: 0;
    line-height: 8px;
}


div.favorite {
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-image: url("https://letspl.me/_next/static/media/ic-favorite-empty-white.b1db0e3e169a5cf61afa41daf5bfdc15.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

div.top {
    position: absolute;
    top: 13px;
    right: 13px;
}

span.text {
    margin-left: 10px;
    font-size: 15px;
    padding-top: 4px;
}

label.checkbox input.check {
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: 0;
}

input[type='checkbox']:checked {
    accent-color: #336d47;
}

div.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    width: 100%;
}

div.heart {
    display: inline-flex;
    align-items: center;
}

div.heart img {
    width: 16px;
    height: auto;
}

span.heartCount {
    margin-left: 3px;
    font-size: 12px;
    height: 22px;
    font-weight: 600;
    color: #888;
}

ul.slider {
    display: flex;
    transform: translate3d(0%, 0px, 0px);
    transition-duration: 1000ms;
    width: 100%;
}

li.slide {
    display: block;
    min-width: 100%;
}

div.bottom div.recruitModel {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(51, 51, 51, .2);
    border-radius: 2px;
    right: 0;
    bottom: 0;
}

div.recruitModel ul {
    width: 195px;
    padding: 10px;
}

div.recruitModel ul li {
    display: flex;
    justify-content: space-between;
}

div.recruitModel ul li span {
    font-weight: 700;
    font-size: 13px;
}

div.recruitModel ul li span:last-child {
    color: #314e92;
}

div.recruitStatus {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

div.recruitStatus span {
    color: #666;
    font-weight: 600;
    font-size: 13px;
}

div.recruitStatus span:first-child {
    margin-right: 6px;
}

div.recruitStatus div {
    margin-left: 6px;
}

div.recruitStatus div img {
    width: 10px;
    height: 9px;
}

div.bottomWrap div.recruitModel {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(51, 51, 51, .2);
    border-radius: 2px;
    right: 0px;
    bottom: 0px;
}

div.projectGridWrap {
    width: 100%;
    position: relative;
    max-width: 285px;
    height: 317px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 20px;
}

div.projectTopInfo {
    display: inline-flex;
}

div.box {
    padding: 0px 12px;
    margin-right: 5px;
}

div.green {
    background-color: #336d47 !important;
}

div.black {
    background-color: #000 !important;
}

div.box-wrap div.box span {
    color: #fff;
    font-weight: 600;
    font-size: 10px;
}

div.topInfo {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 12px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
}

div.box-wrap {
    display: inline-flex;
    align-items: center;
}

div.projectImg {
    background: transparent;
    display: -webkit-inline-flex;
    display: inline-flex;
    max-height: 120px;
    height: 100%;
    width:100%;
}

div.projectImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.projectMiddleInfo {
    padding: 13px;
}

div.projectBottomInfo {
    padding: 13px 13px 0 13px;
}

div.middleWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.middleWrap div.left div.heart {
    vertical-align: middle;
}

div.middleWrap div.left div.heart img{
    width: 14px;
    height: auto;
}

div.right span {
    color: #888;
    font-weight: 600;
    font-size: 12px;
}

div.bottomWrap div.recruit div.recruitStatus span {
    font-size: 11px;
}

div.bottomWrap div.recruit div.recruitStatus div{
    margin-left: 7px;
}

div.bottomWrap div.recruit div.recruitStatus div img{
    width: 8px;
    height: 9px;
}

div.bottomWrap div.recruit {
    border-top: 1px solid #f6f6f6;
}

div.bottomWrap div.recruit div.recruitStatus span:nth-child(2) {
    color: #ea6560;
}




/*--------------------스토리-----------------*/
section#story button.submit{
    width: 170px;
    height: 40px;
    margin-top: 25px;
}

section#story div.emptyBox{
    background-color: #f7f7f7;
    box-sizing: border-box;
    padding: 25px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 4px;
}

section#story div.emptyBox p{
    font-size: 14px;
    color: #a9a9b9;
    word-wrap: break-word;
    margin: auto auto 28px;
}



/*-----------------찜하기---------------------*/
section#like button.submit{
        width: 170px;
        height: 40px;
    }

section#like div.emptyBox{
    background-color: #f7f7f7;
    box-sizing: border-box;
    padding: 25px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 4px;
}

section#like div.emptyBox p{
    font-size: 14px;
    color: #a9a9b9;
    word-wrap: break-word;
    margin: auto auto 28px;
}



/*-------------------알림----------------------*/
section#alert span.alertTitle{
    font-weight: 700;
}
section#alert span.alertDate{
    font-size: 14px;
    color: #8e8ea2;

}
section#alert div.alertWrap{
    margin-top: 30px;
}
section#alert span.alertContent{
    font-size: 14px;
}
section#alert div.alertDay{
    font-size: 14px;
    margin-bottom: 20px;
}
section#alert div.alertBox a{
    padding: 5px 18px 5px 18px;
    background-color: #f2f2f2;
    border-radius: 15px;
}
section#alert div.alertBox {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px 25px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    margin-bottom: 12px;
    align-items: center;
    max-width: 1172px;
    width: 100%;
    margin-left: 10px;
}
section#alert div.alertSide{
    border-left: 2px dashed #ebebeb;
}
section#alert div.alertList{
    margin-bottom: 20px;
}







/*--------------------포인트--------------------*/
section#point #pointNav{
    justify-content: space-around;
    margin-bottom: 30px;
    font-size: 12px;
}

section#point #pointNav li{
    width: 50%;
    height: 45px;
    text-align: center;
    border: solid 1px lightgray;
    line-height: 45px;
    font-weight: bold;
    cursor: pointer;
}

section#point #pointNav li:hover{
    border: solid 1px black !important;
}

section#point #pointTable,section#point #useTable{
    width: 100%;
    text-align: center;
    font-size: 14px;
    border: none;
    border-top: 3px solid black;
    border-collapse: inherit;
}

section#point thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 14px;
}

section#point th.firstCell{
    width: 200px;
}
section#point th.secondCell{
    width: 190px;
}
section#point th.lastCell{
    width: 174px;
}

section#point table th{
    border-bottom: 1px solid gray;
}

section#point table th, section#point table tr, section#point table td{
    border-right: 1px solid lightgray;
    padding: 8px;
}

section#point table th.lastCell, section#point table tr.lastCell, section#point table td.lastCell{
    border-right: none;
}

section#point table td{
    border-bottom: 1px solid lightgray;
}

section#point #useTable{
    display: none;
}




/*----------------------워크스코어-----------------------*/

section#score table#scoreTable{
    width: 100%;
    text-align: center;
    font-size: 14px;
    border: none;
    border-top: 3px solid black;
    border-collapse: inherit;
}

section#score th.firstCell{
    width: 200px;
}
section#score th.secondCell{
    width: 190px;
}

section#score table th{
    border-bottom: 1px solid gray;
}

section#score table th, section#score table tr, section#score table td{
    border-right: 1px solid lightgray;
    padding: 8px;
}

section#score table th.lastCell, section#score table tr.lastCell, section#score table td.lastCell{
    border-right: none;
}

section#score table td{
    border-bottom: 1px solid lightgray;
}

/* 본인스토리 */
.myStoryWrap{
    max-width: 1200px;
    padding: 0;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}
.myStory{
    margin-top: 52px;
    box-sizing: border-box;
}
.storyTime{
    display: flex;
    flex-direction: column;
}
.storyTimeLi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 24px 26px 20px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 12px;
}

.storyTimeLineLeft{
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.storyTimeLineImg{
    width: 145px;
    height: 114px;
    overflow: hidden;
    margin-right: 30px;
    flex-shrink: 0;
    position: relative;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.storyTimeLineImg img{
    width: 145px;
    height: 114px;
    object-fit: cover;
}
.storyTimeLineContents{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.timeLineTitWrap{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1px;
}
.timeLintCategory{
    font-size: 10px!important;
    line-height: 14px;
    border-radius: 4px!important;
    color: #00704a!important;
    margin-bottom: 3px;
    font-family: 'GmarketSansMedium';
    box-sizing: border-box;
    padding: 4px 12px;
    background-color: #f2f2f2;
    margin-right: 20px;
    flex-shrink: 0;
}
.timeLineTit{
    font-size: 17px;
    color: #42495b;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: break-word;
    overflow: hidden;
    margin-bottom: 0;
    font-family: 'GmarketSansMedium';
}
.timeLineTxt{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: #b5b5c2;
    word-break: normal;
    display: -webkit-inline-box;
    font-weight: 600;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.timeLineTagWrap{
    color: #222;
    margin-right: 4px;
    line-height: 14px;
    display: -webkit-box;
}
.timeLineTagWrap span{
    font-size: 12px;
    color: #8e8ea2;
    margin-right: 4px;
    font-weight: 600;
}

/* 스토리 타임라인 right */
.storyTimeLineRight{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.TimeLineStatusWrap{
    display: inline-flex;
    flex-direction: row;
}
.storyTimeLineStatusDiv{
    display: inline-flex;
flex-direction: row;
align-items: center;
margin-right: 16px;
}

.storyTimeLineDivImg{
    width: 16px;
    height: 16px;
}
.divFooterTxt{
    font-size: 13px;
    color: #a39e9e;
    margin-left: 3px;
}
/* 찜한유저 */
.userId{
    font-size: 15px;
    color: #444;
    margin-left: 8px;
    font-weight: bold;
}

.userSearchOption .title {
    font-size: 20px;
    font-weight: 700;
    color: #444;
    margin-bottom: 20px;
}

.userSearchOption .searchOption {
    display: -webkit-flex;
    display: flex;
    margin-top: 22px;
}
.userSearchOption .searchOption .searchSelect {
    max-width: 140px;
    width: 100%;
    border: 1px solid #bcbccb;
    border-radius: 4px;
    height: 40px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: bold;
    color: #696980;
    margin-right: 10px;
    padding-left: 20px;
    background-image: url(../../static/images/triangle.png);
    background-position: 90%;
    background-repeat: no-repeat;
    appearance: none;
}.newMark{
    position: relative;
}
.red {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 37px;
    height: 37px;
}
.like{
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #fff;
    background-image: url(../../static/images/grayheart.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 50%;
    bottom: -10px;
    right: -7px;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
}

.userGrid{
    border-radius: 20px;
    position: relative;
    width: 285px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 20px 15px 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all .2s;
}

.userGridtop{
    display: flex;
}
.userIn{
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #f3f3f4;
    background-color: #efefef;
    margin-right: 20px;
    flex-shrink: 0;
    position: relative;
    
}

.user1{
    display: flex;
    height: 35px;
    line-height: 35px;
}
.checkIcon{
    vertical-align: middle;
    width:18px;
}
.lvIcon{
    width: 28px;
    height: 20px
}
.bitIcon{
    width: 17px;
    line-height: 20px;
}
.heartIcon{
    width: 17px;
    line-height: 20px;
}
.boo{
    margin-top: -0.6em;
}

.bitdiv{
    display: flex;
    height: 20px;
    line-height: 20px;
    margin-right: 6px;
}
.bitimg{
    margin-right: 5px;
}

.heartdiv{
    display: flex;
    height: 20px;
    line-height: 20px;
}
.heartimg{
    margin-right: 5px;
}

.bitptag {
    margin: 0;
    font-size: 13px;
}
.heartptag {
    margin: 0;
    font-size: 13px;
}
.info{
    font-size: 13px;
    color: #333;
    font-weight: 600;
}
.num{
    font-size: 13px;
    color: #999;
    margin-left: 10px;
}

.usertag{
    margin:0 0 0.7rem 0;
}
.ulusertag{
    display: flex;
}

.ulusertag li{
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    margin-right: 4px;
    font-size: 12px;
    font-weight: bold;
}
.userinfo{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


.btimg{
    position: absolute;
    width: 18px;
    right: 173px;
    bottom: 15px;
}
.btchat{
    font-size:13px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-weight: 600;
}
.btchat:hover {
    background-color:  #336d47;
    color: #fff;
}

.userGridTool {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
    box-sizing: border-box;
}
.userGridList{
    width: 100%;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(4,1fr);
}
.userLvIcon{
    margin-right: 8px;
}

.userGridName{
    margin-right: 5px;
}
.ugname{
   margin-bottom: 0;
   font-size: 15px;
}
.join{
    font-size: 13px;
    color: #666;
    margin-bottom: 0;
    margin-top: 10px;
}
.bitandheart{
    display: flex;
}


/* 미디어쿼리 */
@media screen and (max-width: 414px){

    div#container {
        padding: 10px;
    }
    ul#nav li a {
        font-size: 15px;
        font-weight: bold;
    }
    ul#nav li {
        margin-right: 4px;
        width: auto;
    }
   select {
        font-size: 11px !important;
        font-weight: 600 !important;
    }
    section#info div#labelTag p {
        font-size: 12px;
    }
    section#info .alert {
     font-weight: 600;
    }
    p{
        font-weight: 600 !important;
    }
    input{
        font-size: 13px !important;
    }
    .marginBottom {
        margin-top: 18px;
    }
    textarea{
        font-size: 12px !important;
    }
    section#like div.emptyBox p {
        margin:0 auto;
    }
    .flexs{
        display: flex !important;
        flex-direction: column !important;
    }
    section#alert span.alertContent {
        font-size: 13px;
    }
    section#alert div.alertBox a {
        font-size: 13px;
    }
    #goPoint{
        display: none;
    }
    #goScore{
        display: none;
    }
    /* table{
        table-layout: fixed;
    } */
}