section {
    margin-top: 76px !important;
}

div.section {
    margin-bottom: 30px;
}

/* section one*/

div.projectHeaderWrap {
    padding: 45px 0 45px;
    text-align: center;
}

div.projectHeader {
    width: 100%;
    margin-bottom: 25px;
}

div.projectHeaderText {
    background-color: #000;
    display: inline-block;
    padding: 4px 29px;
}

div.projectHeaderText span {
    font-size: 13px;
    color: #fff;
    font-weight: 700;
}

div.projectHeaderContent {
    max-width: 1040px;
    margin: 0 auto;
    position: relative;
}

h3.projectText {
    font-size: 32px;
    color: #222;
    height: 44px;
    margin-bottom: 1px;
}

li.projectLeaderWrap {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

div.userWrap {
    cursor: pointer;
    align-items: center;
    display: inline-flex;
}

div.userWrap div.leaderImg {
    display: inline-flex;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    overflow: hidden;
}

div.userWrap div.leaderImg a {
    width: 35px;
    height: 35px;
}

div.userWrap div.leaderImg a img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

span.leaderText {
    letter-spacing: 0;
}

span.userId {
    color: #666;
    font-weight: 700;
    margin-left: 10.5px;
    margin-right: 4.5px;
    font-size: 14px;
}

span.confirmPhone {
    font-size: 15px;
    color: #ea6560;
}

span.lastLogin {
    font-size: 15px;
    color: #b7b7c7;
}

span.status {
    padding: 7px 11px;
    color: #333;
    border-radius: 100px;
    margin-right: 5px;
    font-size: 10px;
    font-weight: 700;
}

span.gray {
    background-color: #f2f2f2;
}

span.white {
    background-color: #fff;
    border: 1px solid #e8e8e8;
}

div.idMenu {
    display: none;
    position: absolute;
    text-align: left;
    width: 130px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 555;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 20%);
}

div.idMenu ul li {
    width: 100%;
}

div.idMenu ul li a {
    display: block;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 13px;
    color: #333;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}

div.idMenu ul li a:hover {
    background-color: rgba(234, 101, 95, .5);
}

/* section two */

div.projectPageWrap {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

div.projectDetailContents {
    padding: 0 0 40px;
    position: relative;
    margin: 0;
    max-width: 840px;
    width: 100%;
}

div.projectTabMenu {
    margin-bottom: 20px;
    position: sticky;
    width: 100%;
    top: 68px;
    z-index: 500;
}

div.projectTabMenu ul {
    display: flex;
}

div.projectTabMenu ul li {
    font-size: 14px;
    color: #42495b;
    flex: 1 1;
    font-weight: 700;
}

div.projectTabMenu ul li a {
    padding: 11.5px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #000;
    color: #8e8ea2;
    cursor: pointer;
    background-color: #fcfcfc;
    text-decoration: none;
}

div.projectTabMenu ul li a.active, .projectTabMenu > ul li a:hover {
    color: #42495b;
    background-color: #fff;
    border: 1px solid #000;
    border-bottom: none;
    padding: 12px 0;
}

.projectTabMenu ul li a.disabled:hover {
    color: #8e8ea2;
    padding: 11.5px 0;
    background-color: #fbfbfb;
    border: 1px solid #e6e6e6;
    border-bottom-color: #000;
    border-left: none;
}

.projectTabMenu ul li a.disabled {
    cursor: not-allowed;
}

.projectTabMenu ul li a.disabled:after {
    content: "";
    background-image: url("https://letspl.me/_next/static/media/ic_lock.b284a07036757b388f197a7b1b93524b.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    margin-left: 10px;
}

h3.detailTab {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    padding-bottom: 10px;
    margin: 0;
}

div.status ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

span.position {
    font-size: 14px;
    color: #424251;
    margin-right: 0px;
    font-weight: 700;
    width: 300px;
}

span.applyNumber {
    font-size: 14px;
    color: #00704a;
    margin-right: 50px;
    font-weight: 700;
}

a.applyButton {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #81839c;
    padding: 2px 35px;
    border: 1px solid #81839c;
    border-radius: 2px;
    transition: all .2s;
    cursor: pointer;
}

a.applyButton:hover {
    background-color: #42495b;
    border: 1px solid #42495b;
    color: #fff;
}

div.projectDetailWrap {
    padding: 0 20px;
}

div.projectInfo {
    display: none;
}

div.status {
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 15px 15px 0;
}

div.status ul {
    margin-top: 15px;
}

/* section three*/
div.platformIconsWrap {
    display: flex;
}

div.iconImg {
    margin-right: 8px;
    display: inline-flex;
    width: 38px;
    height: 38px;
}

div.iconImg img {
    width: 38px;
    height: 38px;
    object-fit: cover;
}

/* section five */
div.moreProject {
    width: 100%;
    margin: 0 auto 40px;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
}

div.moreProject h3.detailTab {
    padding: 45px 15px 20px 0;
}


/**/

.userId {
    font-size: 15px;
    color: #444;
    margin-left: 8px;
    font-weight: bold;
}

.like {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #fff;
    background-image: url(../../static/images/image/grayheart.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 50%;
    bottom: -10px;
    right: -7px;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
}

.userGrid {
    border-radius: 20px;
    position: relative;
    width: 285px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 20px 15px 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all .2s;
}

.userGridtop {
    display: flex;
}

.userIn {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #f3f3f4;
    background-color: #efefef;
    margin-right: 20px;
    flex-shrink: 0;
    position: relative;

}

.user1 {
    display: flex;
    height: 35px;
    line-height: 35px;
}

.checkIcon {
    vertical-align: middle;
    width: 18px;
}

.lvIcon {
    width: 28px;
    height: 20px
}

.bitIcon {
    width: 17px;
    line-height: 20px;
}

.heartIcon {
    width: 17px;
    line-height: 20px;
}

.boo {
    margin-top: -0.6em;
}

.bitdiv {
    display: flex;
    height: 20px;
    line-height: 20px;
    margin-right: 6px;
}

.bitimg {
    margin-right: 5px;
}

.heartdiv {
    display: flex;
    height: 20px;
    line-height: 20px;
}

.heartimg {
    margin-right: 5px;
}

.bitptag {
    margin: 0;
    font-size: 13px;
}

.heartptag {
    margin: 0;
    font-size: 13px;
}

.info {
    font-size: 13px;
    color: #333;
    font-weight: 600;
}

.num {
    font-weight: 700;
    font-size: 13px;
    color: #999;
    margin-left: 10px;
}

.usertag {
    margin: 0 0 0.7rem 0;
}

.ulusertag {
    display: flex;
}

.ulusertag li {
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    margin-right: 4px;
    font-size: 12px;
    font-weight: bold;
}

.userinfo {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


.btimg {
    position: absolute;
    width: 18px;
    right: 173px;
    bottom: 15px;
}

.btchat {
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-weight: 600;
}

.btchat:hover {
    background-color: #1187cf;
    color: #fff;
}

.userGridTool {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.userGridList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4px;
}

.userLvIcon {
    margin-right: 8px;
}

.userGridName {
    margin-right: 5px;
}

.ugname {
    margin-bottom: 0;
    font-size: 15px;
    cursor:pointer;
}

ul.idHoverMenu {
    display: none;
    position: absolute;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    margin-left: -37px;
    top: 50px;
}

ul.idHoverMenu li {
    width: 100%;
}

ul.idHoverMenu li a {
    display: block;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

ul.idHoverMenu li a:hover {
    background-color: rgba(234,101,95,.5);
}

.join {
    font-size: 13px;
    color: #666;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 10px;
}

.bitandheart {
    display: flex;
}

img.red2 {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 37px;
    height: 37px;
}

/* section manage */
div.projectManage {
    display:none;
}

div.projectManage div.chooseManage{
    margin-bottom: 35px;
}

div.projectManage div.chooseManage ul{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

div.projectManage div.chooseManage ul li {
    flex: 1 1;
    text-align: center;
    padding: 12px 0;
    border-bottom: 2px solid #e6e6e6;
    cursor: pointer;
}

div.projectManage div.chooseManage ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    color: #a1a1a1;
}

div.projectManage div.chooseManage ul li.active {
    border-bottom: 2px solid #a1a1a1;
}
div.projectManage div.chooseManage ul li.active a{
    color: #333;
}

/* div.projectManage div.managementWrap div.projectSup {
    padding: 0 38px;
} */

div.projectManage div.managementWrap div.projectSup h3 {
    font-size: 20px;
    color: #555;
    font-weight: 700;
}

div.projectManage div.managementWrap div.projectSup div.projectSupText {
    background-color: #f7f7f7;
    padding: 35px 0;
    text-align: center;
}
 div.proManag div.projectSupText {
    background-color: #f7f7f7;
    padding: 35px 0;
    text-align: center;
}
 div.proManag div.projectSupText span {
    font-size: 15px;
    font-weight: 700;
    color: #a1a1a1;
}

div.projectManage div.managementWrap div.projectSup div.projectSupText span {
    font-size: 15px;
    font-weight: 700;
    color: #a1a1a1;
}

div.projectFeed {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    /* padding: 10px; */
    display: none;
}

div.projectFeed div.feedWrap {
    display: flex;
    width: 100%;
    padding: 25px;
    background-color: #f7f7f7;
}

div.projectFeed div.feedWrap div.feedImg {
    margin-right: 20px;
}

div.projectFeed div.feedWrap div.feedImg img {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    object-fit: cover;
}

div.projectFeed div.feedWrap div.feedTextandFile {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
}

div.projectFeed div.feedWrap div.feedTextandFile div.feedText {
    width: 100%;
}

div.projectFeed div.feedWrap div.feedTextandFile div.feedText textarea {
    margin: 0;
    margin-bottom: 10px;
    background-color: #fff;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 18px 20px;
    resize: none;
    font-weight: 700;
    color: #222;
}

div.projectFeed div.feedWrap div.feedTextandFile div.file {
    display: flex;
    justify-content: space-between;
}

div.projectFeed div.feedWrap div.feedTextandFile div.file div.attach, div.projectFeed div.feedWrap div.feedTextandFile div.file div.regist {
    background-color: #fff;
    color: #222;
    border: 1px solid #333;
    width: auto;
    padding: 6px 32px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

div.projectFeed div.feedWrap div.feedTextandFile div.file div.attach a, div.projectFeed div.feedWrap div.feedTextandFile div.file div.regist a{
    text-decoration: none;
    font-weight: 700;
}



    /* section modal */

div.projectNavContent {
    max-width: 300px;
    width: 100%;
}

div.projectNavInfoWrap {
    width: 100%;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #ddd;
    position: sticky;
    top: 76px;
    margin-bottom: 20px;
    border-radius: 4px;
}

div.projectNavContent div.leaderInfo {
    padding-top: 0;
}

div.infoWrap {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0;
}

div.infoWrap h3.projectTab {
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: #000;
}

div.userIdWrap {
    display: inline-flex;
}

div.userIdWrap div.leaderImg {
    width: 54px;
    height: 54px;
    margin-right: 18px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

div.userIdWrap a.leaderImgWrap {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

div.userIdWrap a.leaderImgWrap img {
    width: 54px;
    height: 54px;
    border-radius: 8px;
    object-fit: cover;
}

div.userWrapper {
    display: inline-flex;
    flex-direction: column;
}

div.userWrapper span.userId {
    margin: 0;
    font-size: 13px;
    letter-spacing: 0;
    color: #000;
    width: auto;
    position: relative;
    cursor: pointer;
}

div.userWrapper span.confirmPhone {
    font-size: 11px;
    line-height: 11px;
    color: #8e8ea2;
}

span.reactionRateWrap {
    margin-top: 8px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 0;
}

span.leftText {
    display: inline;
    font-size: 13px;
    line-height: 14px;
    color: #424251;
}

span.rightText {
    display: inline;
    font-size: 13px;
    line-height: 14px;
    color: #424251;
}

div.heartAndShareWrap {
    display: inline-flex;
}

a.heartWrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 8px;
}

a.heartWrap span {
    font-size: 11px;
    padding-top: 3px;
    text-decoration: none;
    font-weight: 700;
}

a.heartWrap svg {
    width: 14px;
    margin-right: 4px;
}

a.shareWrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

a.heartWrap div.favorite {
    width: 16px;
    height: 13px;
    cursor: pointer;
    background-image: url("https://letspl.me/_next/static/media/ic-favorite-empty-white.b1db0e3e169a5cf61afa41daf5bfdc15.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

a.heartWrap div.favorite:hover {
    background-image: url("https://letspl.me/_next/static/media/ic-favorite-empty-hover.03f7a2966e132a098a985cdc42f83b46.svg");
}

a.shareWrap img {
    width: 16px;
    height: auto;
}

a.shareWrap span {
    font-size: 11px;
    padding-top: 3px;
    font-weight: 700;
}

/* nav section two */

div.projectDate h3.projectTab {
    margin-bottom: 8px;
}

p.projectText {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    color: #333;
}

p.projectText span {
    margin-left: 12px;
}

/* nav section four */
div.subscriber ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0px 10px 1px;
}

div.subscriber ul li:first-child {
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    display: inline-block;
}

div.subscriber ul li:nth-child(2) {
    margin-left: -15px;
}

div.subscriber ul li {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    margin-right: -15px;
}

div.imgWrap {
    max-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #ddd;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.imgWrap img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

div.subHover {
    width: 103px;
    height: 26px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: -20px;
    right: -51px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    display: none;
}

div.subHover p {
    width: 100%;
    text-align: center;
    line-height: 1;
    position: relative;
    top: 3px;
    margin: 0;
}

div.subHover p span:first-child {
    font-size: 12px;
    color: #00704a;
    margin-right: 4px;
    font-weight: 700;
}

div.subHover p span:last-child {
    font-size: 12px;
    color: #fff;
}

div.subscriber ul li:first-child div.subHover:after {
    margin-left: -35px;
    left: 50%;
}

div.subHover:after {
    top: 100%;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 5px solid rgba(136, 183, 213, 0);
    border-top-color: rgba(0, 0, 0, .8);
    margin-left: 14px;
}

div.subHover:after {
    top: 100%;
    left: 5%;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 5px solid rgba(136, 183, 213, 0);
    border-top-color: rgba(0, 0, 0, .8);
    margin-left: 14px;
}

div.subscribeButton {
    background-color: #ea6560;
    color: #fff;
    border: 1px solid #ea6560;
    margin-top: 15px;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}

a.subscribeButton {
    text-decoration: none;
}


/* chapter two story */

div.storySection {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    display: none;
}

div.stories {
    max-width: 1200px;
    padding: 0;
}

div.story ul {
    display: flex;
    flex-direction: column;
}

div.story ul li {
    display: flex;
    justify-content: space-between;
    padding: 18px 20px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

div.left {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

div.storyImg {
    width: 145px;
    height: 114px;
    overflow: hidden;
    margin-right: 30px;
    flex-shrink: 0;
    position: relative;
    border-radius: 8px;
    background-color: #f5f5f5;
}

div.storyImg img {
    width: 145px;
    height: 114px;
    object-fit: cover;
}

div.list {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

div.categoryWrap {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
}

span.category {
    font-size: 10px;
    line-height: 14px;
    border-radius: 4px;
    color: #ea6560;
    margin-bottom: 3px;
    padding: 4px 12px;
    background-color: #f2f2f2;
    margin-right: 20px;
    flex-shrink: 0;
    font-weight: 700;
}

p.categoryText {
    font-size: 17px;
    color: #42495b;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    margin: 0;
    font-weight: 700;
    letter-spacing: 0;
}

div.previewText {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    color: #b5b5c2;
    display: -webkit-inline-box;
    word-break: normal;
    letter-spacing: 0;
    font-weight: 700;
}

div.tagWrap {
    color: #222;
    margin-right: 4px;
    line-height: 14px;
    display: -webkit-box;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

div.tagWrap span {
    font-size: 11px;
    color: #8e8ea2;
    margin-right: 3px;
    font-weight: 700;
    letter-spacing: 0;
}

div.right {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

div.listStatus {
    display: inline-flex;
}

div.listStatus p {
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
}

div.listStatus p svg {
    margin-right: 4px;
}

div.listStatus p span {
    font-size: 12px;
    line-height: 1px;
    color: #42495b;
    font-weight: 700;
}

div.noStoryWrap {
    background-color: #f7f7f7;
    padding: 16px 0;
    text-align: center;
}

div.noStoryWrap p {
    font-size: 13px;
    color: #a9a9b9;
    word-wrap: break-word;
    margin-bottom: 24px;
    font-weight: 700;
}

button.subscribeBtnNow {
    border-radius: 5px;
    background-color: #ea6560;
    margin: 0;
    padding: 8px 29px;
    text-align: center;
    border: none;
    cursor: pointer;
}

span.subscribeBtnNow {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
}

/* chapter three faq */
div.projectFaq {
    display: none;
}

h3.faqText {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 28px;
    line-height: unset;
    font-weight: 700;
    text-transform: unset;
}

div.faqWrap {
    display: inline-flex;
    flex-direction: column;
    background-color: #fff;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 18px 20px;
}

div.textareaWrap {
    display: inline-flex;
    margin-bottom: 15px;
}

textarea.textarea {
    flex: 1 1;
    padding: 0;
    border: 0;
    font-size: 14px;
    resize: none;
    background-color: unset;
}

div.textButtonWrap {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    display: none;
}

p.count {
    font-size: 14px;
    color: #b1b1b1;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    margin: 0;
}

p.count span:first-child {
    color: #333;
}

button.faqButton {
    background-color: #f2f2f2;
    color: #222;
    border: 1px solid #f2f2f2;
    width: auto;
    padding: 6px 27px;
    border-radius: 4px;
    font-size: 12px;
    cursor:pointer;
}

div.faqBottom a:after{
    content: " ";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-left: 4px;
    background-image: url("https://letspl.me/_next/static/media/option-triangle.2abb88b721408916136ac6048ff74b95.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

div.faqBottom a.active:after{
    transform: rotate(-180deg);
}

span.replyCount:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
    background-image: url("https://letspl.me/_next/static/media/ico_comment.66b0e87a88ad24dc805cabc6e2ca41af.svg");
}

div.faqUploadWrap {
    background-color: #fff;
    padding: 13px 24px;
    border-top: 1px solid #ededed;
}

div.faqTop {
    display: flex;
    align-items: center;
}

div.profileImg {
    width: 54px;
    height: 54px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
}

div.profileImg img{
    width: 54px;
    height: 54px;
    object-fit: cover;
}

div.name {
    flex: 1 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

p.profileName {
    font-size: 16px;
    color: #42495b;
    cursor: pointer;
    margin: 0;
    font-weight: 700;
}

div.faqTop div.name div.idMenu {
    display: none;
    position: absolute;
    top: 31px;
    left: -5px;
    text-align: left;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 555;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 20%);
}

div.name span {
    color: #c9c9d9;
    font-size: 11px;
    font-weight: 600;
}

div.faqMiddle {
    padding-left: 5px;
    margin-bottom: 12px;
}

div.faqMiddle textarea {
    height: auto;
    background-color: #fff;
    border: none;
    color: #222;
    margin-top: 13px;
    margin-bottom: 13px;
    width: 100%;
    opacity: 1;
    -webkit-text-fill-color: #222;
    font-size: 14px;
    font-weight: 700;
    height: 62px;
    resize: none;
    overflow: hidden;
}

div.faqBottom {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}

div.faqBottom a {
    cursor: pointer;
    font-size: .75rem;
    color: #c9c9d9;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

span.replyCount {
    font-size: 11px;
    color: #42495b;
    display: inline-flex;
}


div.replyWrap {
    background-color: #f8f8f8;
    padding: 16px 34px;
    transition: all .2s;
    flex-direction: column;
    display: none;
}

div.replyWrapContent {
    margin-bottom: 14px;
    border-bottom: 1px solid #e3e3e3;
}

div.top {
    display: flex;
    align-items: center;
}

div.top div.left {
    display: block;
    width: auto;
}

div.top div.left div.profileImg {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #e3e3e3;
}

div.top div.left div.profileImg img {
    width: 44px;
    height: 44px;
    object-fit: cover;
}

div.replyWrapContent div.top div.right {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

div.top div.right h4 {
    font-size: 14px;
    color: #42495b;
    font-weight: 700;
    margin: 0;
    text-transform: none;
}

div.replyWrapContent div.top div.right div.idMenu {
    display: none;
    position: absolute;
    text-align: left;
    top: 18px;
    left: -4px;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 555;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 20%);
}

div.top div.right p.dateText {
    font-size: 11px;
    font-weight: 700;
    color: #42495b;
    margin: 0;
}

div.replyWrapContent div.top div.right h4.profileName div.idMenu{
    display: none;
    position: absolute;
    text-align: left;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 555;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 20%);
}

div.bottom {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 0;
}

div.textWrap {
    flex: 1 1;
    width: 100%;
    padding: 0.75em 1em;
}

div.textWrap textarea {
    background: none;
    border: none;
    color: #222;
    flex: 1 1;
    padding: 0;
    resize: none;
    overflow: hidden;
    opacity: 1;
    -webkit-text-fill-color: #222;
    margin-bottom: 20px;
    font-size: 12px;
    height: 42px;
    font-weight: 700;
}

p.noMemberText {
    font-size: 14px;
    margin: 0;
    font-weight: 700;
}

p.noMemberText a {
    color: #00704a;
    margin-left: 4px;
    text-decoration: none;
}

div.reply {
    display: flex;
}

div.active {
    display: block;
}

/* 일감 */
.workChooseManage {
    margin-bottom: 35px;
}
.workRoleUl {
        display: flex;
        width: 90%;
        margin: 0 auto;
}
div.workRoleUl div.workChooseManage ul li.active {
    border-bottom: 2px solid #a1a1a1;
}
.workChooseManage ul li {
    flex: 1 1;
    text-align: center;
    padding: 12px 0;
    border-bottom: 2px solid #e6e6e6;
    cursor: pointer;
}
.workChooseManage ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    color: #a1a1a1;
}
.workRoleNoticeSelect{
    border: 1px solid #a5a4a4dd;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 7px;
    width: 90%;
    margin: 0 auto;
}
.workRoleNoticeSelectBox{
    border: none;
    background-color: #fff;
    padding-left: 21px;
    font-weight: 600;
    font-size: 15px;
    color:#333;
}
.todobox{
    width: 90%;
    margin:0 auto;
}
.todoTextarea{
    box-sizing: border-box;
    padding: 13px 16px;
    background: #fff;
    border: 1px solid #a5a4a4dd;
    font-size: .875rem;
    height: 100%;
    resize: none;
    margin-top: 15px;
    border-radius: 0 !important;
    font-weight: 600;
}
.todobox textarea::placeholder{
    color: #333 !important;
}
.dateAndselect{
    margin:0 auto;
    width: 90%;
    margin-top: 15px;
}
.workRoleDate{
    border: 1px solid #a5a4a4dd;
    font-size: 11px;
    font-weight: 600;
    padding: 4px;
    border-radius: 5px;
     width: 140px;
}
.workRoleSelect{
    border: 1px solid #a5a4a4dd;
    font-size: 11px;
    font-weight: 600;
    padding: 4px;
    border-radius: 5px;
    background-color: #fff;
    width: 140px;
    margin-top: 5px;
    line-height: 24px;
}


/* 지원자 현황 - 지원자 있을 때 */ 
        .projectSupContents {
            /* background-color: #f7f7f7; */
            padding: 35px 0;
            margin: 0 auto;
            width: 90%;
            max-width: 1200px;
         width: 100%;
       
        -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
        
 .projectSupContents span {
    font-size: 15px;
    font-weight: 700;
    color: #a1a1a1;
}
.success{
    font-size: 13px;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-weight: 600;
    width: 45%;
    text-align: center;
    cursor: pointer;
}
.success:hover{
    background-color: #336d47;
    color: #fff;
}
.nonono{
    font-size: 13px;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-weight: 600;
    width: 45%;
    text-align: center;
    cursor: pointer;
}
.nonono:hover{
    background-color: #336d47;
    color: #fff;
}
.userGridSandN{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.userwork1 {
    line-height: 50px;
}

.userIn2 {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #f3f3f4;
    background-color: #efefef;
    margin-right: 12px;
    flex-shrink: 0;
    position: relative;
}
.ugname2{
      margin-bottom: 0;
        font-size: 15px;
        cursor: pointer;
        font-weight: 600;
        color: #666;
}
.join2, .join3, .join4, .join5 {
    font-size: 13px;
    color: #666;
    font-weight: 700;
    margin-bottom: 0;
}
.userGridtop2{
        margin-bottom: 8px;
}
.line{
    width: 100%;
    display: block;
    border-bottom: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}
.userGrid2{
    padding: 15px 15px 10px 20px !important;
    width: 265px;
}
/* 프로젝트 */
div.projectView-rightWrap h3 {
    text-transform: unset;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    letter-spacing: normal;
    font-weight: bold;
}

div.projectView-rightWrap {
    flex: 1 1;
    margin-left: 25px;
    padding: 20px 0;
}

div.newProject {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

div.project-wrap {
    width: 100%;
    position: relative;
}

div.sliderWrap {
    overflow: hidden;
    margin: auto;
    width: 100%;
}

div.textWrap {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

div.project-image {
    width: 100%;
}

div.project-image img {
    width: 100%;
}

div.bottomText {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    padding: 0 12px;
    width: 100%;
}

p.category {
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    color: #b1b1b1;
    letter-spacing: normal;
    margin-bottom: 6px;
}

p.categoryText {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    margin: 0;
    letter-spacing: normal;
    color: #000;
}

p.recruitText {
    font-size: 12px;
    line-height: 18px;
    color: #8a8a8a;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
    width: 100%;
    letter-spacing: normal;
    margin: 0;
    padding-top: 8px;
    font-weight: 700;
}

div.projectTopWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 495px;
    margin: 0 auto;
}

button.banner-button {
    padding: 5px;
    border: none;
    background: none;
    color: #fff;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 32px;
    z-index: 1;
    cursor: pointer;
}

button.prev-arrow {
    left: 0px;
}

button.next-arrow {
    right: 0px;
}


button.banner-button:hover {
    background: rgba(0, 0, 0, .2);
    transition: all .25s ease-in;
}

button.banner-button:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: "";
}

button.prev-arrow:before {
    border-right: 8px solid #fff;
}

button.next-arrow:before {
    border-left: 8px solid #fff;
}
div.projectList {
    display: inline-flex;
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
}

div.projectList div.heart {
    position: absolute;
    right: 19px;
    top: 6px;
}

div.listImg {
    margin-right: 20px;
    width: 100px;
    height: 68px;
    border-radius: 6px;
    flex-shrink: 0;
}

div.listImg img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

div.listCategory {
    line-height: 12px;
}

div.listCategory p.recruitText {
    font-size: 12px;
    line-height: 12px;
    color: #999;
    margin: 7px 0px;
    padding: 0;
    font-weight: normal;
}

div.listCategory p.text {
    font-size: 12px;
    color: #666;
    font-weight: 600;
    margin: 0;
    line-height: 8px;
}


div.favorite {
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-image: url("https://letspl.me/_next/static/media/ic-favorite-empty-white.b1db0e3e169a5cf61afa41daf5bfdc15.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

div.top {
    position: absolute;
    top: 13px;
    right: 13px;
}


.projectView-rightWrap2{
    margin-left: 0 !important;
}
.userGridSandN2{
    display: flex;
    margin-top: 3px;
    justify-content: flex-end;
}
.success2{
    font-size: 13px;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-weight: 600;
    width: 20%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    margin-right: 8px;
}
.success2:hover{
    background-color: #336d47;
    color: #fff;
}
.nonono2{
    font-size: 13px;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-weight: 600;
    width: 20%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.nonono2:hover{
    background-color: #336d47;
    color: #fff;
}
.proManag h3{
    font-size: 20px;
    color: #555;
    font-weight: 700;
}
.proManag .projectSupText2{
    background-color: #f7f7f7;
    padding: 35px 0;
    text-align: center;
}

.projectSupText2 span{
    font-size: 15px;
    font-weight: 700;
    color: #a1a1a1;
}


/* 모달 */

#modalPage1 {
    position: absolute;
    text-align: center;
    width: 325px;
    /* padding: 0px 30px 74px; */
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 490px;
    top: 30%;
    left: 40%;
    padding: 48px 40px 24px;
    max-width: 406px;
    width: 100%;
    /* 
        top: 34%;
    left: 0.9%; */
}

#modalPage1.modalCloseBtn {
    bottom: 25px;
    right: 165px;
}

p.snsLoginP{
    margin-bottom: 20px !important;
    font-size: 1.5rem;
    color: #333;
    font-weight: 700;
    position: relative;
}

div.snsWrap{
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

button.turnJoin{
    border: none;
    background-color: #fff;
    font-size: .75rem;
    color: #8e8ea2;
    padding: 0 !important;
    margin-top: 30px;
}

button.turnLogin{
    border: none;
    background-color: #fff;
    font-size: .75rem;
    color: #8e8ea2;
    padding: 0 !important;
    margin-top: 20px;
}

div.turnJoinWrap , button.turnLoginWrap{
    text-align: center;
}

img.xxIcon{
    position: relative;
    width: 25px;
    right: -168px;
    top: -23px;
}

div.modal1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none; 
}

a.firstA, a.secondA, a.thirdA{
    color: #00704a;
    font-size: 11px;
    text-decoration: none;
}

p.firstPMaybe{
    font-size: 11px;
    margin-top: 15px !important;
}

div.turnLoginWrap{
    text-align: center;
}

div.joinPromise{
    margin-top: 5px;
}

a.modalCloseBtn{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}

p.snsLoginP{
    color: #00704a;
}

p.completeP1{
    font-size: 1rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1rem;
    text-align: left;
}

p.get200PointP1{
    font-size: 11px;
    color: #696980;
    line-height: 1rem;
    margin-top: 11px;
    margin-bottom: 5px;
    /* font-weight: 600; */
}

p.get200PointP2{
    font-size: 11px;
    color: #000;
    line-height: 1rem;
    margin-top: 15px;
    font-weight: 700;
    float: left;
}
p.get200PointP3{
    font-size: 11px;
    color: #696980;
    line-height: 1rem;
    margin-top: 1px;
    /* font-weight: 600; */
}
.mdPtag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
}

/* div.letter1{
    margin-top: 30px;
} */

.mdBtn{
    display: flex;
    margin-bottom: 1em;
}

button.complete1{
    width: 50%;
    height: 35px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 6px;
    cursor: pointer;
}
button.complete2{
    width: 50%;
    height: 35px;
    border: 1px solid #eeee;
    color: #333;
    background-color: #fff;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 6px;
    cursor: pointer;

}


div.urlFirstWrap{
    display: flex;
}

div.flex{
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}

div.labelWrap{
    display: flex;
}
.mdInputSpan{
    font-size: 12px;
    float: left;
    font-weight: 600;
}
.mdInputContents1{
    border: 1px solid #a59f9fee !important; 
    background-color: #fff !important;
    font-size: 12px !important;
}


/* 모달2->지원 확인모달 */
#modalPage2 {
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 12px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
    /* left:3.5% */
}

#modalPage2 .modalCloseBtn2{
    bottom: 25px;
    right: 165px;
}


img.xxxIcon{
    position: relative;
    width: 25px;
    right: -170px;
    top: 0px;
}

div.modal2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
     display: none; 
}


a.modalCloseBtn2{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completeP2{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

p.get200PointP11{
    font-size: .75rem;
    color: #8e8ea2;
    line-height: 1rem;
}


button.complete2{
    width: 260px;
    height: 44px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 20px;
}
/* 멤버허용모달 */
#modalPage3 {
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 12px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
    /* left:3.5% */
}

#modalPage3 .modalCloseBtn3{
    bottom: 25px;
    right: 165px;
}


img.xxxxIcon{
    position: relative;
    width: 25px;
    right: -170px;
    top: 0px;
}

div.modal3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
     display: none; 
}


a.modalCloseBtn3{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completeP3{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

p.get200PointP111{
    font-size: .75rem;
    color: #8e8ea2;
    line-height: 1rem;
}


button.complete3{
    width: 260px;
    height: 44px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 20px;
}
/* 리더허용모달 */
#modalPage4 {
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 12px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
    /* left:3.5% */
}

#modalPage4 .modalCloseBtn4{
    bottom: 25px;
    right: 165px;
}


img.xxxxxIcon{
    position: relative;
    width: 25px;
    right: -170px;
    top: 0px;
}

div.modal4{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
     display: none; 
}


a.modalCloseBtn4{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completeP4{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

p.get200PointP1111{
    font-size: .75rem;
    color: #8e8ea2;
    line-height: 1rem;
}


button.complete4{
    width: 260px;
    height: 44px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 20px;
}
/* 프로젝트삭제모달 */
#modalPage5 {
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 12px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
    /* left:3.5% */
}

.mdBtn2{
    display: flex;
    margin-bottom: 1em;
    margin-top: 24px;
}
#modalPage5 .modalCloseBtn5{
    bottom: 25px;
    right: 165px;
}


img.xIcon1{
    position: relative;
    width: 25px;
    right: -170px;
    top: 0px;
}

div.modal5{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}


a.modalCloseBtn5{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completeP5{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

p.mdProPtag1{
    font-size: .75rem;
    color: #8e8ea2;
    line-height: 1rem;
}


.letter5{
    padding: 5px 15px 0 15px;
}
button.mdBtnModify{
    width: 50%;
    height: 35px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 6px;
    cursor: pointer;
}
button.mdBtnRemove{
    width: 50%;
    height: 35px;
    border: 1px solid #eeee;
    color: #333;
    background-color: #fff;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 6px;
    cursor: pointer;

}
/* 프로젝트삭제중모달 */
#modalPage6 {
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 12px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 334px;
    top: 30%;
    left: 41%;
}

.mdBtn3{
    display: flex;
    margin-bottom: 1em;
    margin-top: 24px;
}
#modalPage6 .modalCloseBtn6{
    bottom: 25px;
    right: 165px;
}


img.xIcon3{
    position: relative;
    width: 20px;
    right: -175px;
    top: -2px;
}

div.modal6{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
     display: none; 
}


a.modalCloseBtn6{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}

.mdInputSpanDiv{
    display: flex;
    margin-bottom: 5px;
}
span.completeP6{
    font-size: 11px;
    color: #c5c2c2ee;
    font-weight: 700;
    text-align: left;
    line-height: 24px;
}

p.mdProPtag2{
    font-size: .75rem;
    color: #8e8ea2;
    line-height: 1rem;
}
.mdProRemoveDivPtag {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid;

}
.mdProRemoveDivPtag2{
    font-size: 12px;
    text-align: left;
    line-height: 1.25rem;
    margin-top: 10px;
    margin-bottom: 11px;
    font-weight: 600;
}


/* .letter6{
   margin-top: 30px;
} */
button.mdBtnBack{
    width: 50%;
    height: 35px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 6px;
    cursor: pointer;
}
button.mdBtnCom{
    width: 50%;
    height: 35px;
    border: 1px solid #eeee;
    color: #333;
    background-color: #fff;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 6px;
    cursor: pointer;

}

.mdInputSpan2{
    font-size: 12px;
    float: left;
    font-weight: 600;
    margin-right: 11px;
    line-height: 24px;
}
.mdInputContents2{
    border: 1px solid #a59f9fee !important; 
    background-color: #fff !important;
    font-size: 12px !important;
}
/* 프로젝트 삭제완료 모달 */
#modalPage7 {
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 12px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
    /* left:3.5% */
}

#modalPage7 .modalCloseBtn7{
    bottom: 25px;
    right: 165px;
}


img.xIcon4{
    position: relative;
    width: 25px;
    right: -170px;
    top: 0px;
}

div.modal7{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none; 
}


a.modalCloseBtn7{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completeP7{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

/* 멤버 승인완료, 거절모달 */
#modalPage9, #modalPage10 {
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 26px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
    /* left:3.5% */
}

#modalPage9 .modalCloseBtn9, #modalPage10 .modalCloseBtn10{
    bottom: 25px;
    right: 165px;
}


img.xIcon6, img.xIcon7{
    position: relative;
    width: 25px;
    right: -170px;
    top: -13px;
}

div.modal10, div.modal9{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}


a.modalCloseBtn9, a.modalCloseBtn10{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completeP9,p.completeP10{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

p.mdProPtag2{
    font-size: .75rem;
    color: #8e8ea2;
    line-height: 1rem;
}


button.mdBtnMem3,button.mdBtnMem4{
    width: 260px;
    height: 44px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 20px;
    cursor: pointer;
}
/* 멤버 승인확인 모달 */
#modalPage8{
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 26px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
    /* left:3.5% */
}

#modalPage8 .modalCloseBtn8{
    bottom: 25px;
    right: 165px;
}


img.xIcon5{
    position: relative;
    width: 25px;
    right: -170px;
    top: -13px;
}

div.modal8{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
     display: none;
}


a.modalCloseBtn8{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completeP8{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 29px;
    line-height: 1.25rem;
}

p.mdProPtag2{
    font-size: .75rem;
    color: #8e8ea2;
    line-height: 1rem;
}

.mdBtn4{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
button.mdBtnMem1{
    width: 50%;
    height: 35px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 6px;
    cursor: pointer;
}
button.mdBtnMem2{
    width: 50%;
    height: 35px;
    border: 1px solid #eeee;
    color: #333;
    background-color: #fff;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 6px;
    cursor: pointer;

}

/* 댓글의 댓글입력창 */
.activeInput{
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    padding: 24px 24px 10px 80px;
    box-sizing: border-box; */
    /* display: none; */
}
.activeInputPro{
    width: 44px;
    height: 44px;
    margin-right: 16px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.activInputImg{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 16px;
}
.activeInputTxt{
    flex: 1 1;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.activeInputTextArea{
    flex: 1 1;
    font-size: .875rem;
    box-sizing: border-box;
    padding: 11px 16px;
    border-radius: 4px;
    margin-right: 14px;
    resize: none;
    border: none;
    background-color: #fff;
}
.activeInputBtn{
    background-color: #336d47;
    color: #fff;
    border: 1px solid #336d47;
    width: auto;
    padding: 8px 29px!important;
    transition: all .2s;
    font-size: .75rem;
    border-radius: 4px;
}
/* 댓글의 댓글 */
.rpyAtiveWrap{
    background-color: #f7f7f7;
    padding: 24px 24px 10px 80px;
    box-sizing: border-box;
    display: none;
}
.activeWrap{
    box-sizing: border-box;
}
  
 .activeTop{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
} 
.activeLeft{
    margin-right: 16px;
}
.activeLeftPro{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
}
.activeLeftPro img{
    width: 44px;
    height: 44px;
    object-fit: cover;
}

.activeRight{
    width: 100%;
}
.activeProfile{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.activeProName{
    font-size: 14px;
    font-weight: 600;
    color: #42495b;
    cursor: pointer;
    position: relative;
}

.activeDate{
    font-size: 11px;
    color: #c9c9d9;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
}
.activeTextArea{
    font-size: 12px;
    font-weight: 600;
    resize: none;
    border: none;
    background-color: #f7f7f7;
}

div.faqUploadWrap2 {
    background-color: #fff;
    padding: 13px 24px;
    border-top:none;
    border-bottom: 1px solid #ededed;
}

div.replyWrapContent2 {
    margin-bottom: 14px;
     border-bottom: none; 
}