/* 스토리수정모달 */
#modalStory1Page{
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 26px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
}

#modalStory1Page .modalStoryCloseBtn1{
    bottom: 25px;
    right: 165px;
}


img.xIcons{
    position: relative;
    width: 25px;
    right: -170px;
    top: -13px;
}

div.modalStory1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
     display: none;  
}


a.modalStoryCloseBtn1{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completePStory1{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}


button.mdBtnStoryBtn{
    width: 260px;
    height: 44px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 20px;
    cursor: pointer;
}