/*댓글 관련*/

.activeInputBtns{
    background-color: #336d47;
    color: #fff;
    border: 1px solid #336d47;
    width: auto;
    padding: 8px 29px!important;
    transition: all .2s;
    font-size: .75rem;
    border-radius: 4px;
    cursor: pointer;
}
.txtBtns{
    /* border: 1px solid #eeee; */
    border: none;
    font-size: 14px;
    margin-bottom: 0 !important;
}
.modifys{
    cursor: pointer;
}
.removes{
    cursor: pointer;
}
.replyBtnWraps{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0;
    margin-bottom: 13px;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
}


a{
    text-decoration: none !important;
    color: #000 !important;
}

.storyViewBanner{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1;
    background-color: #222;
    top: 76px;
    overflow: hidden;
}

.storyViewBannerImgWrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.bannerImg{
    opacity: .4;
    left: 0;
    width: 100%;
    position: relative;
    top: 10%;
    transform: translateY(-50%);
}
.storyBannerTxtWrap{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 266px;
    box-sizing: border-box;
    padding-bottom: 70px;
    position: relative;
}
.storyBannerTagWrap{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 35px;
}
.storyBannerTxtWrap h2 {
    color: #fff;
    max-width: 600px;
    min-width: 320px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 28px;
    line-height: 38px;
}

.storyBannerTag{
    box-sizing: border-box;
    padding: 8px 28px;
    color: #fff;
    border-radius: 4px;
    margin-right: 6px;
    font-size: 12px;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: blue;
}

.storyBannerHashTag{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0;
    flex-wrap: wrap;
    max-width: 600px;
}

.storyBannerHashTag span{
    font-size: 14px;
    color: #fff;
    line-height: 14px;
    margin-right: 6px;
}
.storyBannerBottomWrap{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 40px;
}
.bannerDateTxt{
    color: #fff;
    font-size: 13px;
    width: 100%;
}
.bannerStatusWrap{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    justify-content: flex-end;
    color: #fff;
}
.bannerStatusWrap p{
    margin-bottom: 0;
}
.bannerStatusImg{
    width: 16px;
    margin-right: 2px !important;
    /* line-height: 14px; */
    vertical-align: middle;
    filter: invert(100%)
}
/* 스토리 전체 세션 */
.storyViewWrap{
    box-sizing: border-box;
    max-width: 100%;
    margin-top: 340px;
    position: relative;
    z-index: 5;
    background-color: #fff;
    padding-bottom: 30px;
    overflow: hidden;
    
}
/* 스토리 콘텐츠 */
.storyViewContentsWrap{
    width: 100%;
    box-shadow: 0 3px 24px 0 rgb(0 0 0 / 8%);
    padding: 0 40px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
/* 콘텐츠 프로필 */
.storyViewContentsPro{
    border-bottom: 1px solid #e6e6e6; 
    box-sizing: border-box;
    padding: 20px 0;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.contentsProHeart{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 0 19px 8px rgb(0 0 0 / 6%);
    cursor: pointer;
    position: absolute;
    top: 34px;
    right: 0;
}
.heart{
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-image: url('/images/grayheart.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.contentsProHeart:hover div.heart{
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-image: url('/images/redheart.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.contentsProImg{
    width: 130px;
    height: 94px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: transparent;
    margin-right: 30px;
    position: relative;
}
.userImg{
    width: 130px;
    height: 94px;
    object-fit: cover;
}
.contentsProName{
    font-size: 17px;
    color: #42495b;
    line-height: 17px;
    margin-bottom: 0;
    font-weight: 700;
}
/* .contentsProNamePtag{
    font-family: 'GmarketSansMedium';
} */
.contentsPro{
    display: block;
    font-size: 13px;
    color: #8e8ea2;
    margin-top: 8px;
}
.contentsProStatus{
    display: inline-flex;
    flex-direction: row;
    margin-top: 12px;
}
.contentsProDiv{
    margin-bottom: 0;
    font-size: 10px;
    color: #42495b;
    line-height: 12px;
    font-weight: 600;
}
.contentsStatusImg{
    width: 17px;
    margin-right: 2px !important;
    vertical-align: middle;
}
.contentsProTxt{
    margin-right: 4px;
}
/* 콘텐츠내용 */
.storyViewContentsTxt{
    box-sizing: border-box;
    padding: 20px 0 0;
}
.contentsTxtWrap{
    margin-bottom: 30px;
    width: 100%;
}
.contentsTextArea{
    border: none;
    background-color: #fff;
    font-size: 1rem;
    resize: none;
}
/* 콘텐츠 내용 중 댓글 열고 닫기부분 */
.contentsBtnReplyWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 20px;
}
.contentsBtnReply{
    font-size: 12px;
    color: #222;
    line-height: 12px;
    cursor: pointer;
    width: 60px;
}

/* 콘텐츠 댓글 */
.storyViewContentsReplyWrap{
    background-color: #f7f7f7;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 24px 40px 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.contentsRpyInput{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.contentsRpyInputImg{
    width: 44px;
    height: 44px;
    margin-right: 16px;
    border-radius: 100px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}
.contentsRpyInputImg img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1.78);
}
.contentsRpyInputTxt{
    flex: 1 1;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.contentsRpyTextArea{
    background-color: #fff;
    flex: 1 1;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 11px 16px;
    border-radius: 4px;
    margin-right: 14px;
    resize: none;
    border: 1px solid #9796a7;
    resize: none;
}
.contentsRpyInputBtn{
    background-color: #336d47;
    color: #fff;
    border: 1px solid #336d47;
    width: auto;
    padding: 8px 29px!important;
    transition: all .2s;
    font-size: .75rem;
    border-radius: 4px;
    font-family: GmarketSansLight;
    font-weight: 600;
}

/* 자기스토리 */
.myStoryWrap{
    max-width: 1200px;
    padding: 0;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}
.myStory{
    margin-top: 52px;
    box-sizing: border-box;
}
.storyTime{
    display: flex;
    flex-direction: column;
}
.storyTimeLi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 24px 26px 20px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 12px;
}

.storyTimeLineLeft{
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.storyTimeLineImg{
    width: 145px;
    height: 114px;
    overflow: hidden;
    margin-right: 30px;
    flex-shrink: 0;
    position: relative;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.storyTimeLineImg img{
    width: 145px;
    height: 114px;
    object-fit: cover;
}
.storyTimeLineContents{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.timeLineTitWrap{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1px;
}
.timeLintCategory{
    font-size: 10px!important;
    line-height: 14px;
    border-radius: 4px!important;
    color: #00704a!important;
    margin-bottom: 3px;
    font-family: 'GmarketSansMedium';
    box-sizing: border-box;
    padding: 4px 12px;
    background-color: #f2f2f2;
    margin-right: 20px;
    flex-shrink: 0;
}
.timeLineTit{
    font-size: 17px;
    color: #42495b;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: break-word;
    overflow: hidden;
    margin-bottom: 0;
    font-family: 'GmarketSansMedium';
}
.timeLineTxt{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: #b5b5c2;
    word-break: normal;
    display: -webkit-inline-box;
    font-weight: 600;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.timeLineTagWrap{
    color: #222;
    margin-right: 4px;
    line-height: 14px;
    display: -webkit-box;
}
.timeLineTagWrap span{
    font-size: 12px;
    color: #8e8ea2;
    margin-right: 4px;
    font-weight: 600;
}

/* 스토리 타임라인 right */
.storyTimeLineRight{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.TimeLineStatusWrap{
    display: inline-flex;
    flex-direction: row;
}
.storyTimeLineStatusDiv{
    display: inline-flex;
flex-direction: row;
align-items: center;
margin-right: 16px;
}

.storyTimeLineDivImg{
    width: 16px;
    height: 16px;
}
.divFooterTxt{
    font-size: 13px;
    color: #a39e9e;
    margin-left: 3px;
}
/* 스토리삭제확인모달 */
#modalStory2Page{
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 26px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
}

#modalStory2Page .modalStoryCloseBtn2{
    bottom: 25px;
    right: 165px;
}


img.xIcons2{
    position: relative;
    width: 25px;
    right: -170px;
    top: -13px;
}

div.modalStory2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;  
}


a.modalStoryCloseBtn2{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completePStory2{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}


button.mdBtnStoryBtn2{
    width: 260px;
    height: 44px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 20px;
    cursor: pointer;
}
/* 스토리삭제중모달 */
#modalStory3Page {
    position: absolute;
    text-align: center;
    width: 387px;
    padding: 12px 30px 74px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    height: 215px;
    top: 30%;
    left: 41%;
    /* left:3.5% */
}

.mdBtn{
    display: flex;
    margin-bottom: 1em;
    margin-top: 24px;
}
#modalStory3Page .modalStoryCloseBtn3{
    bottom: 25px;
    right: 165px;
}


img.xIcons3{
    position: relative;
    width: 25px;
    right: -170px;
    top: 0px;
}

div.modalStory3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;  
}


a.modalStoryCloseBtn3{
    text-decoration: none;
    color: #8e8ea2;
    cursor: pointer;
}


p.completePStory3{
    font-size: 1.125rem;
    color: #42495b;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

p.completePStory33{
    font-size: .75rem;
    color: #8e8ea2;
    line-height: 1rem;
}


.storyLetter3{
    padding: 5px 15px 0 15px;
}
button.mdBtnBacks{
    width: 50%;
    height: 35px;
    border: none;
    color: #fff;
    background-color: #00704a;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 6px;
    cursor: pointer;
}
button.mdBtnRemoves{
    width: 50%;
    height: 35px;
    border: 1px solid #eeee;
    color: #333;
    background-color: #fff;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 6px;
    cursor: pointer;

}

div.modalWrapOpen{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    display: none;
}

div.commonModal{
    padding: 60px 20px 40px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border-radius: 8px;
    max-width: 410px;
    min-width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .2s;
    z-index: 999999;
}

p.modalTit {
    font-size: 1.125rem;
    color: #42495b;
    text-align: center;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

button.closeBtn {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 21px;
    cursor: pointer;
}

button.closeBtn img{
    width:100%;
}

div.commonModalContent p {
    font-size: .75rem;
    color: #8e8ea2;
    text-align: center;
    line-height: 1rem;
}

div.btnWrap {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.btnWrap button.whiteBtn {
    border: 1px solid #00704a;
    color: #00704a;
    background-color: #fff;
    height: 44px;
    width: 49%;
    box-sizing: border-box;
    font-size: .75rem;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
}

div.btnWrap button.redBtn {
    background-color: #00704a;
    color: #fff;
    height: 44px;
    width: 49%;
    border: none;
    box-sizing: border-box;
    font-size: .75rem;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
}

/* 재미있는 스토리 추천 */

.seriesUl::-webkit-scrollbar { width: 3.2px; height: 15px;} /* 스크롤 바 */

.seriesUl::-webkit-scrollbar-track { background-color:#ddd; } /* 스크롤 바 밑의 배경 */

.seriesUl::-webkit-scrollbar-thumb { background: #ddd; border-radius: 0px; } /* 실질적 스크롤 바 */

.seriesUl::-webkit-scrollbar-thumb:hover { background: #636363; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */

.seriesUl::-webkit-scrollbar-thumb:active { background: rgb(61, 61, 61); } /* 실질적 스크롤 바를 클릭할 때 */

.seriesUl::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */

.seriesUl{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 auto;
}
.seriesScroll{
    margin-left:1.5rem;
}

.seriesLi{
    width: 220px;
    height: 152px;
    margin-right: 12px;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all .2s;
    border: 1px solid #222;
}

.seriesLi a{
    width: 100%;
    height: 100%;
    display: inline-flex;
    position: relative;
    background-color: #000;
    overflow: hidden;
}

.seriesImg{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #222;
    opacity: .6;
}

.seriesImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.storySubTit{
    position: absolute;
    font-size: 14px;
    color: #fff;
    left: 16px;
    bottom: 20px;
    font-weight: 500;
    width: 170px;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    font-family: 'GmarketSansMedium';
}

.funnyStory{
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #fff;
}
.funnyStory h3{
    font-size: 22px;
    color: #424521;
    line-height: 23px;
    margin-bottom: 23px;
    font-weight: 700;
    margin-top: 26px;
    font-family: 'GmarketSansMedium';
}
/* 댓글 수정,삭제 */
.replyBtnWrap{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0;
    margin-bottom: 13px;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
}
.remove {
    cursor: pointer;
}
.txtBtnImg {
    width: 20px;
}
.modify {
    cursor: pointer;
}
.txtBtn {
    background-color: #fff;
    /* border: 1px solid #eeee; */
    border: none;
    font-size: 14px;
    margin-bottom: 0 !important;
}
/* 댓글 */
.rpyAtiveWrap{
    background-color: #f7f7f7;
    padding: 24px 24px 10px 80px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: none;
}
.activeWrap{
    box-sizing: border-box;
}
  
 .activeTop{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
} 
.activeLeft{
    margin-right: 16px;
}
.activeLeftPro{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
}
.activeLeftPro img{
    width: 44px;
    height: 44px;
    object-fit: cover;
}

.activeRight{
    width: 100%;
}
.activeProfile{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.avtiveProName{
    font-size: 1rem;
    color: #42495b;
    cursor: pointer;
    position: relative;
}

.activeDate{
    font-size: .75rem;
    color: #c9c9d9;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
}
.activeTextArea{
    font-size : 1rem;
    resize: none;
    border: none;
    background-color: #f7f7f7;
}
/* 댓글의 댓글입력창 */
.activeInput{
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    padding: 24px 24px 10px 80px;
    box-sizing: border-box; */
    /* display: none; */
}
.activeInputPro{
    width: 44px;
    height: 44px;
    margin-right: 16px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.activInputImg{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 16px;
}
.activeInputTxt{
    flex: 1 1;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.activeInputTextArea{
    flex: 1 1;
    font-size: .875rem;
    box-sizing: border-box;
    padding: 11px 16px;
    border-radius: 4px;
    margin-right: 14px;
    resize: none;
    border: none;
    background-color: #fff;
}
.activeInputBtn{
    background-color: #336d47;
    color: #fff;
    border: 1px solid #336d47;
    width: auto;
    padding: 8px 29px!important;
    transition: all .2s;
    font-size: .75rem;
    border-radius: 4px;
    cursor: pointer;
}


/* 피드 댓글 마우스오버시 */
ul.hoverUl {
    display: none;
    position: absolute;
    /* right: 1px; */
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    margin-top: 24px;
}

ul.hoverUl li {
    width: 100%;
}

ul.hoverUl li a {
    display: block;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

ul.hoverUl li a:hover {
    background-color: #f1f8e9;
    text-decoration: none !important;
}

/* 미디어쿼리 */
@media screen and (max-width: 414px){

    .storyTimeLi {
          display: flex;
          flex-direction: column;
    padding: 10px 6px;
    position: relative;
    }
    .stroyTimeUl{
            display: flex;
    flex-direction: column;
    }
    .storyTimeLineLeft {
         display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    }
    
    .storyTimeLineImg{
        width: 150px;
        height: 100px;
         margin: 0;
    }
    .storyTimeLineImg img{
        width: 150px;
        height: 100px;
        }
        .storyTimeLineContents{
            width: 100%;
            margin-left: 6px;
        }
        .timeLineTitWrap{
            flex-direction: column;
             align-items: flex-start;
             margin-top: 0;
          margin-bottom: 0;
        }
        .timeLineTit{
            font-size: 14px;
            width: 95%;
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
        }
        .timeLineTxt{
            font-size: 12px;
        margin-bottom: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        display: -webkit-inline-box;
        }
        .timeLineTagWrap{
            line-height: 12px;
            text-overflow: ellipsis;
            display: -webkit-box;
            word-wrap: break-word;
        }
        .timeLineTagWrap span{
            font-size: 10px!important;
            margin-right: 2px;
        }
        .TimeLineStatusWrap{
            display: inline-flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            margin-top: 7px;
        }
        .storyTimeLineDivImg{
            width: 14px;
            height: 14px;
        }
        .divFooterTxt{
            font-size: 10px!important;
        }
        .storyViewContentsWrap {
            padding: 0;
        }
        .funnyStory h3{
            text-align: center;
        }
        .seriesScroll {
             margin-left: 0;
        }

        .replyTool {
            width: 414px;
        }
        .rpyAtiveWrap {
            width: 414px;
            padding: 20px 20px 10px 40px;
        }
        .activeTextArea {
            font-size: 14px;
        }
        .loungeTextArea {
            height: 150px;
        }
        .activeTop {
            margin-bottom: 0 !important;
        }
      
        .activeInputTextArea {
         height: 50px;
            }
    }


