.storyWriteSection{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background-color: fff;
    padding: 30px 0;
    box-sizing: border-box;
}
/* 스토리 타이틀 */
.storyWriteTit{
    margin-bottom: 56px;
}
.storyWriteTit p{
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    color:  #00704a;
    margin-bottom: 0;
}
.storyWriteTit span{
    display: block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;
    color: #3d3d3d;
    font-weight: 600;
}
.writeNotice{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #336d47;
    background-color: #ebf9eb;
    margin-top: 13px;
}
.writeNotice p{
    font-size: 14px;
    color: #00704a;
    line-height: 14px;
    padding: 16px 24px;
    font-weight: 600;
    margin-bottom: 0;
}
.writeNotice span{
    font-size: 14px;
    line-height: 14px;
    color: #666;
    display: inline;
}
/* 검색 */
.searchSelect{
    max-width: 600px;
    width: 100%;
    background-position: 95%;
    height: 40px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .6875rem;
    color: #696980;
    margin-right: 10px;
    padding-left: 20px;
    /* background-image: url(/_next/static/media/ic_option_arrow.556e891….svg);
    background-position: 90%;
    background-size: 10px 5px;
    background-repeat: no-repeat; */
    appearance: none;
    margin-bottom: 30px;
}

.buildProjectTitWrap {
    width: 100%;
    max-width: 100%;
    padding: 62px 20px 32px;
    background-color: #336d47;
    box-sizing: border-box;
}

.buildProjectTitWrap .titContents {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.buildProjectTitWrap .titContents h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    line-height: 3rem;
    font-family: 'GmarketSansMedium', sans-serif;
}

.buildProjectTitWrap .titContents p {
    font-size: 1rem;
    color: #fff;
}

.buildProjectWrap {
    max-width: 1200px;
    width: 100%;
    margin: 26px auto 0;
  
    height: 100%;
}

/* .buildProjectContents {
    padding: 40px 120px;
} */

.buildProjectContents .question, .buildProjectContents .question .stepWrap {
    flex-direction: row;
    align-items: center;
}

.buildProjectContents .answer {
    margin-top: 16px;
    margin-bottom: 28px;
}

.buildProjectContents .question {
    position: relative;
    display: flex;
}

.buildProjectContents .question p {
    color: #000;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}

.buildProjectContents .question p span {
    font-size: 13px;
    color: #b1b1b1;
    display: block;
    line-height: 20px;
    padding-top: 10px;
}

.buildProjectContents .question p span:before {
    content: "❗";
    color: #336d47;
}

.buildProjectContents .answer .inputWrap input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #bcbccb;
    box-sizing: border-box;
    height: auto!important;
    color: #696980;
    font-size: 14px;
    border-radius: 4px;
}

.inputWrap input:focus{
    outline: none ;
}

.buildProjectContents .answer .selectMotivation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.buildProjectContents .answer div.selectMotivation .ccheck:first-child {
    margin-right: 24px;
}

.buildProjectContents .answer div.selectMotivation .ccheck {
    position: relative;
}

.buildProjectContents .answer div.selectMotivation .ccheck input[type=radio] {
    display: block;
    opacity: 0;
    z-index: 999;
}

.buildProjectContents .answer div.selectMotivation .ccheck label {
    width: 100%;
}

.buildProjectContents .answer div.selectMotivation .ccheck .chk_subject {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buildProjectContents .answer div.selectMotivation .ccheck input[type=radio]+label .chk_subject .radio {
    width: 18px;
    height: 18px;
    border-radius: 100px;
    border: 1px solid #e3e3e3;
    position: relative;
    box-sizing: border-box;
    margin-right: 8px;
}

.buildProjectContents .answer div.selectMotivation .ccheck .chk_subject span {
    font-size: 16px;
}


.buildProjectContents .answer .noticeBox {
    background-color: #646464;
    display: inline-block;
    width: auto;
    box-sizing: border-box;
    padding: 9px 20px;
    margin-top: 20px;
}

div.noticeBox p {
    font-size: 15px !important;
}

.buildProjectContents .answer ul li.checkBoxWrap.selectPurpose {
   
    display: flex;
    /* grid-template-columns: repeat(5,1fr); */
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    width: 51%;

}

.buildProjectContents .answer ul li.checkBoxWrap label {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px 0;
    height: 40px;
    cursor: pointer;
}


/* 프로젝트 분야 */
.checkBoxWrap {
    flex-direction: row;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-bottom: 0;
}

.checkBox .txt {
    font-size: 1rem;
    color: #696980;
    margin-left: 30px;
}

.checkmark {
    top: 0;
    background-color: #eee;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #bcbccb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.checkmark:hover{
    background-color: #dddddd;
}

.checkBox input:checked~.checkmark {
    background-color: #336d47;
    border: none;
}

.checkBox input:checked~.checkmark:after {
    display: block;
}

.checkBox .checkmark:after {
    left: 8px;
    top: 3px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* 대표이미지 */
.buildProjectContents .answer .thumbnailWrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.buildProjectContents .answer .thumbnailWrap .thumbnailBox {
    width: 385px;
    height: 230px;
    background-color: #f5f5f5;
    border-radius: 4px;
    background-position: 50%;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 27px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.buildProjectContents .answer .thumbnailWrap .thumbnailBox button {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    border: none;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.buildProjectContents .answer .thumbnailWrap .thumbnailBox img.thumbnailImage {
    position: absolute;
}

.buildProjectContents .answer .thumbnailWrap .uploadBox {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.uploadBox div label {
    /* font-size: 13px;
    cursor: pointer;
    padding: 10px 15px;
    margin: 15px 0;
    border: 1px solid #b5b9c3;
    border-radius: 4px; */
    border: 1px solid #9796a7;
    color: #9796a7;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 12px;
    padding: 7px 20px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.buildProjectContents .answer .thumbnailWrap .uploadBox ul li {
    font-size: 15px;
    color: #42495b;
    line-height: 18px;
    margin-bottom: 7px;
}

.buildProjectContents .answer .thumbnailWrap .uploadBox ul li:before {
    content: "*";
    color: #336d47;
}


/* 지역 */
.selectBoxWrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.selectBox {
    width: 43%;
    max-width: 413px;
    margin-right: 20px;
}

/* 모집인원 */
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.plusMinusBtnWrap {
    margin-left: 10px;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
}

.imageBtn {
    width: 14px;
    height: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 14px;
    border-radius: 4px;
    border: none;
}

.imageBtn.minus {
    background-image: url("https://letspl.me/_next/static/media/ic-minus.60a2563f3ba2754181f1a392fabd42db.svg");
}

.imageBtn.plus {
    background-image: url("https://letspl.me/_next/static/media/ic-plus.7ee51a4c6669cd7927a2249d1071a3c3.svg");
}

.imageBtn.minus, .imageBtn.plus {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 14px 14px;
}

.countNumber {
    margin: 0 20px;
    color: #336d47;
}

.addMemberBtnWrap {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-top: 20px;
}

.addMemberBtnWrap button:first-child {
    margin-right: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #222;
}

.addMemberBtnWrap button {
    width: auto;
    background-color: #fff;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 28px;
    border: 1px solid #e2e2e2;
    color: #42495b;
    font-size: .825rem;
    border-radius: 4px;
}


/* 출시 플랫폼 */
.platformResult a{
    text-decoration: none;
    display: none;
    cursor: pointer;
}



/* 저장, 작성완료 */
.confirmBtnWrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
}

.btnWrap {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.btnWrap button {
    width: auto!important;
    width: 40%!important;
    max-width: 140px!important;
}

.confirmBtnWrap .saveBtn {
    width: auto!important;
}

.btnWrap button.grayBtn, .btnWrap button.pinkBtn {
    color: #fff;
    font-size: .75rem;
    padding: 0 35px;
    border-radius: 4px;
    width: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

.confirmBtnWrap button:nth-child(2) {
    margin: 0 6px;
}

.btnWrap button.grayBtn {
    background-color: #9796a7;
}

.btnWrap button.pinkBtn {
    background-color: #336d47;
}


#makeStudy {
    display: none;
}

div#referenceWrap div{
    margin-bottom: 5px;
}

/* 스터디 분야/키워드*/
/*input#keyword{*/
/*    text-transform: lowercase;*/
/*}*/

/* 이미지 미리보기 */
.uploadImgViewWrap{
    margin-top: 28px;
}
.uploadImgUl{
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.uploadImgLi{
    width: 153px;
    height: 96px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #ddd;
    margin-right: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
}
.uploadImgLi img{
    height: 100%;
}
.uploadImgPtag{
    font-size: 1rem;
    color: #42495b;
    line-height: 20px;
    margin-bottom: 18px !important;
    font-weight: 600;
}


.uploadImgLi:hover{
    /* transform: scale(1.02); */
    border: 1px solid #00704a;
}

/* 검색태그 */
.srhTag{
    width: 600px !important;
    max-width: 100%  !important;
    border: 1px solid #bcbccb  !important;
    border-radius: 4px  !important;
    height: auto;
    padding: 10.5px  !important;
    font-size: 14px;
}





























p {
    margin : 0 !important;
}

select {
    background-color: unset;
}

input[type="text"], textarea, select {
    background-color: #ffffff !important;

}

textarea::placeholder {
    line-height: 1.5;
    color: #333 !important;
}


input[type="checkbox"], input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: auto;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 1;
    width: 1em;
}
input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: auto;
    -ms-appearance: none;
    appearance: auto;
}



/* Button */
input[type="submit"], input[type="reset"], input[type="button"], button,
.button {
-moz-appearance: none;
-webkit-appearance: none;
-ms-appearance: none;
appearance: none;
-moz-transition: background-color 0.2s ease-in-out, color 0.2s
ease-in-out;
-webkit-transition: background-color 0.2s ease-in-out, color 0.2s
ease-in-out;
-ms-transition: background-color 0.2s ease-in-out, color 0.2s
ease-in-out;
transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
border-radius: 0;
border-style: solid;
border-width: 1px;
cursor: pointer;
display: inline-block;
font-weight: 700;
height: 3.25em;
letter-spacing: 0.07em;
line-height: 3.35em;
overflow: hidden;
padding: 0 1.75em;
text-align: center;
text-decoration: none;
text-overflow: ellipsis;
text-transform: uppercase;
white-space: nowrap;
}

input[type="submit"].icon, input[type="reset"].icon, input[type="button"].icon,
button.icon, .button.icon {
padding-left: 1.35em;
}

input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before,
button.icon:before, .button.icon:before {
margin-right: 0.5em;
}

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit,
button.fit, .button.fit {
width: 100%;
}

input[type="submit"].small, input[type="reset"].small, input[type="button"].small,
button.small, .button.small {
font-size: 0.8em;
}

input[type="submit"].large, input[type="reset"].large, input[type="button"].large,
button.large, .button.large {
font-size: 1.15em;
padding: 0 3.5em;
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled,
input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled,
button.disabled, button:disabled, .button.disabled, .button:disabled {
pointer-events: none;
}

@media screen and (max-width: 480px) {
input[type="submit"], input[type="reset"], input[type="button"], button,
.button {
padding: 0;
}
}

input[type="submit"], input[type="reset"], input[type="button"], button,
.button {
background-color: transparent;
border-color: rgba(144, 144, 144, 0.3);
color: #444;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
button:hover, input[type="submit"]:active, input[type="reset"]:active,
input[type="button"]:active, button:active, input[type="submit"].icon:before,
input[type="reset"].icon:before, input[type="button"].icon:before,
button.icon:before, .button.icon:before {
color: #444;
}

input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary,
button.primary, .button.primary {
border: none;
background-color: white;
}

input[type="submit"].primary.icon:before, input[type="reset"].primary.icon:before,
input[type="button"].primary.icon:before, button.primary.icon:before,
.button.primary.icon:before {
color: #ffffff;
}