a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
h2{
    display: flex;
    flex-direction: column;
}
.banner {
    padding: 40px 0 24px;
}
.banner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.banner h2 .bannerspan1{
    color: #1187cf;
    font-size: .875rem;
}

.banner h2 .bannerspan2{
    color: #444;
    font-size: 1.75rem;
    font-weight: bold;
}

.todayuser {
    margin-top: 20px;
    margin-bottom: 20px;
}

.todayuser .pick {
    color: #444;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 20px;
}
.todayuser .todayuserWrap {
    background-color: #f3f3f3;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    border-radius: 8px;
    overflow: hidden;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: row;
}
.todayuserWrap .imgWrap img {
    width: 393px;
    height: 272px;
    object-fit: contain;
    /* border: 1.5px solid #fafafa; */
}
.todayuserWrap .txtWrap {
    width: 100%;
    padding-right: 64px;
}
.todayuserWrap .txtWrap .txttop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding-right: 12px;
    padding-top: 20px;
}
.todayuserWrap .txtWrap .txttop p {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.todayuserWrap .txtWrap .txttop .best {
    position: absolute;
    width: 54px;
    top: -6px;
    right: -48px;
}
.icon{
    width:28px;
}
.userId{
    font-size: 15px;
    color: #444;
    margin-left: 8px;
    font-weight: bold;
}
.todayuserWrap .txtWrap .txtrow .tagtxt {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -4px;
}

.nowGroup{
    margin-bottom: 2.5em;
}
.tagdiv {
    padding: 3.8px 12.7px 6.2px 12.3px;
    border-radius: 13px;
    border: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 4px;
    background-color: #fff;
}
.none{
    margin: 0 0 0 0;
}

.tagname {
    font-weight: 600;
    font-size: 14px;
    color: #444;
    margin: 0 0 0 0;
}

.smtxt{
    font-size: 18px;
    font-weight: bold;
    color: #1187cf;
    margin-bottom: 10px;
    margin-top: 10px;
}
.maintxt{
    margin: 0 0 1em 0;
    font-size: initial;
}
.userSearchOption .title {
    font-size: 20px;
    font-weight: 700;
    color: #444;
    margin-bottom: 20px;
}

.userSearchOption .searchOption {
    display: -webkit-flex;
    display: flex;
    margin-top: 22px;
}
.userSearchOption .searchOption .searchSelect {
    max-width: 140px;
    width: 100%;
    border: 1px solid #bcbccb;
    border-radius: 4px;
    height: 40px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: bold;
    color: #696980;
    margin-right: 10px;
    padding-left: 20px;
    background-image: url(../../static/images/triangle.png);
    background-position: 90%;
    background-repeat: no-repeat;
    appearance: none;
}
select:focus{
    background-size: 18px;
}
.newMark{
    position: relative;
}
.red {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 37px;
    height: 37px;
}
.like{
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #fff;
    background-image: url(../../static/images/grayheart.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 50%;
    bottom: -10px;
    right: -7px;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
}

.userGrid{
    border-radius: 20px;
    position: relative;
    width: 285px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 20px 15px 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all .2s;
}

.userGridtop{
    display: flex;
}
.userIn{
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #f3f3f4;
    background-color: #efefef;
    margin-right: 20px;
    flex-shrink: 0;
    position: relative;
    
}

.user1{
    display: flex;
    height: 35px;
    line-height: 35px;
}

.boo{
    margin-top: -0.6em;
}

.bitdiv{
    display: flex;
    height: 20px;
    line-height: 20px;
    margin-right: 6px;
}
.bitimg{
    margin-right: 5px;
}

.heartdiv{
    display: flex;
    height: 20px;
    line-height: 20px;
}
.heartimg{
    margin-right: 5px;
}

.bitptag {
    margin: 0;
}
.heartptag {
    margin: 0;
}
.info{
    font-size: 14px;
    color: #333;
}
.num{
    font-size: 14px;
    color: #999;
    margin-left: 10px;
}

.usertag{
    margin:0 0 0.7rem 0;
}

.ulusertag li{
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    margin-right: 4px;
    font-size: 13px;
    font-weight: bold;
}
.userinfo{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


.btimg{
    position: absolute;
    width: 18px;
    right: 173px;
    bottom: 15px;
}
.btchat{
    font-size:13px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-weight: 600;
}
.btchat:hover {
    background-color: #1187cf;
    color: #fff;
}

.userGridTool {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
    box-sizing: border-box;
}
.userGridList{
    width: 100%;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(4,1fr);
}
.userLvIcon{
    margin-right: 8px;
}


.more{
    box-sizing: border-box;
    border: 1px solid #81839c;
    margin-top: 38px;
    display: inline-block;
    left: 50%;
    position: relative;
    margin-bottom: 28px;
}
.morebtn{
    display: inline-block;
    font-size: 1rem;
    color: #81839c;
    padding: 10px 76px;
    font-weight: 600;
}
