<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer id="footerWrapper">
    <div id="footer">
        <div id="footerWrap" class="flex">
            <div id="left">
                <div id="logoWrap">
                    <img src="/images/headerLogo.png">
                </div>
                <div id="textWrap">
                    <table>
                        <tr>
                            <th>대표자</th>
                            <td>Throws3</td>
                        </tr>
                        <tr>
                            <th>사업자등록번호</th>
                            <td>123 - 45 - 67890</td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>강남구 테헤란로 26길 , Throws 3층, 4층</td>
                        </tr>
                        <tr>
                            <th>대표번호</th>
                            <td>02-1234-1234</td>
                        </tr>
                    </table>
                    <span>© 2021-2022 · workspace(주), All Rights Reserved</span>
                </div>
            </div>
            <div id="right" class="flex">
                <ul>
                    <li class="title">바로가기</li>
                    <li><a href="/main/userList">팀원찾기</a></li>
                    <li><a href="/project/projectList">프로젝트/스터디</a></li>
                    <li><a th:href="@{/story/storyList(userNum=${session.userNum})}">블로그</a></li>
                    <li><a href="/lounge">라운지</a></li>
                </ul>
                <ul>
                    <li class="title">이용안내</li>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <ul>
                    <li class="title">서비스약관</li>
                    <li><a href="#">서비스 이용약관</a></li>
                    <li><a href="#">개인정보취급방침</a></li>
                    <li><a href="#">전자금융거래약관</a></li>
                    <li><a href="#">경제/환불약관</a></li>
                </ul>
            </div>
        </div>
    </div>
    </footer>
</th:block>
</html>