<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>header</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
</head>
<body>
<header id="header">
    <nav class="header"><img src="/images/headerLogo.png">
        <ul class="bar web">
            <li><a href="#">팀원찾기</a></li>
            <li><a href="#">프로젝트/스터디</a></li>
            <li><a href="#">블로그</a></li>
            <li><a href="#">라운지</a></li>
        </ul>
        <div class="loginWrap"><a class="joinAndLogin">로그인</a><a class="joinAndLogin">가입</a></div>
        <div class="profileWrap">
            <div class="boxBigWrap">
                <div class="boxWrap">
                    <div class="grayBox"><span>0</span><span>P</span></div>
                    <a href="#" class="chargeButton web">충전하기</a>
                </div>
                <a href="#" class="buildProject">프로젝트 생성</a>
            </div>
            <div id="profile">
                <img src="https://letspl.me/assets/images/prof-no-img.png" class="profile">
            </div>
        </div>
        <div class="hoverMenu">
            <div class="profileSummary">
                <div class="profileImgWrap">
                    <a href="#" class="profileImgWrapA">
                        <img src="https://letspl.me/assets/images/prof-no-img.png" class="myPageInfo">
                    </a>
                    <div class="profileImgWholeWrap">
                    <div class="profileImgWrapFirstLine">
                        <span class="lvColor">Lv.</span><span class="lvColor2">0</span>
                        <a href="#" class="logOut">로그아웃</a>
                    </div>
                    <div class="profileImgWrapSecondLine">
                        <a href="#">
                            <p class="profileUserId">아이디에요</p>
                        </a>
                    </div>
                    <div class="profileImgWrapThirdLine">
                        <a href="#">
                            <p class="positionTxt">본캐 : UI/UX기획 / 중수</p>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="navList">
                <div class="navListFirstDiv"><a href="#" class="navListFirstA">내 프로필</a></div>
                <div class="navListSecondDiv"><a href="#" class="navListSecondA">정보 수정</a></div>
                <div class="navListThirdDiv"><a href="#" class="navListThirdA">프로젝트 현황</a></div>
            </div>
            <div class="alarmList">
                <ul>
                    <li class="firstAlarm">내 프로젝트/스터디(<span>0</span>)</li>
                    <li class="firstAlarmContent"><p class="firstAlarmContentP">프로젝트/스터디가 없습니다.</p><a href="#"><p class="firstAlarmContentP2">프로젝트/스터디 만들기 ></p></a></li>
                </ul>
                <ul>
                    <li class="secondAlarm">신규 알림(<span>0</span>)</li>
                    <li class="secondAlarmContent"><p class="secondAlarmContentP">알림메시지가 없습니다.</p></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="mobileBar">
        <li><a href="#">팀원찾기</a></li>
        <li><a href="#">프로젝트/스터디</a></li>
        <li><a href="#">블로그</a></li>
        <li><a href="#">라운지</a></li>
    </ul>
</header>

<div class="modalWindow">
    <div id="my_modal">
        <a class="modal_close_btn"><img src="/images/free-icon-font-cross-3917759.png" class="xIcon"></a>
        <p class="snsLoginP">로그인</p>
        <div class="snsWrap">
            <button class="kakao_button">카카오 계정으로 로그인</button>
            <button class="face_button">페이스북 계정으로 로그인</button>
            <button class="google_button">구글 계정으로 로그인</button>
        </div>
        <div class="turnJoinWrap">
            <button class="turnJoin">회원 가입하기</button>
        </div>
    </div>
</div>

<div class="modalWindow">
    <div id="my_modal2">
        <a class="modal_close_btn"><img src="/images/free-icon-font-cross-3917759.png" class="xIcon"></a>
        <p class="snsLoginP">회원가입</p>
        <div class="snsWrap">
            <button class="kakao_button2">카카오 계정으로 회원가입</button>
            <button class="face_button2">페이스북 계정으로 회원가입</button>
            <button class="google_button2">구글 계정으로 회원가입</button>
        </div>
        <div class="joinPromise">
            <p class="firstPMaybe">소셜 로그인으로 가입 시<a href="#" class="firstA"> 이용약관,</a><a href="#" class="secondA"> 개인정보처리방침,</a><a
                    href="#" class="thirdA"> 전자금융거래약관</a>에 동의함으로 처리됩니다.</p>
        </div>
        <div class="turnLoginWrap">
            <button class="turnLogin">로그인 하기</button>
        </div>
    </div>
</div>

<div class="modalWindow">
    <div id="my_modal3">
        <a class="modal_close_btn"><img src="/images/free-icon-font-cross-3917759.png" class="xIcon2"></a>
        <div class="letter">
            <p class="completeP">로그아웃이 완료되었습니다.</p>
            <button class="complete">확인</button>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $('#profile').on('click', function(){
        if($('.hoverMenu').css('display') === 'none'){
            $('.hoverMenu').show();
        }else{
            $('.hoverMenu').hide();
        }
    });

    $('.joinAndLogin').each(function(i, btn){
        $(btn).on("click", function(){
            $($(".modalWindow").get(i)).show();
        });
    });

    $('.logOut').on("click", function(){
        $($(".modalWindow").get(2)).show();
    });

    $('.modal_close_btn').each(function(i, btn){
        $(btn).on("click", function(){
            $($(".modalWindow").get(i)).hide();
        });
    });

    $('.complete').on("click", function(){
        $($(".modalWindow").get(2)).hide();
    });
</script>
</html>