<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header2</title>
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/header2.css" type="text/css">
</head>
<body>
<header>
    <nav class="header"><img src="../../static/images/headerLogo.png">
        <ul class="bar">
            <li><a href="#">팀원찾기</a></li>
            <li><a href="#">프로젝트/스터디</a></li>
            <li><a href="#">블로그</a></li>
            <li><a href="#">라운지</a></li>
        </ul>
        <div class="profileWrap">
        <div class="boxBigWrap">
        <div class="boxWrap">
        <div class="grayBox"><span>0</span><span>P</span></div>
            <a href="#" class="chargeButton">충전하기</a>
        </div>
            <a href="#" class="buildProject">프로젝트 생성</a>
        </div>
            <div class="profile">
                <img src="https://letspl.me/assets/images/prof-no-img.png" class="profile">
            </div>
        </div>
    </nav>
</header>
</body>
</html>