<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css">
</head>
<body>
<header>
    <nav class="header"><img src="../../static/images/headerLogo.png">
        <ul class="bar">
            <li><a href="#">팀원찾기</a></li>
            <li><a href="#">프로젝트/스터디</a></li>
            <li><a href="#">블로그</a></li>
            <li><a href="#">라운지</a></li>
        </ul>
        <div class="loginWrap"><a class="joinAndLogin">가입</a><a class="joinAndLogin">로그인</a></div>
    </nav>
</header>
</body>
</html>