<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.workspace.mapper.LoungeMapper">
    <insert id="insertLounge">
        insert into tbl_lounge
        (user_num, lounge_content)
        values(#{userNum}, #{loungeContent});
    </insert>
    <insert id="insertLikeLounge">
        insert into tbl_like_lounge
        (lounge_num, user_num)
        values(#{loungeNum}, #{userNum});
    </insert>
    <insert id="insertLoungeReply">
        insert into tbl_lounge_reply
        (lounge_num, user_num, lounge_reply_content)
        values(#{loungeNum}, #{userNum}, #{loungeReplyContent});
    </insert>
</mapper>