<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.workspace.mapper.NoticeMapper">
    <insert id="insertNotice">
        insert into tbl_notice
        (notice_title, notice_content, notice_img, notice_img_uuid, notice_img_path)
        VALUES(#{noticeTitle}, #{noticeContent},  #{noticeImg}, #{noticeImgUuid}, #{noticeImgPath})
    </insert>


</mapper>