<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.workspace.mapper.UserMapper">
    <!--유저 리스트-->
    <select id="getList" resultType="userVO">
        select * from tbl_user
    </select>
    <!--유저 조회-->
    <select id="getInfo" resultType="userVO">
        select * from tbl_user
        where user_num=#{userNum}
    </select>

    <!--포트폴리오 추가-->
    <insert id="insertPortfolio">
        insert into tbl_portfolio
        (user_num, port_url)
        values(#{userNum}, #{portUrl})
    </insert>
    <!--포트폴리오 리스트-->
    <select id="getPortList" resultType="userPortfolioVO">
        select * from tbl_portfolio
    </select>
    <!--포르폴리오 조회-->
    <select id="getPortInfo" resultType="userPortfolioVO">
        select * from tbl_portfolio
        where user_num = #{userNum}
    </select>

    <!--유저태그 추가-->
    <insert id="insertUserTag">
    insert into tbl_user_tag
    (user_num, tag_name)
    values(#{userNum}, #{tagName})
    </insert>
    <!--유저태그 리스트-->
    <select id="getTagList" resultType="userTagVO">
        select * from tbl_user_tag
    </select>

    <!--관심사 추가-->
    <insert id="insertInterest">
        insert into tbl_user_interest
        (user_num, interest)
        values(#{userNum}, #{interest})
    </insert>
    <!--관심사 리스트-->
    <select id="getInterestList" resultType="userInterestVO">
        select * from tbl_user_Interest
    </select>


    <!--팔로우 추가-->
    <insert id="insertFollow">
        insert into tbl_follow_user
        (follower_user, following_user)
        values(#{followerUser}, #{followingUser})
    </insert>
    <!--팔로우 리스트-->
    <select id="getFollowList" resultType="userFollowVO">
        select * from tbl_follow_user
    </select>


    <!--알림 추가-->
    <insert id="insertAlert">
    insert into tbl_user_alert
    (user_num, alert_part, numbers, alert_type)
    values(#{userNum}, #{alertPart}, #{numbers}, #{alertType})
    </insert>
    <!--알림 리스트-->
    <select id="getAlertList" resultType="userAlertVO">
        select * from tbl_user_alert
    </select>

    <!-- exp 리스트  -->
    <select id="getExpList" resultType="userExpVO">
         select * from tbl_user_exp
    </select>
    <!-- exp 추가   -->
    <insert id="insertExp">
     insert into tbl_user_exp
    (user_num, exp_date, exp_value, exp_history)
    values(#{userNum},#{expDate},#{expValue},#{expHistory})
    </insert>

    <!-- point list   -->
    <select id="getPointList" resultType="userPointVO">
         select * from tbl_user_point
    </select>
    <!-- point 추가   -->
    <insert id="insertPoint">
    insert into tbl_user_point
    (user_num, point_date, point_value, point_history, point_status)
    values(#{userNum}, #{pointDate}, #{pointValue}, #{pointHistory},#{pointStatus})
    </insert>
    <!--  kakao로 받아온 정보 userVO에 넣기-->
    <insert id="kakaoJoin">
        insert into tbl_user
        (user_id, user_nick_name, user_main_skill, user_main_detail, user_main_level, user_code, user_img_name)
        VALUES(#{userId},#{userNickName},#{userMainSkill},#{userMainDetail},#{userMainLevel},#{userCode},#{userImgName})
    </insert>


    <select id="getUserList" resultType="userVO">
        select * from tbl_user
        <trim prefix="where(" suffix=")" prefixOverrides="and">
        <trim prefix="and">
        <if test="locationFilter!='' and locationFilter!='지역 미지정'">
            user_location = #{locationFilter}
        </if>
        <if test="skillFilter!='' and skillFilter!='직무'">
            user_main_detail = #{skillFilter}
        </if>
        </trim>
        </trim>
        order by user_num desc
        limit 0,${limit}
    </select>

</mapper>